<div class="bg-img-wrapper">
    <img class="bg-img" src="__PUBLIC__/Home/images/mycenter_bg_2.jpg">
    <div class="masker abs"></div>
</div>
<div class="inner tc">
    <a class="pic mgtb-20" href="#2">
        <img src="{$user.company_logo}">
    </a>
    <h2 class="txt-lg5">
        <span>昵称</span>
    </h2>
    <div class="elli mgtb-10">
         <span class="text" title="">现在就介绍一下自己最明显的特点，让人们记住我。</span>
    </div>
    <div class="mgtb-20">
        <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-person"></i> 粉丝 <span>0</span></a>
        <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-add"></i> 关注 <span>2</span></a>
        <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-heart"></i> 赞过 <span>0</span></a>
        <a class="btn2" href="#2"><i class="icon4 icon4-sound"></i> 声音 <span>0</span></a>
    </div>
</div>
<div>
    <div class="tab-1 hor-1 abs tc">
        <ul>
            <li class="item active">
                <a href="#2">
                    <i class="icon4 icon4-house mgr-5"></i>
                    <span class="inl-b">个人主页</span>
                </a>
            </li>
            <li class="item">
                <a href="#2">
                    <i class="icon4 icon4-backstage mgr-5"></i>
                    <span class="inl-b">主播工作台</span>
                </a>
            </li>
            <li class="item">
                <a href="#2">
                    <i class="icon4 icon4-backstage mgr-5"></i>
                    <span class="inl-b">作家工作台</span>
                </a>
            </li>
        </ul>
    </div>
</div>