<div class="nav-1">
<div class="menu-title"></div>
<ul m-name="menu">
  <li class="item active sub-l">
    <a class="aside_title" href="#2">
      <i class="iconfont icon-ic_home"></i>首页
    </a>
  </li>
  <li class="item sub-l">
    <a class="aside_title">
      <i class="iconfont icon-ic_radio"></i>节目
    </a>
    <ul class="sub-m">
      <li class="item">
        <a href="{:U('Home/User/voice_create_to_sepcial')}">上传节目</a>
      </li>
      <li class="item">
        <a href="{:U('Home/User/voice_mine')}">我的声音</a>
      </li>
      <li class="item">
        <a href="#2">我的专辑</a>
      </li>
    </ul>
  </li>
    <li class="item gt-40 sub-l">
      <a class="aside_title">
        <i class="iconfont icon-ic_fans"></i>社群
      </a>
      <ul class="sub-m">
        <li class="item">
          <a href="#2">评论</a>
        </li>
        <li class="item">
          <a href="#2">收到的赞</a>
        </li>
        <li class="item">
          <a href="#2">我的专辑</a>
        </li>
      </ul>
    </li>
  <li class="item sub-l">
    <a class="aside_title">
      <i class="iconfont icon-ic_setting"></i>设置
    </a>
    <ul class="sub-m">
      <li class="item ">
        <a href="#2">账号设置</a>
      </li>
    </ul>
  </li>
</ul>
<div class="menu-bottom"></div>
</div>