<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>上传作品</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
                
               <!-- 引用 -->
               <include file="_book_top" /> 

        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">

                <!-- 引用 -->
                <include file="_book_left" />

            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2"><span class="intro j-pageTitle">作家工作台</span></div>
                    <div class="mainRight fl">
                        <div class="crumbsWrap">
                            <i><span>作品管理</span></i>
                        </div>
                        <div class="msgBoxTitle">
                            <p class="f12 c555">当前作品总数<span class="blue Num">1</span>本</p>
                            <a class="create button" id="create_book" href="javascript:;"><em class="icon"></em>创建作品</a>
                            <a class="zwhd button border-btn" href="#2"><em class="icon"></em>征文活动（6）</a>
                        </div>
                        <div class="worksCtrlWrap">
                            <div class="worksListWrap mb20">
                                <table class="worklist-table" width="100%" border="0" cellspacing="0">
                                    <colgroup>
                                        <col width="32px">
                                        <col width="220px">
                                        <col width="140px">
                                        <col width="100px">
                                        <col width="60px">
                                        <col width="60px">
                                        <col width="160px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="tl">书名</th>
                                            <th class="tl">最新章节</th>
                                            <th class="center">编辑分组</th>
                                            <th>收藏</th>
                                            <th>状态</th>
                                            <th class="center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="list" item="v">
                                            <tr class="active">
                                                <td></td>
                                                <td class="tl">
                                                    <div class="work-photo"><a href="#2" target="_blank"><img src="{$v.img}" width="83" height="108" alt=""></a></div>
                                                    <p class="work-name"><a href="#2" target="_blank">{$v.title}</a></p>
                                                </td>
                                                <td class="tl"><a href="javascript:">无最新章节</a></td>
                                                <td><em>灵异编辑组</em></td>
                                                <td><em class="Num">10</em></td>
                                                <td>新建</td>
                                                <td>
                                                    <div class="dib-wrap">
                                                        <a class="button blue" href="{:U('Home/User/book_draft',array('id'=>$v['id'], 'type'=>'add'))}">
                                                            <span class="icon"></span>
                                                            <i>写新章节</i>
                                                        </a>
                                                        <a class="button white" href="{:U('Home/User/book_create',array('id'=>$v['id']))}">
                                                            <span class="icon"></span><i>已发布章节</i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="7" align="center">{$page}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- 没有作品 -->
                        <div class="worksCtrlWrap hidden">
                            <div class="null">
                                <img src="__PUBLIC__/Home/images/null.png" width="204" height="148">
                                <p>你没有发布任何作品，<a class="button" href="#2">创建作品</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('#create_book').click(function(){
            _ajax_able_create();
        });
    });
</script>

<script type="text/javascript">
    //添加
    function _ajax_able_create(){
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_able_create')}",
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     window.location.href="{:U('Home/User/book_step_1')}";
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
    }

     //编辑
    function _ajax_edit(_data){
        var _json;
        $.ajax({  
            async:false,
            type:'post',  
            contentType:"application/x-www-form-urlencoded",
            url : "{:U('Admin/Baoming/ajax_edit')}",
            data: _data,
            dataType : 'json',
            success  : function(json) {  
                if(json.code == 0){
                    layer.msg(json.msg);
                    var selectID=$("#grid-table").getGridParam("selrow");
                    $("#grid-table").setRowData(selectID, json.data);
                    $("div[aria-describedby='dialog-confirm_edit'] .ui-dialog-titlebar-close").trigger("click");
                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
        return _json;  
    }

    //异步删除
    function _ajax_del(ids){
        var _json;
        $.ajax({  
            type:'get',  
            url : "{:U('Admin/Baoming/ajax_del')}",
            data:{ 
              id:ids 
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code == 0){
                    _json=json;
                    layer.msg(json.msg);
                    var selectRow = $("#grid-table").jqGrid('getGridParam','selrow');
                    $("#grid-table").delRowData(selectRow);
                }else{
                    layer.msg(json.msg);
                    _json=json;
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
        return _json;
    }
</script>