<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>我的作品列表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
                
               <!-- 引用 -->
               <include file="_book_top" /> 

        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">

                  <!-- 引用 -->
                  <include file="_book_left" />
                  
            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2"><span class="intro j-pageTitle">作家工作台</span></div>
                    <div class="mainRight pb0 fl">
                        <div class="msgBoxTitle">

                            <!-- 引用 -->
                            <include file="_book_top_nav" />

                        </div>
                        <div class="managerWrap cf">
                            <div class="mLeftList fl">
                                <div class="leftListWrap">
                                    <div class="titleBox">
                                        <p>共 {$juan_count} 卷， {$all_zhang_count} 章</p>
                                    </div>
                                    <div class="sectionManage">
                                        <div class="sectionList">

                                            <foreach name="juan_list" item="vo" key="ko">
                                                <div class="act-aa">
                                                    <div class="volume <if condition='$ko eq 0'> act </if>" data-id="{$vo.id}">
                                                        <div class="volumeBox">
                                                            <p><cite></cite>第一卷<span>共{$vo.num}章</span></p>
                                                            <p class="f12">{$vo.title}</p>
                                                        </div>
                                                    </div>
                                                    <div class="sectionWrap">
                                                        <ul>
                                                            <foreach name="vo['_child']" item="v" key="k">
                                                                <li class="<if condition='$k eq 0'> act act_first </if>">
                                                                    <div class="sectionBox" data-id="{$v.id}">
                                                                        <p><em>{$v.title}</em></p>
                                                                        <p class="f12"><i>{$v.time}</i>共{$v.num}字</p>
                                                                    </div>
                                                                </li>
                                                            </foreach>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </foreach>

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- 查看/编辑分卷 -->
                            <div class="mRightContent fl hidden volumeCon">
                                <div class="midWrap viewWrap">
                                    <form name="formDraft" method="post" action="#2">
                                        <div class="sectionViewWrap">
                                            <div>
                                            <div class="sectionBtnBox cf">
                                                <div class="titleBtn fr">
                                                    <a class="button white fj-del" href="javascript:">删除</a>
                                                    <a class="button modify xg-an" href="javascript:">修改</a>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="newVolume">
                                                <h3><b>第一卷</b><span>本卷章节 <em class="num">2</em> 章</span></h3>
                                            </div>
                                            <div class="volumeForm">
                                                <ul>
                                                    <li>
                                                        <em>分卷名称</em>
                                                        <p class="title">第一卷sadfsdf</p>
                                                    </li>
                                                    <li>
                                                        <em>分卷介绍</em>
                                                        <p class="content">第一卷介绍</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="midWrap editWrap hidden">
                                    <div class="sectionBtnBox cf">
                                        <div class="titleBtn fr">
                                            <a class="button save_juan" href="javascript:"><span class="icon"></span>保存</a>
                                        </div>
                                    </div>
                                    <div class="newVolume">
                                        <h3><b>第一卷</b><span>本卷章节 <em class="num">2</em> 章</span></h3>
                                    </div>
                                    <div class="volumeForm">
                                        <ul>
                                            <li>
                                                <em>分卷名称</em>
                                                <input class="midInput title" type="text" value="第一卷sadfsdf">
                                            </li>
                                            <li>
                                                <em>分卷介绍</em>
                                                <textarea class="content">第一卷介绍</textarea>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 查看/编辑章节 -->
                            <div class="mRightContent fl chapterCon">
                                <div class="midWrap viewWrap">
                                    <div class="sectionViewWrap">
                                        <div class="sectionBtnBox cf">
                                            <div class="titleBtn fr">
                                                <a class="button white cg-del" href="javascript:">删除</a>
                                                <a class="button modify zj-xg" href="javascript:">修改</a>
                                            </div>
                                            <em class="c999">章节类型：</em>
                                            <b>公众章节</b>
                                        </div>
                                        <div class="zwText">
                                            <h3 class="title">【显示】前倾前屈群群群群</h3>
                                            <div class="content">【显示】前倾前屈群群群群群</div>
                                        </div>
                                        <div class="authorSay">
                                             <p>sklajflaskdjf</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="midWrap editWrap hidden">
                                    <div class="sectionViewWrap ">
                                        <div class="sectionBtnBox cf">
                                            <div class="titleBtn fr">
                                                <a class="button white zs-btn" href="javascript:">统计字数</a>
                                                <a class="button save_zhang" href="javascript:"><span class="icon"></span>保存</a>
                                            </div>
                                            <em class="c999">章节类型：</em>
                                            <b>公众章节</b>
                                        </div>
                                        <form id="" name="" method="post" action="">
                                            <div class="zwText">
                                                <div class="sectionEdit">
                                                    <input type="text" class="title" value="【编辑】前倾前屈群群群群">
                                                    <textarea class="content">【编辑】前倾前屈群群群群群</textarea>
                                                </div>
                                            </div>
                                            <div class="say-area">
                                                <p><textarea>sklajflaskdjf</textarea></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />


<style type="text/css">
    .confirmBtn_ztr{width: 100%;height: 30px;line-height: 30px;text-align: center;}
    .confirmBtn_ztr a{display: block;padding: 0px 10px;width: 100px;margin: 0 auto;}
</style>
<div class="mask"></div>
<div class="maskUI maskUI2">
    <div class="popupWrap w380">
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>新建分卷</h3>
        <div class="popupBody p30 book_juan">
            <div class="popupContent select">
                <p>分卷名称</p>
                <p class="mb20"><input class="longInput title" type="text" value=""></p>
                <p>分卷介绍</p>
                <textarea class="content"></textarea>
            </div>
            <div class="confirmBtn_ztr">
                <input type="hidden" class="longInput bid" value="{$_GET['id']}">
                <a class="button full" id="create_juan" href="javascript:">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="maskUI maskUI4">
    <div class="popupWrap w380">
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>消息提示</h3>
        <div class="popupBody p30">
            <div class="popupContent centerTip">
                <p>确定要删除该卷吗？</p>
            </div>
            <center class="confirmBtn">
                <a href="javascript:;" class="button">确定</a>
                <a href="javascript:;" class="button white">取消</a>
            </center>
        </div>
    </div>
</div>
<div class="maskUI maskUI5">
    <div class="popupWrap w380">
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>消息提示</h3>
        <div class="popupBody p30">
            <div class="popupContent centerTip">
                <p>删除成功，回收站内可找回</p>
            </div>
            <center class="confirmBtn">
                <a href="javascript:;" class="button">确定</a>
            </center>
        </div>
    </div>
</div>
<div class="maskUI maskUI6">
    <div class="popupWrap w380">
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>消息提示</h3>
        <div class="popupBody p30">
            <div class="popupContent centerTip">
                <p>字数为：9</p>
            </div>
            <center class="confirmBtn">
                <a href="javascript:;" class="button">确定</a>
            </center>
        </div>
    </div>
</div>

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('#create_juan').click(function(){
            var bid=$('.book_juan .bid').val();
            var title=$('.book_juan .title').val();
            var content=$('.book_juan .content').val();

            if(title&&content){
                _ajax_add_juan(bid, title, content);
            }
        });

        //点击章节
        $('.sectionBox').click(function(){
            $('.chapterCon .viewWrap').show();
            $('.chapterCon .editWrap ').hide();

            var zid=$(this).attr('data-id');
            $('.cg-del').attr('data-id', zid);

            _ajax_render_zhang_info(zid);
        });

        //点击卷
        $('.volume').click(function(){
            $('.volumeCon .viewWrap').show();
            $('.volumeCon .editWrap ').hide();

            var jid=$(this).attr('data-id');
            $('.fj-del').attr('data-id', jid);

            _ajax_render_juan_info(jid);
        });

        //保存卷
        $('.save_juan').click(function(){
            var jid=$(this).attr('data-id');
            var title=$('.volumeCon .editWrap .title').val();
            var content=$('.volumeCon .editWrap .content').val();

            _ajax_edit_juan(jid, title, content);
        });

        //保存章
        $('.save_zhang').click(function(){
            var zid=$(this).attr('data-id');
            var title=$('.chapterCon .editWrap .title').val();
            var content=$('.chapterCon .editWrap .content').val();

            _ajax_edit_zhang(zid, title, content);
        });

        //删除章
        $('.cg-del').click(function(){
            var zid=$(this).attr('data-id');

            layer.confirm('删除成功，回收站内可找回', {
                btn: ['确定','取消'] 
            }, function(){
                if(zid){
                    _ajax_cg_del_zhang(zid);
                }
            }, function(){
                //取消
            });
        });

        //删除卷
        $('.fj-del').click(function(){
            var jid=$(this).attr('data-id');

            layer.confirm('确定要删除该卷吗？', {
                btn: ['确定','取消'] 
            }, function(){
                if(jid){
                    _ajax_fj_del_juan(jid);
                }
            }, function(){
                //取消
            });
        });

        $('.act_first .sectionBox').trigger('click');
    });
</script>
<script type="text/javascript">
    //异步渲染章节内容
    function _ajax_render_zhang_info(zid){
         var _json;
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_render_zhang_info')}",
             data: {
                'zid':zid
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     var data=json.data;

                     $('.chapterCon .viewWrap .zwText .title').html(data.title);
                     $('.chapterCon .viewWrap .zwText .content').html(data.content);

                     $('.chapterCon .editWrap .zwText .title').val(data.title);
                     $('.chapterCon .editWrap .zwText .content').val(data.content);
                     $('.chapterCon .editWrap .save_zhang').attr('data-id', data.id);
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //异步渲染卷内容
    function _ajax_render_juan_info(jid){
         var _json;
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_render_juan_info')}",
             data: {
                'jid':jid
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     var data=json.data;

                     $('.volumeCon .viewWrap .num').html(data.num);
                     $('.volumeCon .viewWrap .title').html(data.title);
                     $('.volumeCon .viewWrap .content').html(data.content);

                     $('.volumeCon .editWrap .num').html(data.num);
                     $('.volumeCon .editWrap .title').val(data.title);
                     $('.volumeCon .editWrap .content').val(data.content);
                     $('.volumeCon .editWrap .save_juan').attr('data-id', data.id);
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //添加卷
    function _ajax_add_juan(bid, title, content){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_add_juan')}",
             data: {
                'bid':bid,
                'title':title,
                'content':content
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                     window.location.reload();
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //编辑卷
    function _ajax_edit_juan(jid, title, content){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_edit_juan')}",
             data: {
                'id':jid,
                'title':title,
                'content':content
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //编辑卷
    function _ajax_edit_zhang(zid, title, content){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_edit_zhang')}",
             data: {
                'id':zid,
                'title':title,
                'content':content
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //异步删除
    function _ajax_cg_del_zhang(zid){
        var _json;
        $.ajax({  
            type:'get',  
            url : "{:U('Home/User/ajax_cg_del_zhang')}",
            data:{ 
              zid:zid 
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code == 0){
                    _json=json;
                    layer.msg(json.msg);
                    window.location.reload();
                }else{
                    layer.msg(json.msg);
                    _json=json;
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
        return _json;
    }

    //异步删除
    function _ajax_fj_del_juan(jid){
        var _json;
        $.ajax({  
            type:'get',  
            url : "{:U('Home/User/ajax_fj_del_juan')}",
            data:{ 
              jid:jid 
            },
            dataType : 'json',
            success  : function(json) {  
                if(json.code == 0){
                    _json=json;
                    layer.msg(json.msg);
                    window.location.reload();
                }else{
                    layer.msg(json.msg);
                    _json=json;
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
        return _json;
    }

    

</script>