<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>作品设置</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
            <div class="bg-img-wrapper">
                <img class="bg-img" src="__PUBLIC__/Home/images/mycenter_bg_2.jpg">
                <div class="masker abs"></div>
            </div>
            <div class="inner tc">
                <a class="pic mgtb-20" href="#2">
                    <img src="__PUBLIC__/Home/images/img1.jpg">
                </a>
                <h2 class="txt-lg5">
                    <span>昵称</span>
                </h2>
                <div class="elli mgtb-10">
                     <span class="text" title="">现在就介绍一下自己最明显的特点，让人们记住我。</span>
                </div>
                <div class="mgtb-20">
                    <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-person"></i> 粉丝 <span>0</span></a>
                    <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-add"></i> 关注 <span>2</span></a>
                    <a class="btn2 mgr-20" href="#2"><i class="icon4 icon4-heart"></i> 赞过 <span>0</span></a>
                    <a class="btn2" href="#2"><i class="icon4 icon4-sound"></i> 声音 <span>0</span></a>
                </div>
            </div>
            <div>
                <div class="tab-1 hor-1 abs tc">
                    <ul>
                        <li class="item active">
                            <a href="#2">
                                <i class="icon4 icon4-house mgr-5"></i>
                                <span class="inl-b">个人主页</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#2">
                                <i class="icon4 icon4-backstage mgr-5"></i>
                                <span class="inl-b">主播工作台</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#2">
                                <i class="icon4 icon4-backstage mgr-5"></i>
                                <span class="inl-b">作家工作台</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">

                <!-- 引用 -->
                <include file="_book_left" />

            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2"><span class="intro j-pageTitle">作家工作台</span></div>
                    <div class="mainRight mainRight1 pb0 fl">
                        <div class="workStateWrap cf">

							<form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
							   <table class="layui-table">
							     <colgroup>
							       <col width="350">
							       <col>
							     </colgroup>
							     <tbody>
							       <tr>
							         <td>
                                        <if condition="$row['img']">
                                            <img src="{$row.img}" class="img_box" width="114" height="152">
                                        <else/>
                                            <img src="__PUBLIC__/Home/images/img1.jpg" class="img_box" width="114" height="152">
                                        </if>
							           
							           <input type="file" id="add_upload_img" name="img" class="layui-upload-file"><br>
							           <div class="layui-elem-quote" style="margin-top: 3px;border-left: 0px solid red;color: red;padding: 3px;">
							             1.上传600X800像素、不超过5M的JPG图片；
							           </div>
                                       <div class="layui-elem-quote" style="margin-top: 3px;border-left: 0px solid red;color: red;padding: 3px;">
                                         2.图片应显示书名、笔名和站点；
                                       </div>
                                       <div class="layui-elem-quote" style="margin-top: 3px;border-left: 0px solid red;color: red;padding: 3px;">
                                         3.建议使用原创图片、不得使用真人照片及他人有版权的图片，以免引起纠纷；
                                       </div>
                                       <div class="layui-elem-quote" style="margin-top: 3px;border-left: 0px solid red;color: red;padding: 3px;">
                                         4.严禁上传色情、暴力、广告宣传或不适合公众观赏的图片，一经发现即做禁书处理；
                                       </div>
                                       <div class="layui-elem-quote" style="margin-top: 3px;border-left: 0px solid red;color: red;padding: 3px;">
                                         5.封面上传后，管理员将在2个工作日内审核。
                                       </div>
							         </td>

							         <td>
							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">作品名称</label>
							               <div class="layui-input-inline">
							                  <input type="text" name="title" value="{$row.title}" lay-verify="required" placeholder="" class="layui-input title">
							               </div>
							             </div>
							           </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">书号</label>
							               <div class="layui-input-inline">
							                 <input type="text" readonly="" value="{$row.no}" lay-verify="required" placeholder="" class="layui-input no">
							               </div>
							             </div>
							           </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							                <label class="layui-form-label">作品类型</label>
							                <div class="layui-input-inline" style="width: 100px;">
                                              <select name="type_1" class="type_1" lay-filter="type_1" lay-verify="required">
                                                <option value="">请选择</option>
                                                <foreach name="type_1" item="v">
                                                    <option value="{$v.id}" <if condition="$row['type_1'] eq $v['id']">selected</if>>{$v.title}</option>
                                                </foreach>
                                              </select>
                                            </div>
                                            <div class="layui-input-inline" style="width: 100px;">
                                              <select name="type_2" class="type_2" lay-verify="required">
                                                <option value="">请选择</option>
                                                <foreach name="type_2" item="v">
                                                    <option value="{$v.id}" <if condition="$row['type_2'] eq $v['id']">selected</if>>{$v.title}</option>
                                                </foreach>
                                              </select>
                                            </div>
							             </div>
							           </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">授权级别</label>
							               <div class="layui-input-inline">
							                   <select name="type" class="type" lay-verify="required">
                                                 <option value="">请选择</option>
							                     <foreach name="type" item='v'>
							                        <option value="{$v.id}" <if condition="$row['type'] eq $v['id']">selected</if>>{$v.title}</option>
							                     </foreach>
							                   </select>
							               </div>
							             </div>
							           </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">字数</label>
							               <div class="layui-input-inline">
							                 <input type="text" readonly="" value="{$row.num}" placeholder="" class="layui-input num">
							               </div>
							             </div>
							           </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">收藏</label>
							               <div class="layui-input-inline">
							                 <input type="text" readonly="" value="{$row.collect}" placeholder="" class="layui-input collect">
							               </div>
							             </div>
							           </div>

                         <div class="layui-inline">
                           <div class="layui-form-item">
                             <label class="layui-form-label">作品状态</label>
                             <div class="layui-input-inline">
                                <input type="radio" name="finish" class="finish" value="0" title="连载" <if condition="$row['finish'] eq 0">checked=""</if>>
                                <input type="radio" name="finish" class="finish" value="1" title="完结" <if condition="$row['finish'] eq 1">checked=""</if>>
                             </div>
                           </div>
                         </div>

							           <div class="layui-inline">
							             <div class="layui-form-item">
							               <label class="layui-form-label">作品标签</label>
							               <div class="layui-input-inline">
							                 <input type="text" value="{$row.tags_title}" lay-verify="required" placeholder="" class="layui-input filterTagBox">
							               </div>
							             </div>
							           </div>
							         </td>
							       </tr>

							       <tr>
							         <td class="center" colspan="2">
							           <div class="layui-form-item layui-form-text">
							               <label class="layui-form-label" style="width: 100%!important;text-align: left;">作品介绍</label>
							               <div class="layui-input-block">
							                   <textarea name="desc" placeholder="请输入内容" class="layui-textarea desc">{$row.desc}</textarea>
							               </div>
							           </div>
							         </td>
							       </tr>
							     </tbody>
							     <tfoot>
							       <tr>
							         <td colspan="2" style="text-align:right;">
                          <input type="hidden" name="id" lay-verify="required" class="layui-input id" value="{$row.id}">
							            <input type="hidden" name="tags" lay-verify="required" class="layui-input tags" value="{$row.tags}">
							            <input type="hidden" name="img" lay-verify="required" class="layui-input img"  value="{$row.img}">
							            <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1_add">确认</button>
							         </td>
							       </tr>
							     </tfoot>
							   </table>
							</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<div class="mask"></div>
<div class="maskUI maskUI1">
    <div class="popupWrap popupTag"> 
    <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>作品标签</h3>
        <div class="tagFilterList">
            <p>请选择最多{$type_count}个作为您的作品标签，每类中限选一个：</p>
            <div class="slimScrollDiv">
                <ul>
                    <foreach name="tags_type" item="vo">
                        <li> <span>{$vo.title}</span>
                            <div class="tagFilter">
                                <foreach name="vo['_child']" item="v">
                                    <a class="tag_a {$v.selected}" data-id="{$v.id}" href="javascript:">{$v.title}</a>
                                </foreach>
                            </div>
                        </li>      
                    </foreach>
                </ul>
            </div>
        </div>
        <center class="confirmBtn">
            <a class="button tags_select_btn" href="javascript:;">确定</a>
        </center>
    </div>
</div>
<div class="maskUI maskUI3">
    <div class="fixed-box-init">
        <div class="box-cont">
            <div class="update-pic-dialog">
              <div class="hd"><div class="title">更新封面</div><a class="close-btn" href="javascript:;" title="关闭"></a></div>
              <div class="bd">
                <div class="update-add-box" style="cursor:pointer;"> 
                    <img src="__PUBLIC__/Home/images/review_default.png" width="120" height="158"> 
                    <input class="file-btnm" type="file">
                </div>
                <div class="cont"> 
                    <span class="add-btn"> 
                      <input class="file-btn" type="file">
                      <em>上传图片</em>
                    </span>
                  <div class="text">
                    <p>1.上传600X800像素、不超过5M的JPG图片；</p>
                    <p>2.图片应显示书名、笔名和站点；</p>
                    <p>3.建议使用原创图片、不得使用真人照片及他人有版权的图片，以免引起纠纷；</p>
                    <p>4.严禁上传色情、暴力、广告宣传或不适合公众观赏的图片，一经发现即做禁书处理；</p>
                    <p>5.封面上传后，管理员将在2个工作日内审核。</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/doT-master/doT.js"></script>

<script id="j-tmpl_type_2" type="text/template">
    {{ if(it.code==0){ }}

            {{ for (var i = 0, l = it.data.length; i < l; i++) { }}

                  <option value="{{=it.data[i].id}}">{{=it.data[i].title}}</option>

            {{ } }}

    {{ }else{ }}

            

    {{ } }}
</script>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $('.tags_select_btn').click(function(){

            var id_str='';
            var id_arr=[];

            var title_str='';
            var title_arr=[];

            $.each($('.tagFilterList .tag_a'), function(name, value){
                if($(value).hasClass("act")){
                    var id_temp=$(value).attr('data-id');
                    var title_temp=$(value).html();

                    id_arr.push(id_temp);
                    title_arr.push(title_temp);
                }
            });
            id_str=id_arr.join('_');
            title_str=title_arr.join(' ');
            $('#add_form .filterTagBox').val(title_str);
            $('#add_form .tags').val(id_str);
        });
    });
</script>

<script>
    //添加
    function _ajax_save_book(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_save_book')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }

    //获取分类二
    function _ajax_get_type_2(type_1){
        $.ajax({  
            async:false,
            type:'get',  
            url : "{:U('Home/User/ajax_get_type_2')}",
            data:{
                id: type_1
            },
            dataType : 'json',
            success  : function(json) { 
                if(json.code == 0){
                    var str='<option value="">请选择</option>';

                    var tmpl = document.getElementById('j-tmpl_type_2').innerHTML;
                    var doTtmpl = doT.template(tmpl);
                    var doT_Str=str+doTtmpl(json);
                    $('#add_form .type_2').html(doT_Str);

                    layui.form().render();
                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
    }

    layui.use(['form', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer

      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .img_box').attr('src', res.data.src);
              $('#add_form .img').val(res.data.src);
           }
         }
      });
    
      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _json=_ajax_save_book(data.field);
        return false;
      });

      form.on('select(type_1)', function(data){
          $('#add_form .type_2').html('<option value="">请选择</option>');

          var type_1=data.value;
          _ajax_get_type_2(type_1);
      });

    });
</script>