<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>上传作品</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
            
            <!-- 引用 -->
            <include file="_book_top" />

        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">

                <!-- 引用 -->
                <include file="_book_left" />

            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2"><span class="intro j-pageTitle">作家工作台</span></div>
                    <div class="mainRight pb260 fl">
                        <div class="crumbsWrap"><b></b><i class="before"><span><a href="#2">作品管理</a></span></i><em class="diff"></em><i class="current"><span>作品创建</span></i></div>
                        <center class="stepTitle">
                        <span class="act">1</span><em class="actText">选择类型</em><i class="icon"></i><span class="act">2</span><em class="actText">完善作品信息</em><i class="icon nogt"></i><span>3</span><em>创建成功</em>
                    </center>


                    <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
                                                                                  
                        <table class="layui-table">
                          <colgroup>
                              <col width="79%">
                              <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">上传封皮</label>
                                    <div class="layui-input-inline">
                                      <input type="file" id="add_upload_img" name="img" class="layui-upload-file">
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <img class="show_img" data-src="holder.js/100x100" class="img-thumbnail" alt="100x100" src="" data-holder-rendered="true" style="width: 100px; height: 100px;">
                              </td>
                            </tr>
                            
                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">作品名称</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input title">
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">作品类型</label>
                                    <div class="layui-input-inline">
                                      <select name="type_1" class="type_1" lay-filter="type_1">
                                        <option value="">请选择</option>
                                        <foreach name="type_1" item="v">
                                            <option value="{$v.id}">{$v.title}</option>
                                        </foreach>
                                      </select>
                                    </div>
                                    <div class="layui-input-inline">
                                      <select name="type_2" class="type_2">
                                        <option value="">请选择</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                
                              </td>
                            </tr>
                            
                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">作品标签</label>
                                    <div class="layui-input-inline" style="width:495px;">
                                        <foreach name="tags" item="v">
                                            <input type="checkbox" name="tags[{$v.id}]" lay-skin="primary" title="{$v.title}">
                                        </foreach>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">授权类型</label>
                                    <div class="layui-input-inline">
                                       <input type="radio" name="type" class="type" value="1310" title="独家首发" checked="">
                                       <input type="radio" name="type" class="type" value="1311" title="驻站作品">
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">作品介绍</label>
                                    <div class="layui-input-inline" style="width:495px;">
                                      <textarea name="desc" placeholder="请输入内容" class="layui-textarea desc"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                
                              </td>
                            </tr>
                           
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="2" style="text-align:center;">
                                <input type="hidden" name="img" lay-verify="required" class="layui-input img">
                                <input type="hidden" name="target" value="{$_POST['target']}" lay-verify="required" class="layui-input target">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1_add">创建作品</button>
                                <a class="layui-btn">返回上一步</a>
                              </td>
                            </tr>
                          </tfoot>
                        </table>

                     </form>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>

<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
<script src="__PUBLIC__/Admin/doT-master/doT.js"></script>

<script id="j-tmpl_type_2" type="text/template">
    {{ if(it.code==0){ }}

            {{ for (var i = 0, l = it.data.length; i < l; i++) { }}

                  <option value="{{=it.data[i].id}}">{{=it.data[i].title}}</option>

            {{ } }}

    {{ }else{ }}

            

    {{ } }}
</script>

</body>
</html>


<script type="text/javascript">
    //添加
    function _ajax_add_book(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/User/ajax_add_book')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                     window.location.href="{:U('Home/User/book_step_3')}";
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }

    //获取分类二
    function _ajax_get_type_2(type_1){
        $.ajax({  
            async:false,
            type:'get',  
            url : "{:U('Home/User/ajax_get_type_2')}",
            data:{
                id: type_1
            },
            dataType : 'json',
            success  : function(json) { 
                if(json.code == 0){
                    var str='<option value="">请选择</option>';

                    var tmpl = document.getElementById('j-tmpl_type_2').innerHTML;
                    var doTtmpl = doT.template(tmpl);
                    var doT_Str=str+doTtmpl(json);
                    $('#add_form .type_2').html(doT_Str);

                    layui.form().render();
                }else{
                    layer.msg(json.msg);
                }
            },
            error  : function() {  
                layer.msg('error');
            }  
        }); 
    }
</script>

<script type="text/javascript">
    layui.use(['form', 'laydate', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,laydate = layui.laydate;

      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .show_img').attr('src', res.data.src);
              $('#add_form .img').val(res.data.src);
           }
         }
      });
    
      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _data=data.field;

        var str = '';
        var arr = [];
        $.each(_data, function(name, value){
            if(name.indexOf("tags") >=0 ){
                var id=parseInt(name.replace(/[^0-9]/ig,""));
                arr.push(id);
            }
        });
        str=arr.join('_');
        _data.tags=str;

        var _json=_ajax_add_book(_data);
        return false;
      });

      form.on('select(type_1)', function(data){
          $('#add_form .type_2').html('<option value="">请选择</option>');

          var type_1=data.value;
          _ajax_get_type_2(type_1);
      });
    });
</script>