<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>上传作品</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />

<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
                
               <!-- 引用 -->
               <include file="_book_top" /> 

        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">
            
                  <!-- 引用 -->
                  <include file="_book_left" />

            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2"><span class="intro j-pageTitle">作家工作台</span></div>
                    <div class="mainRight pb260 fl">
                        <div class="crumbsWrap"><b></b><i class="before"><span><a href="#2">作品管理</a></span></i><em class="diff"></em><i class="current"><span>作品创建</span></i></div>
                        <center class="stepTitle">
                        <span class="act">1</span><em class="actText">选择类型</em><i class="icon nogt"></i><span>2</span><em>完善作品信息</em><i class="icon nogt"></i><span>3</span><em>创建成功</em>
                    </center>
                    <div class="workStepList step1">
                        <form action="{:U('Home/User/book_step_2')}" method="post">
                            <ul>
                                <li><em>目标读者</em>
                                    <span class="radio" id="nansheng">
                                    <input name="target" class="radioclass" id="boy" type="radio" value="1">
                                </span>
                                <label for="boy">男生</label>
                                <p class="tip">以男性视角或男性受众为主的作品，玄幻/奇幻/历史/都市/灵异/仙侠/游戏/二次元/武侠/军事等所有男生题材</p>
                                    <span class="radio" id="nvsheng">
                                    <input name="target" class="radioclass" id="girl" type="radio" value="2">
                                </span>
                                <label for="girl">女生</label>
                                <p class="tip">以女性视角或女性受众为主的作品，古言/现言/玄幻/青春/悬疑/科幻/仙侠/游戏/N次元等所有女生题材</p>
                                </li>
                            </ul>
                            <div class="stepBtn"><button type="submit" class="button" href="javascript:">下一步</button></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>