<!DOCTYPE html>
<html>
    
    <head>
        <title></title>
    </head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/re/css/test.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <body>
        <div class="body">
            <div class="title"></div>
            <div class="content">
                <div class="login">
                    <ul id="ul1">
                        <li <if condition="$_GET['gr'] eq 1">class="li1"</if>>
                            <span><a href="{:U('Home/User/login',array('gr'=>1))}">个人</a></span></li>
                        <li <if condition="$_GET['zf'] eq 1">class="li1"</if> style="background: #ddd;margin-left:0px;">
                            <span><a href="{:U('Home/User/login',array('zf'=>1))}">政府</a></span></li>
                        <li <if condition="$_GET['qy'] eq 1">class="li1"</if> style="background: #999;margin-left:0px;">
                            <span><a href="{:U('Home/User/login',array('qy'=>1))}">企业</a></span></li>
                    </ul>
                </div>
                <form action="{:U('Admin/Login/index')}" method="post">
                    <div id="bottom">
                       
                        <div class="name">
                            <label class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" name="username" class="form-control username" placeholder="用户名/手机号"></label>
                                
                            <label class="input-group pwd">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" name="password" class="form-control password" /></label>
                                
                                <if condition="$_GET['gr'] eq 1">
                                    <input type="hidden" name="gid" class="form-control gid" value="44" />
                                    <button type="button" class="btn btn-info login_button">【个人】登陆</button>
                                <elseif condition="$_GET['zf'] eq 1" />
                                    <input type="hidden" name="gid" class="form-control gid" value="33" />
                                    <button type="submit" class="btn btn-info">【政府】登陆</button>
                                <elseif condition="$_GET['qy'] eq 1" />
                                    <input type="hidden" name="gid" class="form-control gid" value="22" />
                                    <button type="submit" class="btn btn-info">【企业】登陆</button>
                                </if>
                            
                                <label class="a_pwd">
                                <a>忘记密码</a>
                                <a href="{:U('Home/User/yindao')}">免费注册</a></label>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>

</html>
<script type="text/javascript" src="__PUBLIC__/Home/re/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/re/bootstrap/js/bootstrap.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script>
    $(function() {
        // $("#ul1 li").click(function() {
        //     $(this).addClass("li1").siblings().removeClass("li1");
        //     $("#bottom div").eq($(this).index()).show().siblings().hide();
        // })

        $('.login_button').click(function(){
            var gid=$('.gid').val();
            var username=$('.username').val();
            var password=$('.password').val();
            if(gid && username && password){
                _ajax_login(gid, username, password);
            }
        });

        $('.username').blur(function(){
            var username=$('.username').val();
            if(username){
                _ajax_check_username_exist(username);
            }
        });

        function _ajax_check_username_exist(username){
             var _json;
             $.ajax({  
                 async:false,
                 type:'post',  
                 contentType:"application/x-www-form-urlencoded",
                 url : "{:U('Home/User/ajax_check_username_exist')}",
                 data: {
                    username:username
                 },
                 dataType : 'json',
                 success  : function(json) {
                     if(json.code==0){
                         // alert(json.msg);
                     }else{
                         layer.msg(json.msg);
                         $('.username').val('');
                     }
                 },
                 error  : function() {  
                     alert('error');
                 }  
             }); 
             return _json;
        }

        function _ajax_login(gid, username, password){
             var _json;
             $.ajax({  
                 async:false,
                 type:'post',  
                 contentType:"application/x-www-form-urlencoded",
                 url : "{:U('Home/User/ajax_login')}",
                 data: {
                    gid:gid,
                    username:username,
                    password:password
                 },
                 dataType : 'json',
                 success  : function(json) {
                     if(json.code==0){
                         window.location.href="{:U('Home/Index/index')}";
                     }else{
                         alert(json.msg);
                     }
                 },
                 error  : function() {  
                     alert('error');
                 }  
             }); 
             return _json;
        }
    })
</script>