<!DOCTYPE html>
<html>
    
    <head>
        <title></title>
    </head>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap-theme.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/re/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/re/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/re/css/test.css" />
    
    <body>
        <div class="body">
            <div class="title"></div>
            <div class="content">
                <div class="login">
                    <ul id="ul1">
                        <li <if condition="$_GET['gr'] eq 1">class="li1"</if>>
                            <span><a href="{:U('Home/User/login',array('gr'=>1))}">个人</a></span></li>
                        <li <if condition="$_GET['zf'] eq 1">class="li1"</if> style="background: #ddd;margin-left:0px;">
                            <span><a href="{:U('Home/User/login',array('zf'=>1))}">政府</a></span></li>
                        <li <if condition="$_GET['qy'] eq 1">class="li1"</if> style="background: #999;margin-left:0px;">
                            <span><a href="{:U('Home/User/login',array('qy'=>1))}">企业</a></span></li>
                    </ul>
                </div>
                <form action="{:U('Home/User/login')}" method="post">
                    <div id="bottom">
                       
                        <div class="name">
                            <label class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" class="form-control Username" placeholder="用户名/手机号"></label>
                            <label class="input-group pwd">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" class="form-control password" /></label>
                            <button type="button" class="btn btn-info login_button">登陆</button>
                            <label class="a_pwd">
                                <a>忘记密码</a>
                                <if condition="$_GET['gr'] eq 1">
                                    <a href="{:U('Home/User/gr_reg')}">免费注册</a></label>
                                <elseif condition="$_GET['zf'] eq 1" />
                                    <a href="{:U('Home/User/zf_reg')}">免费注册</a></label>
                                <elseif condition="$_GET['qy'] eq 1" />
                                    <a href="{:U('Home/User/qy_reg')}">免费注册</a></label>
                                </if>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </body>

</html>
<script>$(function() {
        // $("#ul1 li").click(function() {
        //     $(this).addClass("li1").siblings().removeClass("li1");
        //     $("#bottom div").eq($(this).index()).show().siblings().hide();
        // })

        $('.login_button').click(function(){
            var username=$('.Username').val();
            var password=$('.password').val();
            if(username&&password){
                _ajax_login(username, password);
            }
        });

        function _ajax_login(username, password){
             var _json;
             $.ajax({  
                 async:false,
                 type:'post',  
                 contentType:"application/x-www-form-urlencoded",
                 url : "{:U('Home/User/ajax_login')}",
                 data: {
                    username:username,
                    password:password
                 },
                 dataType : 'json',
                 success  : function(json) {
                     if(json.code==0){
                         window.location.href="{:U('Home/Index/index')}";
                     }else{
                         alert(json.msg);
                     }
                 },
                 error  : function() {  
                     alert('error');
                 }  
             }); 
             return _json;
        }
    })</script>