<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>我的作品列表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/back.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />

<div class="container mt20">
<div class="mainbox_wrapper">
    <div class="personal-center">
        <div class="ps-center rel">
            
            <!-- 引用 -->
            <include file="_voice_top" />

        </div>
        <div class="back-stage txt-mid2 mgtb-20">
            <div class="aside2">
              
                <!-- 引用 -->
                <include file="_voice_left" />

            </div>
            <div class="fl">
                <div class="main2 fl">
                    <div class="header2">
                        
                        <!-- 引用 -->
                        <include file="_voice_top_nav" />

                    </div>
                    <div class="mainbox">
                        <div class="mainbox_wrapper">
                            <div class="mission_me_con_t7_s">
                                <p class="emtce fl">任务分类：</p>
                                <div class="emtce-a">
                                    <a href="#2" class="on">全部</a>
                                    <a href="#2">小说评书</a>
                                    <a href="#2">儿童青少</a>
                                    <a href="#2">综艺娱乐</a>
                                    <a href="#2">教育讲座</a>
                                    <a href="#2">经管励志</a>
                                    <a href="#2">相声小品</a>
                                    <a href="#2">历史军事</a>
                                    <a href="#2">外文经典</a>
                                    <a href="#2">健康养生</a>
                                    <a href="#2">生活两性</a></div>
                            </div>
                            <div class="mission_me_con_t7_s">
                                <p class="emtce fl">声音类型：</p>
                                <div class="emtce-a">
                                    <a href="#2" class="on">全部</a>
                                    <a href="#2">男声</a>
                                    <a href="#2">女声</a></div>
                            </div>
                            <div class="mission_me_con_t7_s">
                                <p class="emtce fl">声音特点：</p>
                                <div class="emtce-a">
                                    <a href="#2" class="on">全部</a>
                                    <a href="#2">青年声</a>
                                    <a href="#2">叔音</a>
                                    <a href="#2">老年音（男）</a>
                                    <a href="#2">正太</a>
                                    <a href="#2">萝莉</a>
                                    <a href="#2">少女</a>
                                    <a href="#2">御姐</a>
                                    <a href="#2">老年音（女）</a></div>
                            </div>
                            <div class="mission_me_con_t7_s">
                                <p class="emtce fl">收益分配：</p>
                                <div class="emtce-a">
                                    <a href="#2" class="on">全部</a>
                                    <a href="#2">收益分成</a>
                                    <a href="#2">一次性付款</a></div>
                            </div>
                            <div class="clear10" style="border-bottom:1px solid #ddd;"></div>
                            <div class="screen_xz">
                                <div class="sort mb1 clearfix mt_30">
                                    <a class="time btn btnnn5" href="#2">上传时间
                                        <i class="i_02"></i></a>
                                    <a class="time btn btnnn6" href="#2">信用等级
                                        <i class="i_01"></i></a>
                                    <a class="time btn btnnn6" href="#2">评价
                                        <i class="i_01"></i></a>
                                </div>
                            </div>
                            <div class="clear20"></div>
                            <div class="mission_me_con_t1 clearfix">
                                <dl>
                                    <dd>
                                        <a class="fl ace_collection xin_voe"></a>
                                        <span class="tuery">
                                            <a class="onm_on1 fl" target="_blank" href="#2">
                                                <img width="120" height="120" src="__PUBLIC__/Home/images/img1.jpg"></a>
                                            <span class="tuery1 fl">
                                                <p class="on">
                                                    <a target="_blank" href="#2">只为与你相见</a></p>
                                                <p class="on1">
                                                    <span class="fl tmcl">分类：</span>
                                                    <span class="fl tmcl">小说评书</span></p>
                                                <div class="clear"></div>
                                                <p class="on3">已参与试音：
                                                    <b>1</b>&nbsp;&nbsp;&nbsp; 收益模式：
                                                    <b>收益分成</b>
                                                </p>
                                                <p class="on3">类型：
                                                    <span>不限</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特点：
                                                    <span>不限</span></p>
                                                <p class="on4">发布时间：2017-07-28</p></span>
                                            <div class="yybf_left ace_userids">
                                                <div class="img">
                                                    <a href="#2" target="_blank">
                                                        <img width="80" height="80" alt="" src="__PUBLIC__/Home/images/img1.jpg" class=""></a>
                                                </div>
                                                <div class="yybf-ww">
                                                    <p class="p_01">
                                                        <a href="#2" target="_blank" class="">东方视角编辑</a></p>
                                                    <p class="p_06 mb5">信用积分：
                                                        <font class="ace_credit4692301 mit">2</font></p>
                                                    <p class="p_06 mb20">
                                                        <font class="">
                                                            <span class="fl">满意度：</span>
                                                            <b class="fl">4.9</b></font>
                                                    </p>
                                                    <p class="p_02">
                                                        <a class="focus fl mr_10 ace_fans tuser_me_op" href="javascript:;">+关注</a>
                                                        <a class="messages fl" href="javascript:;">私信</a></p>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </span>
                                    </dd>
                                    <dd>
                                        <a class="fl ace_collection xin_voe"></a>
                                        <span class="tuery">
                                            <a class="onm_on1 fl" target="_blank" href="#2">
                                                <img width="120" height="120" src="__PUBLIC__/Home/images/img1.jpg"></a>
                                            <span class="tuery1 fl">
                                                <p class="on">
                                                    <a target="_blank" href="#2">只为与你相见</a></p>
                                                <p class="on1">
                                                    <span class="fl tmcl">分类：</span>
                                                    <span class="fl tmcl">小说评书</span></p>
                                                <div class="clear"></div>
                                                <p class="on3">已参与试音：
                                                    <b>1</b>&nbsp;&nbsp;&nbsp; 收益模式：
                                                    <b>收益分成</b>
                                                </p>
                                                <p class="on3">类型：
                                                    <span>不限</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特点：
                                                    <span>不限</span></p>
                                                <p class="on4">发布时间：2017-07-28</p></span>
                                            <div class="yybf_left ace_userids">
                                                <div class="img">
                                                    <a href="#2" target="_blank">
                                                        <img width="80" height="80" alt="" src="__PUBLIC__/Home/images/img1.jpg" class=""></a>
                                                </div>
                                                <div class="yybf-ww">
                                                    <p class="p_01">
                                                        <a href="#2" target="_blank" class="">东方视角编辑</a></p>
                                                    <p class="p_06 mb5">信用积分：
                                                        <font class="ace_credit4692301 mit">2</font></p>
                                                    <p class="p_06 mb20">
                                                        <font class="">
                                                            <span class="fl">满意度：</span>
                                                            <b class="fl">4.9</b></font>
                                                    </p>
                                                    <p class="p_02">
                                                        <a class="focus fl mr_10 ace_fans tuser_me_op" href="javascript:;">已关注</a>
                                                        <a class="messages fl" href="javascript:;">私信</a></p>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </span>
                                    </dd>
                                    <dd>
                                        <a class="fl ace_collection xin_red"></a>
                                        <span class="tuery">
                                            <a class="onm_on1 fl" target="_blank" href="#2">
                                                <img width="120" height="120" src="__PUBLIC__/Home/images/img1.jpg"></a>
                                            <span class="tuery1 fl">
                                                <p class="on">
                                                    <a target="_blank" href="#2">只为与你相见</a></p>
                                                <p class="on1">
                                                    <span class="fl tmcl">分类：</span>
                                                    <span class="fl tmcl">小说评书</span></p>
                                                <div class="clear"></div>
                                                <p class="on3">已参与试音：
                                                    <b>1</b>&nbsp;&nbsp;&nbsp; 收益模式：
                                                    <b>收益分成</b>
                                                </p>
                                                <p class="on3">类型：
                                                    <span>不限</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特点：
                                                    <span>不限</span></p>
                                                <p class="on4">发布时间：2017-07-28</p></span>
                                            <div class="yybf_left ace_userids">
                                                <div class="img">
                                                    <a href="#2" target="_blank">
                                                        <img width="80" height="80" alt="" src="__PUBLIC__/Home/images/img1.jpg" class=""></a>
                                                </div>
                                                <div class="yybf-ww">
                                                    <p class="p_01">
                                                        <a href="#2" target="_blank" class="">东方视角编辑</a></p>
                                                    <p class="p_06 mb5">信用积分：
                                                        <font class="ace_credit4692301 mit">2</font></p>
                                                    <p class="p_06 mb20">
                                                        <font class="">
                                                            <span class="fl">满意度：</span>
                                                            <b class="fl">4.9</b></font>
                                                    </p>
                                                    <p class="p_02">
                                                        <a class="focus fl mr_10 ace_fans tuser_me_op" href="javascript:;">+关注</a>
                                                        <a class="messages fl" href="javascript:;">私信</a></p>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<div class="mask"></div>
<div class="maskUI maskUI2">
    <div class="popupWrap w380 hidden">
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <h3>新建分卷</h3>
        <div class="popupBody p30">
            <div class="popupContent select">
                <p>分卷名称</p>
                <p class="mb20"><input class="longInput" type="text" value=""></p>
                <p>分卷介绍</p>
                <textarea></textarea>
            </div>
            <div class="confirmBtn">
                <a class="button full" href="javascript:">确定</a>
            </div>
        </div>
    </div>
</div>
<div class="maskUI maskUIsx">
    <div class="popupWrap w380">
        <h3>发私信给东方视角编辑</h3>
        <a class="icon closePopup" href="javascript:" title="关闭"></a>
        <div class="popupBody p30">
            <div class="popupContent select">
                <p></p>
                <textarea></textarea>
            </div>
            <div class="confirmBtn">
                <a class="button full" href="javascript:">确定</a>
                <a class="button white" href="javascript:">取消</a>
            </div>
        </div>
    </div>
</div>

<div class="identy-pop">
    <h3>申请认证</h3>    
    <p>亲，这个功能认证后才能使用哦~<br>
     你这么有才~花一分钟认证下呗~ </p>    
    <div class="button1">        
        <a class="inl-b mgr-20 j-attSubmit" href="#2">去认证</a>
        <a class="inl-b pre" href="javascript:;">取消</a>    
    </div>
</div>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>