<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap-theme.css" />
<script type="text/javascript" src="__PUBLIC__/Home/re/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/re/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/re/css/test.css" />
<body>
		<div class="title">
			<h3 class="gr_title">政府注册</h3>
			<span class="yizc">已有账号,请<a href="index.html">登录 ></a></span>
		</div>
		<div class="line"></div>
		<div class="information">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">用户名</span>
				<input type="text" class="form-control defined"> &nbsp;&nbsp; * 6位以上英文字母或数字组成
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">电子邮箱</span>
				<input type="text" class="form-control defined"> &nbsp;&nbsp; * 用于密码找回及登录
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">手机号</span>
				<input type="text" class="form-control defined"> &nbsp;&nbsp; * 用于密码找回及登录
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">密码</span>
				<input type="text" class="form-control defined"> &nbsp;&nbsp; * 英文字母或数字组成
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-addon">确认密码</span>
				<input type="text" class="form-control defined"> &nbsp;&nbsp; * 请再次确认密码
			</div>
		</div>
		<div>
			<div class="renzheng">
				<div class="qyrz">政府认证</div>
				<div class="shortline"></div>
			</div>
			<div class="qyrzInfo">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">机构名称</span>
					<input type="text" class="form-control defined" placeholder="天津市作家协会">
				</div>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">机构座机</span>
					<input type="text" class="form-control defined" placeholder="022-27599350">
				</div>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">机构简称</span>
					<input type="text" class="jiancheng form-control defined" placeholder="天津协会">
				</div>
				<div class="yyzz">
					<label>证明</label>
					<p class="p3">请上传有效证明信件并加盖公章</p>
					<p class="p4">支持.jpg .jpeg .bmp .png格式照片,大小不超过5M。</p>
					<button type="button" class="btn btn-default btn-xs shangchuan1">上传</button>
					<div>
						<img style="width: 40px;height: 80px;margin-left: 70px;margin-top: 20px;" />
					</div>
				</div>
			</div>
			<div class="foot juli"><input type="radio" /><span class="agree">我已经仔细阅读并接受</span><a>《服务协议》</a></div>
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">立即注册</button>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
						</div>
						<div class="modal-body">
							<div>您的认证信息已受理!</div>
							<div>我平台将于1-2个工作日内完成审核,</div>
							<div>审核结果将发送到您的邮箱,</div>
							<div>请注意查收!</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								确定
							</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
</body>
</html>