<div id="bot" class="mt20">
    <div class="bot1">
        <div class="w1000 clear">
            <div class="fl colorMain clear left">
                <span class="icon-yqlj mr5 mt5 fl"></span><b class="fl">友情链接：</b>       
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">天津市文化广播影视局</a></li>
                    <li><a href="#">天津市群众艺术馆</a></li>
                    <li><a href="#">天津市作家协会</a></li>
                    <li><a href="#">朝阳区图书馆</a></li>
                    <li><a href="#">辽宁省图书馆</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bot2">
        <div class="w1000 marok">
            <div class="sinak">
                <span class="jt"></span>
                <img src="__PUBLIC__/Home/images/erweima.jpg" class="ma">
            </div>
            <div class="wxk">
                <span class="jt"></span>
                <img src="__PUBLIC__/Home/images/erweima.jpg" class="ma">
            </div>
            <a href="javascript:;" class="bgsinaRed"><img src="__PUBLIC__/Home/images/xing.png" alt=""></a>
            <a href="javascript:;" class="bgwxGreen"><img src="__PUBLIC__/Home/images/xing.png" alt=""></a>
            <a href="index.html" class="botlogo"><img src="__PUBLIC__/Home/images/logoo.png"></a>
        </div>
    </div>
    <div class="bot3">
        <div class="w1000">
            Tian Jin Bei Li Jian Sports Consulting Co., Ltd. ©2017 All Rights Reserved 津ICP备00000000号
        </div>
    </div>
</div>