<?php
    $top_nav_saishihuodong=M('Type')->where(array('pid'=>1283))->select();
    $top_nav_type_info=M('Type')->find($_GET['type']);

    $top_ad=M('Ad')->find(3);

    $_page_=$_SERVER['PATH_INFO'];
?>

<div class="top-add"><a href="{$top_ad.url}"><img src="{$top_ad.img}" alt=""></a></div>
<div class="head w1000">
    <div class="header fl">
        <div class="logo fl"><a href="javascript:;"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a></div>
        <div class="search fl">
            <input type="text" class="fl">
            <a href="javascript:;" class="fl"></a>
        </div>
        <div class="head-icon fl">
            <a href="javascript:;" class="gwc"></a>
            <a href="javascript:;" class="yx"></a>
            <a href="javascript:;" class="sc"></a>
        </div>
        <div class="erweima fr"><img src="__PUBLIC__/Home/images/erweima.jpg" alt=""></div>
    </div>
</div>
<div class="clear"></div>
<div class="nav clearfix">
    <ul>
        <li>
            <a href="{:U('Home/Index/index')}" class="li-a 
                <if condition="stripos($_page_,'Index/index') nheq false">cur
                    <elseif  condition="stripos($_page_,'User/voice_') nheq false"/>cur
                    <elseif  condition="stripos($_page_,'User/book_') nheq false"/>cur
                    <elseif  condition="$_page_ eq ''"/>cur
                </if>
                    ">发现</a>
            <ul 
                <if condition="stripos($_page_,'Index/index') nheq false">style="display:block"
                    <elseif  condition="stripos($_page_,'User/voice_') nheq false"/>style="display:block"
                    <elseif  condition="stripos($_page_,'User/book_') nheq false"/>style="display:block"
                    <elseif  condition="$_page_ eq ''"/>style="display:block"
                </if>
                >
                <li><a <if condition="stripos($_page_,'Index/index') nheq false">class="color1"<elseif  condition="$_page_ eq ''"/>class="color1"</if>href="{:U('Home/Index/index')}">热门推荐</a></li>
                <li><a <if condition="stripos($_page_,'User/voice_') nheq false">class="color1"</if> href="javascript:;">人气主播</a></li>
                <li><a <if condition="stripos($_page_,'User/book_') nheq false">class="color1"</if> href="javascript:;">人气作家</a></li>
                <li><a href="javascript:;">赚钱途径</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">书城</a>
            <!-- <ul>
                <li><a href="{:U('Home/Book/index')}"><span class="color1">在线借阅</span></a></li>
                <li><a href="shucheng-zhuye1.html">图书购买</a></li>
                <li><a href="shucheng-zhuye1.html">电子书</a></li>
                <li><a href="shucheng-zhuye1.html">有声读物</a></li>
            </ul> -->
        </li>
        <li>
            <a href="javascript:;" class="li-a 
                <if condition="stripos($_page_,'Tongchengjieyue/index') nheq false">cur
                </if>
                    ">分类清单</a>
            <ul <if condition="stripos($_page_,'Tongchengjieyue/index') nheq false">style="display:block;"</if>>
                <li>
                    <a href="javascript:;" <if condition="(stripos($_page_,'Tongchengjieyue/index') nheq false) and (!$_GET['type'])">class="color1"</if>>
                        同城借阅
                    </a>
                </li>
                <li><a href="javascript:;">志愿者活动</a></li>
                <li><a href="javascript:;">热门活动</a></li>
                <li><a href="javascript:;">传统文化</a></li>
                <li><a href="javascript:;">精彩演出</a></li>
                <li><a href="javascript:;">热卖产品</a></li>
                <li><a href="javascript:;">创客空间</a></li>
                <li><a href="javascript:;">精品课程</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a <if condition="stripos($_page_,'Index/shop') nheq false">cur</if>">瞰世商城</a>
            <!-- <ul>
                <li><a href="{:U('Home/Index/shop')}"><span class="color1">商城首页</span></a></li>
                <li><a href=""><span class="color1">在线配音</span></a></li>
                <li><a href="#2">录音设备</a></li>
                <li><a href="#2">出版图书</a></li>
                <li><a href="#2">培训课程</a></li>
            </ul> -->
        </li>
        <li>         
            <a href="{:U('Home/Match/index')}" class="li-a 
                <if condition="stripos($_page_,'Match/index') nheq false">cur
                    <elseif  condition="stripos($_page_,'Match/rule') nheq false"/>cur
                    <elseif  condition="stripos($_page_,'Match/baoming') nheq false"/>cur
                </if>
                    ">赛事活动</a>
            <ul 
                <if condition="stripos($_page_,'Match/index') nheq false">style="display:block;"
                    <elseif  condition="stripos($_page_,'Match/rule') nheq false"/>style="display:block;"
                    <elseif  condition="stripos($_page_,'Match/baoming') nheq false"/>style="display:block;"
                </if>
                >
                <li>
                    <a href="{:U('Home/Match/index')}" 
                        <if condition="(stripos($_page_,'Match/index') nheq false) and (!$_GET['type'])">class="color1"
                            <elseif  condition="(stripos($_page_,'Match/rule') nheq false) and (!$_GET['type'])"/>class="color1"
                            <elseif  condition="(stripos($_page_,'Match/baoming') nheq false) and (!$_GET['type'])"/>class="color1"
                        </if>
                        >
                        全部
                    </a>
                </li>
                <foreach name="top_nav_saishihuodong" item="v">
                    <li>
                        <a href="{:U('Home/Match/index',array('type'=>$v['id']))}" 
                            <if condition="(stripos($_page_,'Match/index') nheq false) and ($v['id'] eq $_GET['type'])">class="color1"
                                <elseif  condition="(stripos($_page_,'Match/rule') nheq false) and ($v['id'] eq $_GET['type'])"/>class="color1"
                                <elseif  condition="(stripos($_page_,'Match/baoming') nheq false) and ($v['id'] eq $_GET['type'])"/>class="color1"
                            </if>
                            >
                            {$v.title}
                        </a>
                    </li>
                </foreach>
            </ul>
        </li>
        <li>
            <a href="{:U('Home/Baoming/index')}" class="li-a 
                <if condition="stripos($_page_,'Baoming/index') nheq false">cur
                    <elseif  condition="stripos($_page_,'Baoming/detail') nheq false"/>cur
                    <elseif  condition="stripos($_page_,'Baoming/baoming') nheq false"/>cur
                </if>
                    ">参赛报名</a>
            <ul 
                <if condition="stripos($_page_,'Baoming/index') nheq false">style="display:block;"
                    <elseif  condition="stripos($_page_,'Baoming/detail') nheq false"/>style="display:block;"
                    <elseif  condition="stripos($_page_,'Baoming/baoming') nheq false"/>style="display:block;"
                </if>
                >
                <li>
                    <a href="{:U('Home/Baoming/index')}" 
                        <if condition="(stripos($_page_,'Baoming/index') nheq false) and (!$_GET['type'])">class="color1"
                            <elseif  condition="(stripos($_page_,'Baoming/detail') nheq false) and (!$_GET['type'])"/>class="color1"
                            <elseif  condition="(stripos($_page_,'Baoming/baoming') nheq false) and (!$_GET['type'])"/>class="color1"
                        </if>
                        >
                        全部
                    </a>
                </li>
                <foreach name="top_nav_saishihuodong" item="v">
                    <li>
                        <a href="{:U('Home/Baoming/index',array('type'=>$v['id']))}" 
                            <if condition="(stripos($_page_,'Baoming/index') nheq false) and ($v['id'] eq $_GET['type'])">class="color1"
                                <elseif  condition="(stripos($_page_,'Baoming/detail') nheq false) and ($v['id'] eq $_GET['type'])"/>class="color1"
                                <elseif  condition="(stripos($_page_,'Baoming/baoming') nheq false) and ($v['id'] eq $_GET['type'])"/>class="color1"
                            </if>
                            >
                            {$v.title}
                        </a>
                    </li>
                </foreach>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">合作通道</a>
            <ul>
                <li><a href="javascript:;"><span class="color1">志愿者报名</span></a></li>
                <li><a href="javascript:;">平台建议</a></li>
                <li><a href="javascript:;">瞰世联线</a></li>
            </ul>
        </li>
        <li>
            <a id="authentication_btn" class="li-a">认证</a>
            <ul>
                <li><a href="{:U('Home/User/personal_authentication')}"><span class="color1">个人身份认证</span></a></li>
                <li><a href="javascript:;">作家认证</a></li>
                <li><a href="javascript:;">主播认证</a></li>
            </ul>
        </li>
    </ul>
    <div class="ul-con mt10">
        <div class="lon w1000">
            <div class="fr">
                <if condition="$user">
                    <a href="{:U('Home/User/personal_setting')}">{$user.username}</a>
                    <a href="{:U('Home/User/logout')}">退出</a>
                <else/>
                    <a href="{:U('Home/Index/yindao')}">注册</a><span>|</span>
                    <a href="{:U('Home/Index/login',array('gr'=>1))}">登录</a>
                </if>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script type="text/javascript">
    var username="{$user.username}";
    $(function(){
        $('#authentication_btn').click(function(){
            if(username){
                window.location.href="{:U('Home/User/personal_authentication')}";
            }else{
                alert('请先登录');
                window.location.href="{:U('Home/User/personal_authentication')}";
            }
        })
    });
</script>