<?php
    $top_nav_saishihuodong=M('Type')->where(array('pid'=>1283))->select();
?>


<div class="top-add"><a href="#4"><img src="__PUBLIC__/Home/images/img3.jpg" alt=""></a></div>
<div class="head w1000">
    <div class="header fl">
        <div class="logo fl"><a href="#"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a></div>
        <div class="search fl">
            <input type="text" class="fl">
            <a href="javascript:;" class="fl"></a>
        </div>
        <div class="head-icon fl">
            <a href="#4" class="gwc"></a>
            <a href="#4" class="yx"></a>
            <a href="#4" class="sc"></a>
        </div>
        <div class="erweima fr"><img src="__PUBLIC__/Home/images/erweima.jpg" alt=""></div>
    </div>
</div>
<div class="clear"></div>
<div class="nav clearfix">
    <ul>
        <li>
            <a href="fenlei-remen.html" class="li-a">发现</a>
            <ul>
                <li><a href="fenlei-remen.html">热门推荐</a></li>
                <li><a href="zuojiatuijian.html">人气主播</a></li>
                <li><a href="zuojiatuijian.html">人气作家</a></li>
                <li><a href="#2">赚钱途径</a></li>
            </ul>
        </li>
        <li>
            <a href="shucheng-zhuye1.html" class="li-a">书城</a>
            <ul>
                <li><a href="tongchengjieyue.html"><span class="color1">在线借阅</span></a></li>
                <li><a href="shucheng-zhuye1.html">图书购买</a></li>
                <li><a href="shucheng-zhuye1.html">电子书</a></li>
                <li><a href="shucheng-zhuye1.html">有声读物</a></li>
            </ul>
        </li>
        <li>
            <a href="tongchengjieyue.html" class="li-a">分类清单</a>
            <ul>
                <li><a href="tongchengjieyue.html">同城借阅</a></li>
                <li><a href="fenlei-zhiyuanzhe.html"><span class="color1">志愿者活动</span></a></li>
                <li><a href="fenlei-remen.html">热门活动</a></li>
                <li><a href="fenlei-chuantong.html">传统文化</a></li>
                <li><a href="fenlei-yanchu.html">精彩演出</a></li>
                <li><a href="fenlei-remen.html">热卖产品</a></li>
                <li><a href="#2">创客空间</a></li>
                <li><a href="fenlei-kecheng.html">精品课程</a></li>
            </ul>
        </li>
        <li>
            <a href="index.html" class="li-a">瞰世商城</a>
            <ul>
                <li><a href="#2"><span class="color1">在线配音</span></a></li>
                <li><a href="#2">录音设备</a></li>
                <li><a href="#2">出版图书</a></li>
                <li><a href="#2">培训课程</a></li>
            </ul>
        </li>
        <li>
            <a href="{:U('Home/Match/index')}" class="li-a">赛事活动</a>
            <ul>
                <li>
                    <a href="{:U('Home/Match/index')}">
                        <if condition="!$_GET['type']">
                            <span class="color1">全部</span>
                        <else/>
                            全部
                        </if>
                    </a>
                </li>
                <foreach name="top_nav_saishihuodong" item="v">
                    <li>
                        <a href="{:U('Home/Match/index',array('type'=>$v['id']))}">
                            <if condition="$v['id'] eq $_GET['type']">
                                <span class="color1">{$v.title}</span>
                            <else/>
                                {$v.title}
                            </if>
                        </a>
                    </li>
                </foreach>
            </ul>
        </li>
        <li>
            <a href="{:U('Home/Baoming/index')}" class="li-a">参赛报名</a>
            <ul>
                <li>
                    <a href="{:U('Home/Baoming/index')}">
                        <if condition="!$_GET['type']">
                            <span class="color1">全部</span>
                        <else/>
                            全部
                        </if>
                    </a>
                </li>
                <foreach name="top_nav_saishihuodong" item="v">
                    <li>
                        <a href="{:U('Home/Baoming/index',array('type'=>$v['id']))}">
                            <if condition="$v['id'] eq $_GET['type']">
                                <span class="color1">{$v.title}</span>
                            <else/>
                                {$v.title}
                            </if>
                        </a>
                    </li>
                </foreach>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">合作通道</a>
            <ul>
                <li><a href="#2"><span class="color1">志愿者报名</span></a></li>
                <li><a href="#2">平台建议</a></li>
                <li><a href="#2">瞰世联线</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">认证</a>
            <ul>
                <li><a href="#2"><span class="color1">个人身份认证</span></a></li>
                <li><a href="#2">作家认证</a></li>
                <li><a href="#2">主播认证</a></li>
            </ul>
        </li>
    </ul>
    <div class="ul-con mt10">
        <div class="lon w1000">
            <div class="fr"><a href="{:U('Home/User/register')}">注册</a><span>|</span><a href="{:U('Home/User/login')}">登录</a></div>
        </div>
    </div>
</div>