<?php 
	//精彩演出分类
	$left_video_types=M('Type')->where(array('pid'=>1293))->select();

?>

<ul>
    <li><a><i class="stx"></i>主题市场</a></li>
    <li><a href="javascript:;">同城借阅</a></li>
    <li><a href="javascript:;">活动视频</a></li>
	

	<foreach name="left_video_types" item="v">
		<li <if condition="$_GET['type'] eq $v['id']"> class="cur" </if>><a href="javascript:;">{$v['title']}</a></li>
	</foreach>



    <li><a href="javascript:;">有声文学</a></li>
    <li><a href="javascript:;">文学阅读</a></li>
    <li><a href="javascript:;">创客空间</a></li>
    <li><a href="javascript:;">瞰世学院</a></li>
    <li><a href="javascript:;">瞰世商城</a></li>
</ul>