<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>忘记密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/pwd.css">
</head>
<body>
<div class="wrapper2 login-head clearfix">
    <a class="logo-a fl" href="index.html"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a>
    <span class="fl">找回密码</span>
    <p class="fr login-head-btn"><a class="br-so pr10 js-sign-in-btn" href="#2">登录</a><a class="pl10" href="#2">注册</a></p>
</div>
<div class="wrapper2 clearfix white-bg login-part">
    <ul class="forget-pwd-nav clearfix forget-pwd-nav3">
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">1</i></p>
            <p class="forget-pwd-title">确认账号</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">2</i></p>
            <p class="forget-pwd-title">安全验证</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">3</i></p>
            <p class="forget-pwd-title">重置密码</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">4</i></p>
            <p class="forget-pwd-title">完成</p>
        </li>
    </ul>
    <div class="forget-pwd-con">
        <form action="" method="post" id="forget_3">
            <input type="hidden" value="4" name="tep">      
            <input type="hidden" name="name" value="{$data['name']}">
            <p class="forget-pwd-p">您正在重置密码的用户名为：admin</p>
            <p class="login-tips icon-login-tip-wrong js-tip-wrong" style="display: none;"></p>
            <!-- 密码 -->
            <div class="login-line clearfix mt10">
                <div class="login-input user-pwd fl">
                    <label class="fl" for=""></label>
                    <input class="passtxt fl" name="password"  type="password" placeholder="密码，6-16位数字/字母/特殊符号">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
                <i class="fl icon-login-tip-right js-tip-right" style="display: none;"></i>
            </div>
            <!-- 密码 -->
            <div class="login-line clearfix mt20">
                <div class="login-input user-pwd fl">
                    <label class="fl" for=""></label>
                    <input class="passtxt2 fl" name="repassword" type="password" placeholder="再次输入新密码">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
                <i class="fl icon-login-tip-right js-tip-right" style="display: none;"></i>
            </div>
            <!-- 按钮 -->
            <p class="btn-line mt20"><a class="btn-style theme-bg" href="{:U('Home/Index/findpassword_4')}">下一步</a></p>
        </form>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>