<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>忘记密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/pwd.css">
</head>
<body>
<div class="wrapper2 login-head clearfix">
    <a class="logo-a fl" href="index.html"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a>
    <span class="fl">找回密码</span>
    <p class="fr login-head-btn"><a class="br-so pr10 js-sign-in-btn" href="#2">登录</a><a class="pl10" href="#2">注册</a></p>
</div>
<div class="wrapper2 clearfix white-bg login-part">
    <ul class="forget-pwd-nav clearfix forget-pwd-nav4">
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">1</i></p>
            <p class="forget-pwd-title">确认账号</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">2</i></p>
            <p class="forget-pwd-title">安全验证</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">3</i></p>
            <p class="forget-pwd-title">重置密码</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">4</i></p>
            <p class="forget-pwd-title">完成</p>
        </li>
    </ul>
    <input type="hidden" name="url_u" id="url_u" value="login.html">
    <div class="forget-pwd-con forget-pwd-con4">
        <p class="reset-tip">密码重置成功！立即<a class="spe-color" href="{:U('Home/Index/login')}">前往登录</a></p>
        <p class="href-tip"><span id="timesd">5</span>秒后自动跳转...</p>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script type="text/javascript">
delayURL();    
function delayURL() { 
    var delay = document.getElementById("timesd").innerHTML;
    var url_u = document.getElementById("url_u").value;
    var t = setTimeout("delayURL()", 1000);
    if (delay > 0) {
        delay--;
        document.getElementById("timesd").innerHTML = delay;
    } else {
        clearTimeout(t); 
        window.location.href = url_u;
    }        
}
</script>
</body>
</html>