<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>忘记密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/pwd.css">
</head>
<body>
<div class="wrapper2 login-head clearfix">
    <a class="logo-a fl" href="index.html"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a>
    <span class="fl">找回密码</span>
    <p class="fr login-head-btn"><a class="br-so pr10 js-sign-in-btn" href="#2">登录</a><a class="pl10" href="#2">注册</a></p>
</div>
<div class="wrapper2 clearfix white-bg login-part">
    <ul class="forget-pwd-nav clearfix">
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">1</i></p>
            <p class="forget-pwd-title">确认账号</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">2</i></p>
            <p class="forget-pwd-title">安全验证</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">3</i></p>
            <p class="forget-pwd-title">重置密码</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">4</i></p>
            <p class="forget-pwd-title">完成</p>
        </li>
    </ul>
    <div class="forget-pwd-con">
        <form action="" method="post" id="forget_1">
            <input type="hidden" value="2" name="tep">
            <p class="login-tips icon-login-tip-wrong js-tip-wrong" style="display: none;">请填写注册手机号/邮箱/用户名</p>
            <!-- 用户名 -->
            <div class="login-line clearfix">
                <div class="login-input user-name fl">
                    <label class="fl" for=""></label>
                    <input class="nametxt fl username" name="username" type="text" placeholder="以字母开头，4-20位数字/字母/特殊符号">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
                <i class="fl icon-login-tip-right js-tip-right" style="display: none;"></i>
            </div>
            <!-- 验证码 -->
            <div class="login-line clearfix mt20">
                <div class="login-input user-code fl">
                    <label class="fl" for=""></label>
                    <input class="codetxt fl code" name="code" type="text" placeholder="验证码">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
                <img class="code-img fl ml10" id="codeImg" src="{:U('Home/Index/verify_code')}" alt="verify_code">
                <a class="code-f5 fl ml10 change_code" href="javascript:;">换一张</a>
                <i class="fl icon-login-tip-right js-tip-right code_tip" style="display: none;"></i>
            </div>
            <!-- 按钮 -->
            <p class="btn-line mt20">
                <button type="submit" class="btn-style theme-bg submit_btn" style="display:none;"></button>
                <a class="btn-style theme-bg go_to_findpassword_2" disabled>下一步</a>
            </p>
        </form>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<script type="text/javascript">
    $(function(){
        $('#forget_1 .username').blur(function(){
            var username=$(this).val();
            if(!username){
                layer.msg('用户名不能为空');
            }else{
                _ajax_check_username_exist(username);
            }
        });

        $('#forget_1 .code').blur(function(){
            var code=$(this).val();
            if(!code){
                layer.msg('验证码不能为空');
            }else{
                _ajax_check_verify(code);
            }
        });


        $('#forget_1 .go_to_findpassword_2').click(function(){
            var username=$('#forget_1 .username').val();
            var code=$('#forget_1 .code').val();

            if(!username){
                layer.msg('请输入用户名');
            }

            if(!code){
                layer.msg('请输入验证码');
            }

            if(username && code){
                $('#forget_1 .submit_btn').trigger('click');
            }
        });

        $('#forget_1 .change_code').click(function(){
            var url="{:U('Home/Index/verify_code')}";
            $('#codeImg').attr('src', url);
        });


        
    });

    function _ajax_check_username_exist(username){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_check_username_exist')}",
             data: {
                username:username
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     
                 }else{
                     layer.msg('此用户名不存在');
                     $('#forget_1 .username').focus();
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }

    function _ajax_check_verify(code){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/check_verify')}",
             data: {
                code:code
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     $('#forget_1 .code_tip').show();
                 }else{
                     layer.msg('验证码错误');
                     $('#forget_1 .code').focus();
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }
</script>
</body>
</html>