<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>忘记密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/pwd.css">
</head>
<body>
<div class="wrapper2 login-head clearfix">
    <a class="logo-a fl" href="index.html"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a>
    <span class="fl">找回密码</span>
    <p class="fr login-head-btn"><a class="br-so pr10 js-sign-in-btn" href="#2">登录</a><a class="pl10" href="#2">注册</a></p>
</div>
<div class="wrapper2 clearfix white-bg login-part">
    <ul class="forget-pwd-nav clearfix forget-pwd-nav2">
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">1</i></p>
            <p class="forget-pwd-title">确认账号</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd icon-forget-pwd-green">2</i></p>
            <p class="forget-pwd-title">安全验证</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">3</i></p>
            <p class="forget-pwd-title">重置密码</p>
        </li>
        <li>
            <p><i class="icon-forget-pwd">4</i></p>
            <p class="forget-pwd-title">完成</p>
        </li>
    </ul>
    <div class="forget-pwd-con">
        <form action="" method="post" id="forget_2">
            <input type="hidden" value="3" name="tep">
            <input type="hidden" name="id" value="{$data['id']}">
            <p class="forget-pwd-p">您正在重置密码的用户名为：{$userinfo['username']}</p>
            <p class="forget-pwd-p">您的邮箱为：{$userinfo['phone']}</p>
            <p class="login-tips icon-login-tip-wrong js-tip-wrong" style="display: none;"></p>
            <p class="login-tips" style="display:none"><i class="icon-login-tip-wrong"></i>验证码错误</p>
            <div class="login-line clearfix">
                <div class="login-input user-mail fl">
                    <label class="fl" for=""></label>
                    <input class="fl" type="text" name="username" placeholder="注册邮箱">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
            </div>
            <!-- 短信码 -->
            <div class="login-line clearfix mt10">
                <div class="login-input user-dx fl">
                    <label class="fl" for=""></label>
                    <input class="msgtxt fl" name="code" type="text" placeholder="邮箱验证码">
                    <a class="clear-input fr" id="clearInput" href="javascript:;"></a>
                </div>
                <span class="msg fl ml10 send-code">获取邮箱验证码</span>
                <i class="fl icon-login-tip-right js-tip-right" style="display: none;"></i>
            </div>
            <!-- 按钮 -->
            <p class="btn-line mt20"><a class="btn-style theme-bg" href="{:U('Home/Index/findpassword_3')}">下一步</a></p>
        </form>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>