<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>主页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container container1">
    <div class="con">
        <div class="content mt20 clearfix bg3 index-con">
            <div class="bg2 clearfix pt20 pl10 pr10">
                <div class="left-nav">
                    <!-- 引用 -->
                    <include file="Common/left" />
                </div>
                <div class="mid-swiper">
                    <div class="pl20">
                        <div class="slide-box">
                            <div class="bd">
                                <ul>
                                    <foreach name="ad_focus" item="v">
                                        <li><a href="{$v.url}"><img src="{$v.img}" alt=""></a></li>
                                    </foreach>
                                </ul>
                            </div>
                            <a class="prev" href="javascript:void(0)"></a>
                            <a class="next" href="javascript:void(0)"></a>
                            <div class="hd">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-ann fr">
                    <div class="ann-top">
                        <h2>志愿者报名</h2>
                        <ul>
                            <li><a href="{:U('Home/Index/zhaomu')}">报名需知</a></li>
                        </ul>
                        <p class="mt10"><a href="{:U('Home/Index/volunteer_join')}" class="bm-rk">报名入口</a></p>
                    </div>
                    <div class="ann-bot">
                        <h2>点子商城</h2>
                        <ul>
                            <li><a href="#2">个人</a></li>
                            <li><a href="#2">与政府、企业</a></li>
                            <li><a href="#2">在线互动</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="con-tongji">目前已有<span>9999</span>名志愿者参与公共文化志愿活动</div>
            <div class="tuijian mt20">
                <ul>
                    <foreach name="companys" item="v">
                        <li class="rq-color{$key}">
                            <a href="#2">
                                <span class="tuij-img"><img src="{$v.company_logo}" alt=""></span>
                                <h3>{$v.company_name}</h3>
                                <p>{$v.company_slogan}</p>
                                <p class="tuij-rq"><span></span>人气99999</p>
                            </a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="goods-show">
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>本周热榜</em><span class="xian"></span><p>口号</p><a href="shucheng.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bb pt20 pb20 bg2 clearfix">
                            <div class="right-bl fl bg5 p20">
                                <div class="slider">
                                    <div class="bd">
                                        <ul>
                                            <foreach name="books_hot" item="v">
                                                <li>
                                                    <a href="{:U('Home/Book/detail',array('id'=>$v['id']))}"><img src="{$v.img}" /></a>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                    <div class="txt">
                                        <ul>
                                            <foreach name="books_hot" item="v">
                                                <li>
                                                    <div class="right-blcon">
                                                        <div class="bok-n">《{$v.title}》<span class="fr">9.6分</span></div>
                                                        <p><span>作者：</span>xxx<span class="ml20">主播：</span>xxx</p>
                                                        <p><span>简介：</span>{$v.desc}</p>
                                                    </div>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                    <div class="pnBtn prev">
                                        <span class="blackBg"></span>
                                        <span class="arrow"></span>
                                    </div>
                                    <div class="pnBtn next">
                                        <span class="blackBg"></span>
                                        <span class="arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="right-br fl pl10">
                                <ul class="rightt-ul">
                                    <foreach name="books_hot" item="v">
                                        <li>
                                            <a href="{:U('Home/Book/detail',array('id'=>$v['id']))}">
                                                <span class="shu-imgg"><img src="{$v.img}" alt=""></span>
                                                <div class="shu-r">
                                                    <h3>《{$v.title}》</h3>
                                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                                    <p><span class="fs16">作者</span>{$v.uid}</p>
                                                    <p><span class="fs16">主播</span>{$v.uid}</p>
                                                    <p class="mt5 jj"><span class="fs16">简介</span>{$v.desc}</p>
                                                </div>
                                            </a>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                            <div class="right-blb fl">
                                <ul class="rightt-ul">
                                    <foreach name="books_hot" item="v">
                                        <li>
                                            <a href="{:U('Home/Book/detail',array('id'=>$v['id']))}">
                                                <span class="shu-imgg"><img src="{$v.img}" alt=""></span>
                                                <div class="shu-r">
                                                    <h3>《{$v.title}》</h3>
                                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                                    <p><span class="fs16">作者</span>{$v.uid}</p>
                                                    <p><span class="fs16">主播</span>{$v.uid}</p>
                                                    <p class="mt5 jj"><span class="fs16">简介</span>{$v.desc}</p>
                                                </div>
                                            </a>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="zyz" name="zyz"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>志愿者活动</em><span class="xian"></span><p>口号</p><a href="fenlei-zhiyuanzhe.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom">
                            <div class="huodong">
                                <ul>
                                    <foreach name="activitys_1" item="v">
                                        <li>
                                            <img src="{$v.img}" alt="" class="img1">
                                            <div class="plr10">
                                                <h3>{$v.title}</h3>
                                                <p><span class="fs16">活动内容</span>：{$v.title}</p>
                                                <p class="mt10"><a href="baoming.html" class="hd-bm">报名</a><span class="fr">主办单位</span></p>
                                            </div>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="rm" name="rm"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>热门活动推荐</em><span class="xian"></span><p>口号</p><a href="fenlei-remen.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom">
                            <div class="huodong">
                                <ul>
                                    <foreach name="activitys_2" item="v">
                                        <li>
                                            <img src="{$v.img}" alt="" class="img1">
                                            <div class="plr10">
                                                <h3>{$v.title}</h3>
                                                <p><span class="fs16">活动内容</span>：{$v.title}</p>
                                                <p class="mt10"><a href="baoming.html" class="hd-bm">报名</a><span class="fr">主办单位</span></p>
                                            </div>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="yc" name="yc"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>精彩演出</em><span class="xian"></span><p>口号</p><a href="fenlei-yanchu.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom">
                            <div class="yanchu">
                                <ul>
                                    <foreach name="videos" item="v">
                                        <li>
                                            <img class="videoo fl" src="{$v.img}" alt="">
                                            <div class="yanchu-r fl">
                                                <p>剧目名称：<span>《{$v.title}》</span>表演类型：<span>{$v.special}</span>导演/指导：<span>{$v.director}</span>表演团队：<span>{$v.team}</span></p>
                                                <p><em class="fs16">介绍</em>：{$v.content}</p>
                                                <div class="y-time"><em class="fs16">热播时间</em>：{$v.time|date="Y-m-d",###}<div class="fr sc-btn"><a href="javascript:;" class="sc"></a><a href="#2" class="buy-btn"><i></i>在线购票</a></div></div>
                                            </div>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="ct" name="ct"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>传统文化演出</em><span class="xian"></span><p>口号</p><a href="fenlei-chuantong.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom">
                            <div class="right-r fl">
                                <h3><i class="scdw"></i>上传单位</h3>
                                <img class="videoo" src="{$activitys_3_recommend['img']}" alt="">
                                <p>剧目名称<span class="leibie">类别</span><span class="fr num">收看人数：100</span></p>
                            </div>
                            <div class="right-l fl">
                                <ul>
                                    <foreach name="activitys_3" item="v">
                                        <li>
                                            <h3><i class="scdw"></i>上传单位</h3>
                                            <img class="videoo" src="{$v.img}" alt="">
                                            <p>剧目名称<span class="leibie">类别</span><span class="fr num">收看人数：100</span></p>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="rem" name="rem"></a>
                <div class="goods-con hot-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>热卖产品</em><span class="xian"></span><p>口号</p><a href="qiye.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom hot-goods">
                            <ul>
                                <foreach name="products_hot" item="v">
                                    <li>
                                        <!-- <h2>{$v.title}</h2>
                                        <div class="hot-left">
                                            <p class="hot-name"><a href="#2">产品名称及型号</a></p>
                                            <p class="hot-pri">{$v.price}元</p>
                                            <p class="hot-num">已售2222件</p>
                                            <p class="hot-by">全场包邮</p>
                                        </div>
                                        <div class="hot-img">
                                            <a href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}"><img src="{$v.images}" alt=""></a>
                                            <p class="hot-name"><a href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}">{$v.title}</a></p>
                                            <p class="hot-pri">{$v.price}元</p>
                                        </div> -->
                                        <div class="chanp">
                                            <a class="chap-img" href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}"><img src="{$v.images}" alt=""></a>
                                            <p class="hot-name"><a href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}">{$v.title}</a></p>
                                            <p><span class="hot-num fl">已售2222件</span><span class="hot-by">全场包邮</span></p>
                                            <p class="hot-pri fl">{$v.price}元<span class="chanp-youh">原价:666元</span></p>
                                        </div>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                </div>
                <a id="ck" name="ck"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>创客空间</em><span class="xian"></span><p>口号</p><a href="#4" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom ck-space">
                            <ul>
                                <li>
                                    <a href="#2">
                                        <span class="ck-img"><img src="__PUBLIC__/Home/images/ck1.jpg" alt=""></span>
                                        <p class="ck-name">网站建设</p>
                                        <p>口号</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <span class="ck-img"><img src="__PUBLIC__/Home/images/ck2.jpg" alt=""></span>
                                        <p class="ck-name">APP定制</p>
                                        <p>口号</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <span class="ck-img"><img src="__PUBLIC__/Home/images/ck3.jpg" alt=""></span>
                                        <p class="ck-name">平台推广</p>
                                        <p>口号</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a id="kc" name="kc"></a>
                <div class="goods-con clearfix">
                    <div class="right-con">
                        <div class="right-top">
                            <h2><em><i class="hx"></i>精品课程</em><span class="xian"></span><p>口号</p><a href="fenlei-kecheng.html" class="more fr">更多></a></h2>
                        </div>
                        <div class="right-bottom jp-kc">
                            <ul>
                                <li>
                                    <a href="fenlei-kecheng.html">
                                        <span class="kc-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="fenlei-kecheng.html">
                                        <span class="kc-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="foot-con">
                        <ul>
                            <li>地址：天津市青年路85号</li>
                            <li>邮箱：ksyf_801@163.com</li>
                            <li>邮编：300101</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-fixed">
    <ul>
        <li class="r1"><a href="shucheng-zhuye.html" target="_blank">书城</a></li>
        <li class="r2"><a href="#zyz">志愿者活动</a></li>
        <li class="r3"><a href="#rm">热门活动</a></li>
        <li class="r4"><a href="#ct">传统文化</a></li>
        <li class="r5"><a href="#rem">热卖产品</a></li>
        <li class="r6"><a href="#ck">创客空间</a></li>
        <li class="r7"><a href="#kc">精品课程</a></li>
        <li class="r8"><a href="#yc">精彩演出</a></li>
        <li class="goTop"><a href="#">返回头部</a></li>
    </ul>
</div>
<div class="clear"></div>

<!-- 引用 -->
<include file="Common/footer" />



<script src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
<script>
    jQuery(".slide-box").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:false});
    jQuery(".slider .bd li").first().before( jQuery(".slider .bd li").last() );
    jQuery(".slider .pnBtn").hover(function(){ jQuery(this).find(".arrow").show() },function(){ jQuery(this).find(".arrow").hide() });
    jQuery(".slider").slide({ mainCell:".bd ul", effect:"leftLoop", autoPlay:false, vis:3, mouseOverStop:false,
        startFun:function(i){
             jQuery(".slider .txt li").eq(i).animate({"bottom":0}).siblings().animate({"bottom":-110});
        }
     });
</script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Home/js/index-scroll.js"></script>
</body>
</html>

