<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/re/bootstrap/css/bootstrap-theme.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
<script type="text/javascript" src="__PUBLIC__/Home/re/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/re/bootstrap/js/bootstrap.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>

<link rel="stylesheet" href="__PUBLIC__/Home/re/css/test.css" />

<style type="text/css">
    .left_label{width:158px!important;}
    .right_label{width:auto!important;border:0px!important;}
    .layui-form-item{margin-bottom: 0px!important;}
  
    .logo_box a{display: block;width: 25%;box-sizing: border-box;padding: 5px;overflow: hidden;float: left;}
    .logo_box a img{width: 100%;height: 100%;}
    .img_box a{display: block;width: 25%;box-sizing: border-box;padding: 5px;overflow: hidden;float: left;}
    .img_box a img{width: 100%;height: 100%;}
    .images_box a{display: block;width: 25%;box-sizing: border-box;padding: 5px;overflow: hidden;float: left;}
    .images_box a img{width: 100%;height: 100%;}
</style>
<body>
    <div class="title">
      <h3 class="gr_title">企业注册</h3>
      <span class="yizc">已有账号,请<a href="{:U('Home/Index/login')}" class="layui-btn layui-btn-mini layui-btn-normal">登录</a></span>
    </div>
    <div class="line"></div>
    <div class="information">



      <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
          <table class="layui-table">
            <colgroup>
              <col width="300">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                     <div class="layui-form-item">
                       <label class="layui-form-label left_label">用户名</label>
                       <div class="layui-input-inline">
                          <input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="" class="layui-input username">
                       </div>
                       <label class="layui-form-label right_label">* 6位以上英文字母或数字组成</label>
                     </div>
                   </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                       <div class="layui-form-item">
                         <label class="layui-form-label left_label">电子邮箱</label>
                         <div class="layui-input-inline">
                            <input type="text" name="email" lay-verify="email" autocomplete="off" placeholder="" class="layui-input email">
                         </div>
                         <label class="layui-form-label right_label">* 用于密码找回及登录</label>
                       </div>
                   </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label left_label">手机号</label>
                          <div class="layui-input-inline">
                             <input type="text" name="phone" lay-verify="phone" autocomplete="off" placeholder="" class="layui-input phone">
                          </div>
                          <label class="layui-form-label right_label">* 用于密码找回及登录</label>
                        </div>
                    </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">密码</label>
                        <div class="layui-input-inline">
                           <input type="password" name="password" lay-verify="password" autocomplete="off" placeholder="" class="layui-input password">
                        </div>
                        <label class="layui-form-label right_label">* 英文字母或数字组成</label>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">确认密码</label>
                        <div class="layui-input-inline">
                           <input type="password" name="repassword" lay-verify="repassword" autocomplete="off" placeholder="" class="layui-input repassword">
                        </div>
                        <label class="layui-form-label right_label">* 请再次确认密码</label>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-elem-quote" style="margin-top: 20px;">
                     <p>企业认证</p>
                   </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">社会统一代码</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_code" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_code">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">企业名称</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_name">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">注册地址</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_address" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_address">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">企业座机</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_zuoji" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_zuoji">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">有效期限</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_time" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_time">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">单位性质</label>
                        <div class="layui-input-inline">
                           <select name="company_type" class="company_type">
                             <option value="">请选择</option>
                             <foreach name="company_type" item="v">
                                  <option value="{$v.id}">{$v.title}</option>
                             </foreach>
                           </select>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">企业简称</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_short_name" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_short_name">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">主营产品</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_zhuyingchanpin" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_zhuyingchanpin">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">企业口号</label>
                        <div class="layui-input-inline">
                           <input type="text" name="company_slogan" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_slogan">
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">企业LOGO</label>
                        <div class="layui-input-inline">
                           <input type="file" id="add_upload_img_0" name="img_0" class="layui-upload-file img_0"><br>
                           <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                             注：企业LOGO
                           </div>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="row logo_box"></div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">营业执照副本扫描件</label>
                        <div class="layui-input-inline">
                           <input type="file" id="add_upload_img_1" name="img_1" class="layui-upload-file img_1"><br>
                           <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                             注：营业执照副本扫描件
                           </div>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="row img_box"></div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="layui-inline">
                      <div class="layui-form-item">
                        <label class="layui-form-label left_label">经营许可证扫描件</label>
                        <div class="layui-input-inline">
                           <input type="file" id="add_upload_img_2" name="img_2" class="layui-upload-file img_2"><br>
                           <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                             注：经营许可证扫描件
                           </div>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                   <div class="row images_box"></div>
                </td>
              </tr>

              <tr>
                <td colspan="2" align="center">
                     <div class="layui-inline">
                        <div class="layui-form-item">
                          <div class="layui-input-inline" style="width:200px;">
                             <input type="checkbox" name="agree" lay-verify="required" lay-skin="primary" title="我已经仔细阅读并接受" checked="">
                          </div>
                          <label class="layui-form-label right_label">《服务协议》</label>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" style="text-align:center;">
                  <input type="hidden" name="gid" lay-verify="required" value="{$gid}" autocomplete="off" placeholder="" class="layui-input gid">
                  <input type="hidden" name="comapny_logo" lay-verify="required" autocomplete="off" placeholder="" class="layui-input comapny_logo">
                  <input type="hidden" name="comapny_yyzz_img" lay-verify="required" autocomplete="off" placeholder="" class="layui-input comapny_yyzz_img">
                  <input type="hidden" name="company_xkz_img" lay-verify="required" autocomplete="off" placeholder="" class="layui-input company_xkz_img">
                  <button class="layui-btn" lay-submit="" lay-filter="demo1_add">立即注册</button>
                </td>
              </tr>
            </tfoot>
          </table>
      </form>


  </div>
</form>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('.username').blur(function(){
            var username=$('.username').val();
            if(username){
                _ajax_check_username_exist(username);
            }
        });
    });
</script>

<script>
    function _ajax_check_username_exist(username){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_check_username_exist')}",
             data: {
                username:username
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg('用户名已存在');
                     $('.username').focus();
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    //添加
    function _ajax_reg(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/register')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.href="{:U('Home/Index/login',array('qy'=>1))}";
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    layui.use(['form', 'layedit', 'laydate', 'upload', 'jquery'], function(){
      var $ = layui.jquery;
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //自定义验证规则
      form.verify({
        username: function(value){
          if(value.length < 5){
            return '用户名至少6个字符';
          }
        }
        ,password: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
        ,repassword: function(value) {
          //获取密码
          var password = $(".password").val();
          if(!new RegExp(password).test(value)) {
              return '两次输入的密码不一致';
          }
        }
      });

      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img_0' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .logo_box').html(str);
              $('#add_form .company_logo').val(res.data.src);
           }
         }
      });

      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img_1' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .img_box').html(str);
              $('#add_form .company_yyzz_img').val(res.data.src);
           }
         }
      });


      //上传图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_img_2' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .images_box').append(str);


              var arr=[];
              $.each($('#add_form .images_box img'), function(name, value){
                  console.log($(value).attr('src'));
                  arr.push($(value).attr('src'));
              });
              var arr2str=arr.join('#');
              $('#add_form .company_xkz_img').val(arr2str);
           }
         }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        $('#add_form .username').val('');
        var _json=_ajax_reg(data.field);
        return false;
      });
    });
</script>