<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>有声艺术汇赛程</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/xuzhi.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />

<div class="container">
    <div class="con">
        <div class="article-con">
            <h1>“圆梦•衍声界”——中国•天津首届有声艺术汇比赛规程</h1>
                <p>有声演播是一门语言艺术，是播音员和配音员们用自己的声音和语言在银幕后、话筒前进行塑造和完善各种活生生的、性格色彩鲜明的人物形象的一项创造性工作。</p>
                <p>在目前人们快节奏的生活下，汲取知识、陶冶情操、放松娱乐的方式，从传统的文字阅读逐渐转化为声音收听。有声读物在日常生活中各个场景出现。另外，随着影视动漫和互联网的发展，作品数量和传播渠道增加，制作方对配音的需求增加，对质量要求也有明显的提高。大众对于声音作品的品味也有所提升。</p>
                <p>有声演播艺术已经慢慢从耳畔走近人们的视野。在此大环境下，涌现出了一批优秀的从业人员。但是，由于发展速度过快，也出现了诸如从业人员水平参次不齐，有意向从业的爱好者缺少渠道、平台等亟待解决的问题。</p>
                <p>本次比赛正是一个绝佳的展示平台，将这些现实问题一并解决。同时让更多的人了解有声演播艺术，发掘更多的有声演播艺术人才。除了成人可以参赛之外，本次有声艺术汇还专门设置了少儿组，更好的让全民参与进来，提升少儿对有声艺术的认知与了解，从而产生兴趣，增强有声艺术教育和普及度。</p>
                <p>为了弘扬传统文化，更好的推广天津本地文化，促进有声艺术的发展，选拔有声艺术优秀人才，提升天津的公共文化服务建设。由天津市群众艺术馆与瞰世联合主办的“圆梦•衍声界”——中国•天津首届有声艺术汇 暨 “你说我听•全城争声”首届有声艺术大赛应运而生。</p>
                <h2>主办单位：</h2>
                <p>天津市群众艺术馆　　</p>
                <h2>承办单位：</h2>
                <p>瞰世(天津）文化传媒有限公司</p>
                <p>方寸轩（天津）文化传播有限公司</p>
                <p>瞰世（天津）科技有限公司</p>
                <h2>支持媒体：</h2>
                <p>天津电视台新闻频道</p>
                <p>今晚报</p>
                <p>天津日报</p>
                <p>每日新报</p>
                <p>渤海早报</p>
                <p>假日100</p>
                <p>北方网</p>
                <h2>一、网络赛区</h2>
                <p>（一）比赛时间及地点：</p>
                <p>1、初赛：</p>
                <p>   报名及上传参赛作品时间：9月10日-9月17日</p>
                <p>   投票时间：9月18日-9月25日</p>
                <p>   入围名单公布时间：9月27日</p>
                <p>   比赛地点：瞰世“一站式网络公共文化服务平台”</p>
                <p>2、决赛：</p>
                <p>     上传参赛作品时间：9月29日-10月2日</p>
                <p>     投票时间：10月3日-10月15日</p>
                <p>     获奖公布时间：11月4日</p>
                <p>     比赛地点：瞰世“一站式网络公共文化服务平台”</p>
                <p>  3、奖品邮寄：11月6日开始</p>
                <p>（二）参赛事项：</p>
                <p>1、报名：</p>
                <p>9月10日至9月17日之间，选手进入瞰世“一站式网络公共文化服务平台”（www.ks-chn.com），完成个人注册，凭有效身份证实名认证，并在报名页面填写参赛信息。重复报名者组委会有权取消其参赛资格。</p>
                <p>2、初赛：</p>
                <p>选手成功报名后上传2-5分钟MP3格式音频作品（干音，不加任何背景音乐及音效），音频须是个人小说演播或配音的声音表演作品。音频内容要求主题鲜明，内容积极向上，不限制题材（如带有传统文化、红色史实、文学经典内容的小说演播、影视配音、动漫配音、游戏配音、广播剧配音、纪录片配音、专题片配音等）。成功提交音频后即参赛成功，音频上传后不可更改、不可删除。音频文件以“参赛作品名称-选手姓名”命名，例：《三国演义》-袁阔成</p>
                <p>初赛仅设置网络投票环节，实时生成“投票榜单”，投票时间为9月18日-9月25日。由评委在榜单前100名选手中，评选出30名选手晋级决赛。</p>
                <p>3、决赛：</p>
                <p>晋级决赛的选手上传2-5分钟MP3格式音频作品（干音，不加任何背景音乐及音效），音频须是个人小说演播或配音的声音表演作品。决赛作品不可与初赛内容一致。音频内容要求主题鲜明，内容积极向上，不限制题材（如带有传统文化、红色史实、文学经典内容的小说演播、影视配音、动漫配音、游戏配音、广播剧配音、纪录片配音、专题片配音等）。成功提交音频后即参赛成功，音频上传后不可更改、不可删除。音频文件以“参赛作品名称-选手姓名”命名，例：《三国演义》-袁阔成</p>
                <p>决赛设置网络投票环节，实时生成“投票榜单”，同时由专业评委遵循公平、公正、公开的原则进行点评。获得票数第一的选手直接获得“网络赛区人气奖”。其他奖项由评委评选出结果，结果在瞰世“一站式网络公共文化服务平台”、微信公众号上同时公示。</p>
                <p>（三）奖项设置和颁发方式：</p>
                <p>奖项：金奖（1名）、银奖（2名）、铜奖（3名）、人气奖（1名）；</p>
                <p>证书及奖杯由组委会统一邮寄。</p>
                <p>获奖者可与平台进行签约，享受国家文化部全国文化信息资源共享工程音频收录、有声书一手书源、商业配音、游戏配音、动画配音及网剧配音等项目的录制。</p>
                <h2>二、线下赛区</h2>
                <p>（一）比赛时间及地点：</p>
                <p>1、初赛</p>
                <p>报名及上传参赛作品时间：9月10日-9月17日</p>
                <p>  投票时间：9月18日-9月25日</p>
                <p>  入围名单公布时间：9月27日</p>
                <p>  比赛地点：瞰世“一站式网络公共文化服务平台”</p>
                <p>2、复赛</p>
                <p>比赛时间：10月1日-10月2日</p>
                <p>比赛地点：天津凯德MALL（天津市河西区南北大街1号）</p>
                <p>3、决赛</p>
                <p>投票开始时间：10月3日</p>
                <p>投票统计时间：比赛当日</p>
                <p>比赛时间：11月4日-11月5日</p>
                <p>比赛地点：天津群星剧院（天津市和平区烟台道82号）</p>
                <p>（二）参赛事项：</p>
                <h2>1.成人组（16周岁及以上）</h2>
                <p>（1）报名：</p>
                <p>9月10日至9月17日之间，选手进入瞰世“一站式网络公共文化服务平台”（www.ks-chn.com），完成个人注册，凭有效身份证实名认证，并在报名页面填写参赛信息。重复报名者组委会有权取消其参赛资格。</p>
                <p>（2）初赛：</p>
                <p>成人组选手上传2-5分钟MP3格式音频作品（干音，不加任何背景音乐及音效），音频须是个人小说演播或配音的声音表演作品。音频内容要求主题鲜明，内容积极向上，不限制题材（如带有传统文化、红色史实、文学经典内容的小说演播、影视配音、动漫配音、游戏配音、广播剧配音、纪录片配音、专题片配音等）。成功提交音频后即参赛成功，音频上传后不可更改、不可删除。音频文件以“参赛作品名称-选手姓名”命名，例：《三国演义》-袁阔成</p>
                <p>初赛仅设置网络投票环节，实时生成“投票榜单”，投票时间为9月18日-9月25日。投票截止后，由评委在榜单前200名选手中，评选出70名选手晋级复赛。</p>
                <p>（3）复赛：</p>
                <h2>选手安排</h2>
                <p>晋级复赛的选手在组委会通知的时间到达比赛现场，在签到处进行选手签到并拍照。选手现场需出具第二代身份证原件，确认选手参赛身份。</p>
                <p>选手按照现场工作人员安排的表演顺序并在主持人的提示下进行比赛。</p>
                <p>首先自我介绍大赛编号、年龄，兴趣特长等等，要求选手要声音响亮、吐字清晰，口齿伶俐且自信大方。有新奇的介绍方式更佳，时间控制在30秒左右。选手进行小说演播或配音的声音表演；复赛须展示与初赛不同的内容。表演时主题鲜明深刻，富有感情，具有感染力。可根据自身的特点采用不同的展示方式，时间须控制在2-3分钟。</p>
                <p>评分规则</p>
                <p>评分参考标准：</p>
                <p>是否符合主题、感情表达（情感表达合理，符合文本意图，叙述感与角色代入感）、技术技巧（语言面貌，气息处理，声音技巧）、是否脱稿。</p>
                <p>评委点评：三位评委依次点评选手，给出个人结果（通过或待定），以支持通过的评委人数决定晋级结果。每日选出8名晋级选手，再从其他待定选手中评选出2名晋级。</p>
                <p>两日内，由评委在复赛选手中，共评选出20名选手晋级决赛。</p>
                <p>（4）决赛：</p>
                <p>选手安排</p>
                <p>收到晋级决赛通知的选手需在瞰世“一站式网络公共文化服务平台”进行比赛分组抽签，并与比赛前在决赛现场进行比赛彩排（10月22日、10月29日、比赛当日，共三次），比赛当日选手现场需出具第二代身份证原件，确认选手参赛身份。选手按照现场工作人员安排的表演顺序并在主持人的提示下进行比赛。</p>
                <p>视频配音：按照预先分组2-3人一组在现场根据组委会提供的视频配音，每组视频时间不超过3分钟；要求选手表演时感情丰富、具有感染力，能够充分运用技术与技巧，与视频内口型一致。</p>
                <p>声优剧：选手按照预先分组5人一组表演声优剧，每组时间不超过10分钟；要求选手表演时感情丰富、注意技术与技巧的运用以及组内人员的配合。</p>
                <h2>评分规则</h2>
                <p>a.评委打分：</p>
                <p>比赛现场由专业评委遵循公平、公正、公开的原则进行现场点评。</p>
                <p>视频配音：</p>
                <p>口    型：20分</p>
                <p>情感表达：40分</p>
                <p>技术技巧：40分</p>
                <p>声优剧：</p>
                <p>团队配合：20分</p>
                <p>情感表达：40分</p>
                <p>技术技巧：40分</p>
                <p>b.大众评审投票</p>
                <p>现场大众评审40人，每位评审依次为每位选手投票，1票即1分。</p>
                <p>c.人气加分</p>
                <p>根据网络投票环节，实时生成的“投票榜单”，进入榜单的前五名选手依次加2-10分。</p>
                <h2>分数统计</h2>
                <p>决赛总分=视频配音平均分数+声优剧平均分数+大众评审票数+人气加分</p>
                <p>按照计算规则评出最后结果，结果在瞰世“一站式网络公共文化服务平台”、微信公众号同时进行公示。</p>
                <p>（5）奖项设置和颁发方式：</p>
                <p>奖项：金奖（男女各1名）、银奖（3名）、铜奖（5名）、优秀奖（10名）、网络最具人气奖（1名）、最具潜质奖（1名）</p>
                <p>冠军奖品：价值5000元的录音设备一套</p>
                <p>证书、奖杯及奖品于决赛当日现场由颁奖嘉宾颁发。</p>
                <p>获奖者可与平台进行签约，享受国家文化部全国文化信息资源共享工程音频收录、有声书一手书源、商业配音、游戏配音、动画配音及网剧配音等项目的录制。</p>
                <h2>2.少儿组（16周岁以下）</h2>
                <p>（1）报名：</p>
                <p>9月10日至9月17日之间，选手进入瞰世“一站式网络公共文化服务平台”（www.ks-chn.com），可在监护人帮助下完成个人注册，凭有户口本首页和本人页实名认证，并在报名页面填写参赛信息。重复报名者组委会有权取消其参赛资格。</p>
                <p>（2）初赛：</p>
                <p>少儿组选手上传2-5分钟MP3格式音频作品（干音，不加任何背景音乐及音效），音频包括但不限于个人朗诵或演讲等声音表演作品（演唱除外）。音频内容要求主题鲜明，内容积极向上，不限制题材（如带有传统文化、国学经典、红色史实内容的朗诵、演讲等）。成功提交音频后即参赛成功，音频上传后不可更改、不可删除。音频文件以“参赛作品名称-选手姓名”命名，例：《弟子规》-刘月月</p>
                <p>初赛仅设置网络投票环节，实时生成“投票榜单”，投票时间为9月18日-9月25日。投票截止后，由评委在榜单前200名选手中，评选出70名选手晋级复赛。</p>
                <p>（3）复赛：</p>
                <h2>选手安排</h2>
                <p>晋级复赛的选手在组委会通知的时间到达比赛现场，在签到处进行选手签到并拍照。选手现场需出具监护人第二代身份证原件（与报名时户口本首页姓名相同），确认选手参赛身份。</p>
                <p>选手按照现场工作人员安排的表演顺序并在主持人的提示下进行比赛。</p>
                <p>首先自我介绍大赛编号、年龄，兴趣特长等等，要求选手要声音响亮、吐字清晰，口齿伶俐且自信大方。有新奇的介绍方式更佳，时间控制在30秒左右。选手进行包括但不限于朗诵或演讲等形式的声音表演（演唱除外）；表演时主题鲜明，声音响亮，吐字清晰，语速适中。可根据自身的特点采用不同的展示方式，时间须控制在2-3分钟。</p>
                <h2>评分规则</h2>
                <p>评分参考标准：</p>
                <p>少儿组：是否符合主题、吐字清晰、有感情</p>
                <p>评委点评：三位评委依次点评选手，给出个人结果（通过或待定），以支持通过的评委人数决定晋级结果。每日选出6名晋级选手，再从其他待定选手中评选出2名晋级。</p>
                <p>两日内，由评委在复赛选手中，共评选出16名选手晋级决赛。</p>
                <p>（4）决赛：</p>
                <h2>选手安排</h2>
                <p>选手须于比赛前在决赛现场进行比赛彩排，比赛当日选手现场需出具监护人第二代身份证原件（与报名时户口本首页姓名相同），确认选手参赛身份。</p>
                <p>选手按照现场工作人员安排的表演顺序并在主持人的提示下进行比赛。</p>
                <p>选手按照赛前规定的主题进行独立展示。包括但不限于朗诵或演讲等形式的声音表演（演唱除外）；表演时主题鲜明，声音响亮，吐字清晰，语速适中。可根据自身的特点采用不同的展示方式，时间须控制在2-3分钟。</p>
                <h2>评分规则</h2>
                <p>a.评委点评：</p>
                <p>比赛现场由专业评委遵循公平、公正、公开的原则进行现场点评。</p>
                <p>语言面貌：40分</p>
                <p>感情表达：30分</p>
                <p>叙述完整：30分</p>
                <p>b.大众评审投票</p>
                <p>现场大众评审40人，每位评审依次为每位选手投票，1票即1分。</p>
                <p>c.人气加分</p>
                <p>根据网络投票环节，实时生成的“投票榜单”，进入榜单的前五名选手依次加2-10分。</p>
                <h2>分数统计</h2>
                <p>决赛总分=评委平均分数+大众评审票数+人气加分</p>
                <p>按照计算规则评出最后结果，结果在瞰世“一站式网络公共文化服务平台”、微信公众号同时进行公示。</p>
                <p>（5）奖项设置和颁发方式：</p>
                <p>奖项：金奖（1名）、银奖（2名）、铜奖（3名）、优秀奖（10名）；</p>
                <p>优秀组织奖（4名）、伯乐奖（1名）等。</p>
                <p>金奖奖品：少儿丛书一套</p>
                <p>金银铜奖奖品：“留声计划”个人专属CD</p>
                <p>证书、奖杯及奖品于决赛当日现场由颁奖嘉宾颁发。</p>
                <p>获奖选手均可参与天津市群众艺术馆“留声计划”，获得专业级录音棚录制体验（前期录音+专业监棚指导+后期混缩+声音母带处理）。还将享受国家文化部全国文化信息资源共享工程音频收录、商业配音、游戏配音、动画配音及网剧配音等项目的录制。</p>
                <h2>组织委员会</h2>
                <p>名誉主任：李戈</p>
                <p>主任：崔玉杰</p>
                <p>执行主任：刘坡、杨光宇、常文斐</p>
                <p>副主任：路浩、赵韬、苏芹芹</p>
                <p>秘书长：李戈</p>
                <p>委员：高昆、赵燊、王晓冕、马传凯、傅德伟、丁云川、王凡月、江洋</p>
                <h2>仲裁委员会：</h2>
                <h2>网络赛区</h2>
                <p>初赛评委：</p>
                <p>孙宇（中华文化促进会朗读专业委员会 副秘书长；中国文化管理协会有声视听文化委员会 副秘书长；资深互联网音视频运营专家）</p>
                <p>常文斐（有声艺术家，“方寸轩”文化传播有限公司CEO）</p>
                <p>决赛评委：</p>
                <p>孙宇（中华文化促进会朗读专业委员会 副秘书长；中国文化管理协会有声视听文化委员会 副秘书长；资深互联网音视频运营专家）</p>
                <p>常文斐（有声艺术家，“方寸轩”文化传播有限公司CEO）</p>
                <h2>线下赛区</h2>
                <p>初赛评委：</p>
                <p>朵朵（作家，有声艺术家）</p>
                <p>瑶小喵（天津市作家协会作家、黑岩首推作家）</p>
                <p>常文斐（有声艺术家，“方寸轩”文化传播有限公司CEO）</p>
                <p>复赛评委：</p>
                <p>朵朵（作家，有声艺术家）</p>
                <p>瑶小喵（天津市作家协会作家、黑岩首推作家）</p>
                <p>常文斐（有声艺术家，“方寸轩”文化传播有限公司CEO）</p>
                <p>决赛评委：</p>
                <p>王中琪（天津市作家协会秘书长）</p>
                <p>孙宇（中华文化促进会朗读专业委员会 副秘书长；中国文化管理协会有声视听文化委员会 副秘书长；资深互联网音视频运营专家）</p>
                <p>文超（天津相声广播电台FM92.1频道主持人）</p>

        </div>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />
</body>
</html>