<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>商城首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container mt20">
    <div class="con">
        <div class="nav-all-con">
            <foreach name="shop_types" item="v1">
                <div class="nav-list">
                    <h3><i class="icon-sort"></i><a href="#3">{$v1.title}</a><i class="icon-hot"></i><i class="icon-jt fr"></i></h3>
                    <div class="nav-list-con2">
                        <div class="nav-list-con2-list">
                            <foreach name="v1['_child']" item="v2">
                                <div class="nav-fl">
                                    <h4><img src="__PUBLIC__/Home/images/img1.jpg" alt=""><a href="#3">{$v2.title}</a><a href="#2" class="nav-more fr">更多&gt;</a></h4>
                                    <div class="nav-list-con2-con">
                                        <foreach name="v2['_child']" item="v3">
                                            <a href="#3">{$v3.title}</a>
                                        </foreach>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                        <div class="nav-list-r">
                            <h3><i class="icon-hx"></i>猜你喜欢</h3>
                            <div class="desc">实时推荐最适合你的宝贝</div>
                            <div class="nav-goods">
                                <a href="#2">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <p>skfjlsdfj</p>
                                </a>
                                <a href="#2">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <p>skfjlsdfj</p>
                                </a>
                                <a href="#2">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <p>skfjlsdfj</p>
                                </a>
                                <a href="#2">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <p>skfjlsdfj</p>
                                </a>
                                <a href="#2">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <p>skfjlsdfj</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
        <div class="right-godsc">
            <ul>
                <foreach name="list" item="v">
                    <li>
                        <a href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}"><img src="{$v.img}" alt=""></a>
                        <div class="right-g-i">
                            <div class="right-g-p">￥{$v.price}<span class="fr right-g-y">邮费:{$v.price}</span></div>
                            <div class="right-g-n"><a href="shangchengxiangqing.html">{$v.title}</a></div>
                            <div class="right-g-s">已售5件</div>
                            <div class="right-g-m"><a href="#2">卖家</a><span class="fr">地址</span></div>
                            <div class="fr"><a href="{:U('Home/Index/chanpin_detail',array('id'=>$v['id']))}"><i class="icon-lxmj"></i></a></div>
                        </div>
                    </li>
                </foreach>
            </ul>
            <div class="clear"></div>
            <div class="pages">
                <table style="width:100%;">
                    <tr>
                        <td align="center">{$page}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>