<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>活动详情</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/huodong.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container">
    <div class="con">
        <div class="content mt20">
            <div class="right-con">


                <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
                   
                    <div class="huod zyzbm">
                        <div class="article-con">
                            <h1>志愿者招募</h1>
                            <p>为响应总书记号召，弘扬民族智慧，树立民族文化自信，促进有声艺术的发展，提升天津的公共文化服务建设。公共文化志愿者总队天津有声分队特向社会招募文化服务志愿者，共同参与公共文化建设。</p>
                            <p>公共文化志愿者总队有声分队自成立以来，多次参与公共文化志愿服务，树立了良好的公共形象。为了进一步壮大志愿者服务队伍，提高服务水平，拓展服务领域，扩大公共文化服务覆盖面，我们呼吁广大热心公益事业，志愿贡献个人时间和精力，为社会和他人提供服务和帮助的人们加入到志愿者队伍中来，在服务社会、服务他人的同时，提升自我价值。</p>
                            <h2>一、招募条件</h2>
                            <p>1.男女不限，年龄18-40周岁，身体健康；</p>
                            <p>2.热心公共文化事业，具有奉献精神；</p>
                            <p>3.有责任感、乐于助人、服从安排、具有团队意识；</p>
                            <p>4.遵守中华人民共和国法律法规；</p>
                            <p>5.业务时间能够参加志愿服务活动；</p>
                            <p>6.热爱有声艺术，有传统文化义工经历者优先。</p>
                            <h2>二、服务内容</h2>
                            <p>1.天津市群众艺术馆开展的各类公共文化活动；</p>
                            <p>2.有声艺术相关活动；</p>
                            <p>3.其他公益活动。</p>
                            <h2>三、报名方式</h2>
                            <p>登陆瞰世“一站式网络公共文化服务平台”（www.ks-chn.com）首页，“志愿者报名”入口，填写相关信息，即可报名。</p>
                            <p>招募热线：022-27599350</p>
                        </div>
                        <table class="layui-table">
                         <colgroup>
                           <col width="50%">
                           <col>
                         </colgroup>
                          <tbody>
                            
                            <tr>
                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">联系人</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="contact_people" lay-verify="required" placeholder="" class="layui-input contact_people">
                                    </div>
                                  </div>
                                </div>
                              </td>

                              <td>
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">联系电话</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="contact_phone" lay-verify="phone" placeholder="" class="layui-input contact_phone">
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>

                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="2" style="text-align:center;">
                                <input type="hidden" name="uid" lay-verify="required" class="layui-input uid" value="{$user['id']}">
                                <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1_add">确认</button>
                              </td>
                            </tr>
                          </tfoot>
                       </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>


<script>
    //添加
    function _ajax_add(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Index/ajax_add_volunteer')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     layer.msg(json.msg);
                     window.location.reload();
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }

    layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //上传图片接口：注意：layedit.set 一定要放在 build前面，否则配置全局接口将无效
      layedit.set({
          uploadImage: {
              url: "{:U('Home/Index/lay_upload_file')}", //接口url
              type: 'post', //默认post
          }
      });

      //创建一个编辑器
      var editIndex = layedit.build('editer_add');

      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var uid="{$user['id']}";
        if(uid){
            var _json=_ajax_add(data.field);
            return false;
        }else{
            layer.msg('请登录');
        }
      });
    });
</script>