<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>活动详情</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/huodong.css">
</head>
<body>

<!-- 引用 -->
<include file="Common/header" />


<div class="container">
    <div class="con">
        <div class="content mt20">
            <div class="left-nav">
                <!-- 引用 -->
                <include file="Common/left" />
            </div>
            <div class="right-con">
                <div class="huod">
                    <h1>《剧目名称》</h1>
                    <div class="fr sc-btn"><a href="#2" class="sc-plu"><i class="icon-ppl"></i>1111</a><a href="javascript:;" class="sc"></a><a href="#2" class="buy-btn"><i></i>在线购票</a></div>
                    <p class="huod-sub">表演类型：xxx &emsp;导演/指导：xxx &emsp;表演团队：xxx &emsp;热播时间：xxx</p>
                    <div class="huo-imgg"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></div>
                    <div class="huo-priii">￥：9999</div>
                    <h2>活动介绍：</h2>
                    <p>sklajfalksf</p>
                    <p>sklajfalksf</p>
                    <p>sklajfalksf</p>
                    <p>sklajfalksf</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>