<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>活动中心</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/huodong.css">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />

<?php
    $top_ad=M('Ad')->find(3);
?>
<div class="baoming-ban" style="background: none;"><a href="{$top_ad.url}" style="background: url('{$ad_center.img}') no-repeat center center;display: inline-block;width: 1000px;height: 400px;"></a></div>
<div class="container">
    <div class="con">
        <div class="hezuo news">
            <div class="bgfff comContent clear">
                <div class="comLeft">
                    <div class="swpierr mb20 clearfix">
                        <ul>
                            <li><a href="{:U('Home/Match/rule',array('id'=>$recommmend['id']))}"><img src="{$recommmend.img}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="area2 marok">
                        <img src="__PUBLIC__/Home/images/contact.png">
                        <div class="table pad010 mt20">
                            <div class="tablec vermid left"><span class="icon-ii"></span></div>
                            <div class="tablec vermid right">客服电话：{$left_company_info.phone}</div>
                        </div>
                        <div class="table pad010">
                            <div class="tablec vermid left"><span class="icon-ii"></span></div>
                            <div class="tablec vermid right">
                                <a href="#4">企业QQ：{$left_company_info.qq}</a>
                            </div>
                        </div>
                        <div class="table pad010">
                            <div class="tablec vermid left"><span class="icon-ii"></span></div>
                            <div class="tablec vermid right">电子邮箱：{$left_company_info.email}</div>
                        </div>
                        <div class="table pad010">
                            <div class="tablec vermid left"><span class="icon-ii"></span></div>
                            <div class="tablec vermid right">地址：{$left_company_info.address}</div>
                        </div>
                    </div>
                </div>
                <div class="comRight">
                    <div class="content r-c">
                        <div class="bred">  
                            <span>赛事活动</span>
                            <span>></span>
                            <span class="now">
                                <if condition="$_GET['type']">{$top_nav_type_info.title}<else/>全部</if>
                            </span>
                        </div>  
                        <div class="sousuo fl">
                            <form action="" method="get">
                                <input type="text" name="title" class="ss-in" placeholder="比赛项目">
                                <input type="hidden" name="type" class="ss-in" value="{$_GET['type']}">
                                <button type="submit" class="ss-txt">搜索</button>
                            </form>
                        </div>
                        <div class="clear"></div>
                        <div class="neirong">
                            <ul class="activityList overhid">
                            <foreach name="list" item='v'>
                                <li>
                                    <a href="{:U('Home/Match/rule',array('type'=>$v['type'], 'id'=>$v['id']))}">
                                        <div class="imgP"><img src="{$v.img}"></div>
                                        <div class="timeCir">
                                            <p class="date b">{$v.start_time_m_d}</p>
                                            <p class="year">{$v.start_time_y}</p>
                                        </div>
                                        <h3 class="moreline2">{$v.title}</h3>
                                    </a>
                                    <a href="{:U('Home/Match/rule',array('id'=>$v['id']))}" class="bsgz">比赛规则【{$v.eye}】</a>
                                </li>
                            </foreach>
                            </ul>
                        </div>
                        <div class="pages">
                            <table style="width:100%;">
                                <tr>
                                    <td align="center">{$page}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<!-- 引用 -->
<include file="Common/footer" />


<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>