<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>报名</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />


<div class="baoming-ban"></div>
<div class="container p20">
    <div class="con">
        <div class="slideBox">
            <div class="hd">
                <div class="bred"><span>参赛报名</span>><span class="now">全部</span></div>
                <div class="sousuo fl"><input type="text" class="ss-in" placeholder="作者/比赛项目/编号"><a href="javascript:;" class="ss-txt">搜索</a></div>
                <div class="right-btn fr">
                    <a href="baoming-quanbu.html"><i class="icon-bm"></i>报名参赛</a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="bd">
                <div class="shot">
                    <ul class="clearfix">
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                <div class="info-top first">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                <div class="info-top second">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                <div class="info-top third">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                <div class="info-top">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn btn-gray">您已投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<!-- 头部引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>