<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>报名</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">

<style type="text/css">
    .cover{width: 150px;}
    .image_box a{display: block;width: 25%;box-sizing: border-box;padding: 5px;overflow: hidden;float: left;}
    .image_box a img{width: 100%;height: 100%;}
</style>

</head>
<body>
<!-- 引用 -->
<include file="Common/header" />

<div class="container p20">
    <div class="con">
        <div class="bm-con">
            <div class="head-tit mb20"><img src="__PUBLIC__/Home/images/img2.png" alt=""></div>
            <div class="slideBox">
                <div class="hd">
                    <ul>
                        <foreach name="types" item="v">
                            <li <if condition="$type eq $v['id']">class="on"</if>><a href="{:U('Home/Baoming/baoming',array('type'=>$v['id']))}">{$v.title}</a></li>
                        </foreach>
                    </ul>
                </div>
                <div class="bd">
                    <div class="bm-form">
                        <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
                           <table class="layui-table">
                             <colgroup>
                               <col width="300">
                               <col>
                             </colgroup>
                             <tbody>
                               
                               <tr>
                                 <td>
                                   <img class="cover" src="__PUBLIC__/Home/images/erweima.jpg">
                                   <input type="file" id="add_upload_cover" name="img" class="layui-upload-file"><br>
                                   <div class="layui-elem-quote" style="margin-top: 20px;border-left: 0px solid red;color: red;">
                                     注：封面
                                   </div>
                                 </td>

                                 <td>
                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">报名单位</label>
                                       <div class="layui-input-inline">
                                          <input type="radio" name="unit" class="unit" value="1" title="个人" checked="">
                                          <input type="radio" name="unit" class="unit" value="2" title="团体">
                                       </div>
                                     </div>
                                   </div>

                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">作者/单位</label>
                                       <div class="layui-input-inline">
                                         <input type="text" name="author" lay-verify="required" placeholder="" class="layui-input author">
                                       </div>
                                     </div>
                                   </div>

                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">联系电话</label>
                                       <div class="layui-input-inline">
                                         <input type="text" name="phone" lay-verify="required" placeholder="" class="layui-input phone">
                                       </div>
                                     </div>
                                   </div>

                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">作品主题</label>
                                       <div class="layui-input-inline">
                                         <input type="text" name="title" lay-verify="required" placeholder="" class="layui-input title">
                                       </div>
                                     </div>
                                   </div>

                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">参赛项目</label>
                                       <div class="layui-input-inline">
                                           <select name="mid" class="mid" lay-verify="required">
                                             <option value="">请选择</option>
                                             <foreach name="match" item='v'>
                                                <option value="{$v.id}">{$v.title}</option>
                                             </foreach>
                                           </select>
                                       </div>
                                     </div>
                                   </div>

                                   <div class="layui-inline">
                                     <div class="layui-form-item">
                                       <label class="layui-form-label">参赛宣言</label>
                                       <div class="layui-input-inline">
                                         <input type="text" name="desc" lay-verify="required" placeholder="" class="layui-input title">
                                       </div>
                                     </div>
                                   </div>
                                 </td>
                               </tr>

                               <tr>
                                 <td colspan="2">
                                    <div class="layui-elem-quote" style="margin-top: 0px;margin-bottom: 0px;">
                                      <p>注：上传文件【单视频、单音频、多图片、单PDF】</p>
                                    </div>
                                 </td>
                               </tr>

                               <tr>
                                 <td colspan="2">
                                      
                                      <if condition="$_GET['type'] eq 1284">
                                            <div class="layui-inline" title="音频类">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">上传音频</label>
                                                <div class="layui-input-inline">
                                                  <input type="file" id="add_upload_voice" name="file" lay-type="audio" class="layui-upload-file">
                                                </div>
                                                <a target="_blank" class="layui-form-label show_file_btn" style="width:61px!important;display: none;">
                                                  预览
                                                </a>
                                              </div>
                                            </div>
                                      </if>

                                      <if condition="$_GET['type'] eq 1285">
                                            <div class="layui-inline" title="视频类">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">上传视频</label>
                                                <div class="layui-input-inline">
                                                  <input type="file" id="add_upload_video" name="file" lay-type="video" class="layui-upload-file">
                                                </div>
                                                <a target="_blank" class="layui-form-label show_file_btn" style="width:61px!important;display: none;">
                                                  预览
                                                </a>
                                              </div>
                                            </div>
                                      </if>

                                      <if condition="in_array($_GET['type'], array('1286', '1288', '1289'))">  
                                            <div class="layui-inline" title="图片类">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">上传图片</label>
                                                <div class="layui-input-inline">
                                                  <input type="file" id="add_upload_images" name="file" class="layui-upload-file">
                                                </div>
                                                <a target="_blank" class="layui-form-label show_file_btn" style="width:61px!important;display: none;">
                                                  预览
                                                </a>
                                              </div>
                                            </div>
                                      </if>  

                                      <if condition="$_GET['type'] eq 1287">
                                            <div class="layui-inline" title="文件类">
                                              <div class="layui-form-item">
                                                <label class="layui-form-label">上传pdf</label>
                                                <div class="layui-input-inline">
                                                  <input type="file" id="add_upload_pdf" name="file" lay-type="file" class="layui-upload-file">
                                                </div>
                                                <a target="_blank" class="layui-form-label show_file_btn" style="width:61px!important;display: none;">
                                                  预览
                                                </a>
                                              </div>
                                            </div>
                                      </if>
                                          
                                 </td>
                               </tr>

                               <tr>
                                 <td colspan="2">
                                    <div class="row image_box"></div>
                                 </td>
                               </tr>

                               <tr>
                                 <td class="center" colspan="2">
                                   <div class="layui-form-item layui-form-text">
                                       <label class="layui-form-label" style="width: 100%!important;text-align: left;">文字说明</label>
                                       <div class="layui-input-block">
                                           <textarea class="layui-textarea layui-hide content" name="content" lay-verify="content" id="editer_add"></textarea>
                                       </div>
                                   </div>
                                 </td>
                               </tr>
                             </tbody>
                             <tfoot>
                               <tr>
                                 <td colspan="2" style="text-align:right;">
                                   <input type="hidden" name="type" lay-verify="required" class="layui-input type" value="{$_GET['type']}">
                                   <input type="hidden" name="files" lay-verify="required" class="layui-input files">
                                   <input type="hidden" name="img" lay-verify="required" class="layui-input img">
                                   <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1_add">确认</button>
                                 </td>
                               </tr>
                             </tfoot>
                           </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>



<script>
    //添加
    function _ajax_add(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Match/ajax_add')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.reload();
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }

    layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //上传封面
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_cover' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .cover').attr('src', res.data.src);
              $('#add_form .img').val(res.data.src);
           }
         }
      });

      //上传音频
      layui.upload({
         url: "{:U('Home/Index/lay_upload_file')}" //上传接口
         ,elem: '#add_upload_voice' //指定原始元素，默认直接查找class="layui-upload-file"
         ,ext : 'mp3'
         ,method: 'post' //上传接口的http类型
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .files').val(res.data.src);
              $('#add_form .show_file_btn').show().attr('href', res.data.src);
           }
         }
      });

      //上传视频
      layui.upload({
         url: "{:U('Home/Index/lay_upload_file')}" //上传接口
         ,elem: '#add_upload_video' //指定原始元素，默认直接查找class="layui-upload-file"
         ,ext : 'mp4'
         ,method: 'post' //上传接口的http类型
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .files').val(res.data.src);
              $('#add_form .show_file_btn').show().attr('href', res.data.src);
           }
         }
      });

      //上传pdf
      layui.upload({
         url: "{:U('Home/Index/lay_upload_file')}" //上传接口
         ,elem: '#add_upload_pdf' //指定原始元素，默认直接查找class="layui-upload-file"
         ,ext : 'pdf'
         ,method: 'post' //上传接口的http类型
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              $('#add_form .files').val(res.data.src);
              $('#add_form .show_file_btn').show().attr('href', res.data.src);
           }
         }
      });

      //上传多图片
      layui.upload({
         url: "{:U('Home/Index/lay_upload_img')}" //上传接口
         ,elem: '#add_upload_images' //指定原始元素，默认直接查找class="layui-upload-file"
         ,success: function(res){ //上传成功后的回调
           if(res.code==0){
              var str='';
                 str+='<a href="#">'+
                        '<img src="'+res.data.src+'">'+
                      '</a>';

              $('#add_form .image_box').append(str);


              var arr=[];
              $.each($('#add_form .image_box img'), function(name, value){
                  console.log($(value).attr('src'));
                  arr.push($(value).attr('src'));
              });
              var arr2str=arr.join('#');
              console.log(arr2str);
              $('#add_form .fiels').val(arr2str);
           }
         }
      });

      
      
      //上传图片接口：注意：layedit.set 一定要放在 build前面，否则配置全局接口将无效
      layedit.set({
          uploadImage: {
              url: "{:U('Home/Index/lay_upload_file')}", //接口url
              type: 'post', //默认post
          }
      });

      //创建一个编辑器
      var editIndex = layedit.build('editer_add');

      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _json=_ajax_add(data.field);
        return false;
      });
    });
</script>
</body>
</html>
