<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>参赛内容详情</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/huodong.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />

<div class="container">
    <div class="con">
        <div class="hezuo newsdetail">
            <div class="bgfff newsdetailMaxWidth">
                <div class="titArea">
                    <h3>{$row.title}</h3>
                    <div class="tit-right">
                        <ul>
                            <li><a href="#changyan_box" class="tit-pl">评论</a></li>
                            <li><a href="#4" class="tit-lp">一键拉票</a></li>
                            <li><a href="#4" data-id="{$row.id}" data-mid="{$row.mid}" data-type="{$row.type}" data-uid="{$user.id}" class="tit-tp vote_btn">我要投票</a><p>{$row.vote}票</p></li>
                        </ul>
    <style type="text/css">
        #baiduShare_box{position: relative;}
        #baiduShare_box .bdsharebuttonbox{position: absolute;top: 32px;left: 25px;}
    </style>
                        <div id="baiduShare_box">
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
                            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","weixin","tqq","renren"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","weixin","tqq","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                        </div>
                    </div>
                    <p class="tit-sub"><span>作者：{$row.author}</span><span>编号：{$row.id}</span><span>比赛项目：{$row.match}</span></p>
                </div>
                <div class="wenzhang">
                    <div class="cs-con">


                        


                        <if condition="$row['type'] eq 1284">
                              <audio src="{$row.files}">
                              您的浏览器不支持 audio 标签。
                              </audio>
                        </if>

                        <if condition="$row['type'] eq 1285">
                              <video src="$row['files']" controls="controls">
                              您的浏览器不支持 video 标签。
                              </video>
                        </if>

                        <if condition="in_array($row['type'], array('1286', '1288', '1289'))">  
                              <foreach name="files" item="v">
                                  <img src="{$v}" alt="">
                              </foreach>
                        </if>  

                        <if condition="$row['type'] eq 1287">
                              <iframe src="{$row.files}" style="width: 100px;height: 100px;"></iframe>
                        </if>

                        <foreach name="files" item="v">
                            <img src="{$v}" alt="">
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="changyan_box">
        <!--PC版-->
        <div id="SOHUCS" sid="{$row.id}"></div>
        <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
        <script type="text/javascript">
            window.changyan.api.config({
                appid: 'cysvouAoc',
                conf: 'prod_897d920e6d325c021c81d49500347fe7'
            });
        </script>
    </div>
</div>

<div class="clear"></div>
<!-- 头部引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<div class="around_images" style="display:none;">
    <style type="text/css">
        .layui-layer-page .layui-layer-content{overflow: hidden;}
    </style>
    <div id="tong_1">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_1.png">
    </div>
    <div id="tong_2">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_2.jpg">
    </div>
    <div id="tong_3">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_3.jpg">
    </div>
</div>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('.vote_btn').click(function(){
            var uid=$(this).attr('data-uid');
            if(!uid){
                window.location.href="{:U('Home/User/login')}";
            }else{
                var id=$(this).attr('data-id');
                var mid=$(this).attr('data-mid');
                var type=$(this).attr('data-type');

                var _json=_ajax_vote(id, mid, type);
                if(_json.code==0){
                    window.location.reload();
                }
            }
        });
    });
</script>

<script>
    function _ajax_vote(id, mid, type){
         var _json;
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Baoming/ajax_vote')}",
             data: {
                id:id,
                mid:mid,
                type:type
             },
             dataType : 'json',
             success  : function(json) {
                  if(json.code==0){
                      var num=json.num;
                      if(num>0){
                         layer.open({
                           type: 1,
                           title: false,
                           closeBtn: 1,
                           shadeClose: true,
                           skin: 'yourclass',
                           content: $('#tong_'+num).html()
                         });
                      }else{
                         layer.msg(json.msg);
                      }
                      _json=json;
                  }else{
                      layer.msg(json.msg);
                  }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }
</script>