<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>报名</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />


<div class="baoming-ban" style="background: url('{$ad_center.img}') no-repeat center center;"></div>
<div class="container p20">
    <div class="con">
        <div class="slideBox">
            <div class="hd">
                <div class="bred">
                    <span>参赛报名</span>
                    <span>></span>
                    <span class="now">
                        <if condition="$_GET['type']">{$top_nav_type_info.title}<else/>全部</if>
                    </span>
                </div>
                <div class="sousuo fl"><input type="text" class="ss-in" placeholder="作者/比赛项目/编号"><a href="javascript:;" class="ss-txt">搜索</a></div>
                <div class="right-btn fr">
                    <if condition="$_GET['type']">
                        <a href="{:U('Home/Baoming/baoming',array('type'=>$type))}"><i class="icon-bm"></i>报名参赛</a>
                    <else/>
                        <a href="{:U('Home/Baoming/baoming',array('type'=>'1284'))}"><i class="icon-bm"></i>报名参赛</a>
                    </if>
                    
                </div>
            </div>
            <div class="clear"></div>
            <div class="bd">
                <div class="shot">
                    <ul class="clearfix">
                        <foreach name="list" item="v">
                            <li>
                                <a href="{:U('Home/Baoming/detail',array('type'=>$_GET['type'], 'id'=>$v['id']))}">
                                    <img style="width:238px;height:238px;" class="img1" src="{$v.images}" alt="">
                                    <div class="info-top first">
                                        <h2>{$v.title}</h2>
                                        <p><strong>作品编号：</strong>{$v.id}</p>
                                        <p><strong>作者：</strong>{$v.author}</p>
                                        <p><strong>参赛项目：</strong>{$v.match}</p>
                                        <p><strong>参赛宣言：</strong>{$v.desc}</p>
                                    </div>
                                </a>
                                <div class="info-btn">
                                    <a href="javascript:;" data-id="{$v.id}" data-mid="{$v.mid}" data-type="{$v.type}" data-sqz="{$v.sqz}" data-uid="{$user.id}" class="btn vote_btn">立即投票</a>
                                    <span class="btn1"><i></i><em>{$v.vote}</em></span>
                                </div>
                            </li>
                        </foreach>
                    </ul>
                </div>

                <div class="pages">
                    <table style="width:100%;">
                        <tr>
                            <td align="center">{$page}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<!-- 头部引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<div class="around_images" style="display:none;">
    <style type="text/css">
        .layui-layer-page .layui-layer-content{overflow: hidden;}
    </style>
    <div id="tong_1">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_1.png">
    </div>
    <div id="tong_2">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_2.jpg">
    </div>
    <div id="tong_3">
        <img style="width:100%;height:100%;overflow:hidden;" src="__PUBLIC__/Home/images/ad_3.jpg">
    </div>
</div>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('.vote_btn').click(function(){
            var cur_num=$(this).next().find('em').html();
            var uid=$(this).attr('data-uid');
            if(!uid){
                window.location.href="{:U('Home/User/login')}";
                return false;
            }else{
                var id=$(this).attr('data-id');
                var mid=$(this).attr('data-mid');
                var type=$(this).attr('data-type');
                var sqz=$(this).attr('data-sqz');
                var _json=_ajax_vote(id, mid, type, sqz);
                if(_json.code==0){
                    $(this).next().find('em').html(++cur_num);
                }
            }
        });
    });
</script>

<script>
    function _ajax_vote(id, mid, type, sqz){
         var _json;
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Baoming/ajax_vote')}",
             data: {
                id:id,
                mid:mid,
                type:type,
                sqz:sqz
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     var num=json.num;
                     if(num>0){
                        layer.open({
                          type: 1,
                          title: false,
                          closeBtn: 1,
                          shadeClose: true,
                          skin: 'yourclass',
                          content: $('#tong_'+num).html()
                        });
                     }else{
                        layer.msg(json.msg);
                     }
                     _json=json;
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }
</script>
