<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>报名</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />


<div class="baoming-ban"></div>
<div class="container p20">
    <div class="con">
        <div class="slideBox">
            <div class="hd">
                <div class="bred"><span>参赛报名</span>><span class="now">全部</span></div>
                <div class="sousuo fl"><input type="text" class="ss-in" placeholder="作者/比赛项目/编号"><a href="javascript:;" class="ss-txt">搜索</a></div>
                <div class="right-btn fr">
                    <a href="{:U('Home/Baoming/baoming',array('type'=>$type))}"><i class="icon-bm"></i>报名参赛</a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="bd">
                <div class="shot">
                    <ul class="clearfix">
                        <foreach name="list" item="v">
                            <li>
                                <a href="{:U('Home/Baoming/detail',array('id'=>$v['id']))}">
                                    <img style="width:238px;height:238px;" class="img1" src="{$v.img}" alt="">
                                    <div class="info-top first">
                                        <h2>{$v.title}</h2>
                                        <p><strong>作品编号：</strong>{$v.id}</p>
                                        <p><strong>作者：</strong>{$v.author}</p>
                                        <p><strong>参赛项目：</strong>{$v.match}</p>
                                        <p><strong>参赛宣言：</strong>{$v.desc}</p>
                                    </div>
                                </a>
                                <div class="info-btn">
                                    <a href="javascript:;" data-id="{$v.id}" class="btn vote_btn">立即投票</a>
                                    <span class="btn1"><i></i>{$v.vote}</span>
                                </div>
                            </li>
                        </foreach>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>


<!-- 头部引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $('.vote_btn').click(function(){
            var id=$(this).attr('data-id');
            _ajax_vote(id);
        });
    });
</script>

<script>
    function _ajax_vote(id){
         var _json;
         $.ajax({  
             async:false,
             type:'get',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Baoming/ajax_vote')}",
             data: {
                id:id
             },
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.reload();
                 }else{
                     alert(json.msg);
                 }
             },
             error  : function() {  
                 alert('error');
             }  
         }); 
         return _json;
    }
</script>
