<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>获奖名单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/huodong.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
</head>
<body>
<!-- 引用 -->
<include file="Common/header" />


<div class="container">
    <div class="con">
        <div class="discus-new">
            <h2>{$row.title}<span class="fr"><a href="#2">收藏</a><a href="#2">回复</a></span></h2>
            <div class="discus-con">

                <foreach name="list" item="v">
                    <div class="discus-list">
                        <div class="discus-left">
                            <div class="discus-img"><img src="{$v.avatar}" alt=""></div>
                            <div class="discus-name">{$v.username}</div>
                            <div class="discus-ft">发帖:2</div>
                            <div class="discus-hf">回复:2</div>
                        </div>
                        <div class="discus-right">
                            <div class="discus-rcon">
                                <p>{$v.content}</p>
                                <div class="discus-time">1楼 {$v.time|date="Y-m-d H:i",###} <a href="#2" class="ml10 discus-hff">回复</a></div>
                            </div>
                        </div>
                    </div>
                </foreach>

            </div>
            <div class="discus-add" style="margin-left: 0px;">
                <form class="layui-form layui-form-pane col-xs-12" method="post" action="" id="add_form" enctype="multipart/form-data">
                   <table class="layui-table">
                      <tbody>
                        <tr>
                          <td align="center">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label" style="width: 100%!important;text-align: left;">发表回复</label>
                                <div class="layui-input-block">
                                    <textarea class="layui-textarea layui-hide content" name="content" lay-verify="content" id="editer_add"></textarea>
                                </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td align="center">
                            <input type="hidden" name="iid" lay-verify="required" class="layui-input iid" value="{$_GET['id']}">
                            <input type="hidden" name="uid" lay-verify="uid" class="layui-input uid" value="{$user['id']}">
                            <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1_add">确认</button>
                          </td>
                        </tr>
                      </tfoot>
                   </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />



<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
</body>
</html>


<script>
    //添加
    function _ajax_add(_data){
         var _json;
         $.ajax({  
             async:false,
             type:'post',  
             contentType:"application/x-www-form-urlencoded",
             url : "{:U('Home/Ideas/ajax_add')}",
             data: _data,
             dataType : 'json',
             success  : function(json) {
                 if(json.code==0){
                     alert(json.msg);
                     window.location.reload();
                 }else{
                     layer.msg(json.msg);
                 }
             },
             error  : function() {  
                 layer.msg('error');
             }  
         }); 
         return _json;
    }

    layui.use(['form', 'layedit', 'laydate', 'upload'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;
      
      //上传图片接口：注意：layedit.set 一定要放在 build前面，否则配置全局接口将无效
      layedit.set({
          uploadImage: {
              url: "{:U('Home/Index/lay_upload_file')}", //接口url
              type: 'post', //默认post
          }
      });
      
      //创建一个编辑器
      var editIndex = layedit.build('editer_add');

      //自定义验证规则
      form.verify({
        uid: function(value){
          if(!value){
            return '请先登录';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _json=_ajax_add(data.field);
        return false;
      });

    });
</script>