            <div class="foot mt20" id="foot">
                <div>
                    <a href="#2">网站首页</a>
                    &nbsp;|&nbsp;<a href="#2">公司介绍</a>
                    &nbsp;|&nbsp;<a href="#2">新闻中心</a>
                    &nbsp;|&nbsp;<a href="#2">荣誉资质</a>
                    &nbsp;|&nbsp;<a href="#2">人才招聘</a>
                    &nbsp;|&nbsp;<a href="#2">联系方式</a>
                    &nbsp;|&nbsp;<a href="#2">招商代理</a>
                    &nbsp;|&nbsp;<a href="#2">产品库</a>
                    &nbsp;|&nbsp;<a href="#2">管理入口</a>
                    <br>
                    ©2017 西安中诺尔仪器有限公司 版权所有&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>