<?php
    $_page_=$_SERVER['PATH_INFO'];
?>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>企业库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/qiye.css">
</head>
<body class="big-bg">
    <div class="con">
        <div class="header">
            <div class="head-ul mt10">
                <ul>
                    <li><a href="javascript:;">收藏本页</a></li>
                    <li><a href="javascript:;">设为主页</a></li>
                    <li><a href="javascript:;">随便看看</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="copy-name">
                <h2>{$user.company_name}</h2>
                <p>{$user.company_desc}</p>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$_GET['cid']))}" class="<if condition="$_page_ eq 'Tongchengjieyue/qiye'">cur</if>">网站首页</a></li>
                    <li><a href="{:U('Home/Tongchengjieyue/jianjie',array('cid'=>$_GET['cid']))}" class="<if condition="$_page_ eq 'Tongchengjieyue/jianjie'">cur</if>">简介</a></li>
                    <li><a href="{:U('Home/Tongchengjieyue/xinwen',array('cid'=>$_GET['cid']))}" class="<if condition="$_page_ eq 'Tongchengjieyue/xinwen'">cur</if>">新闻中心</a></li>
                    <li><a href="{:U('Home/Tongchengjieyue/chanpin',array('cid'=>$_GET['cid']))}" class="<if condition="$_page_ eq 'Tongchengjieyue/chanpin'">cur</if>">产品中心</a></li>
                    <li><a href="{:U('Home/Tongchengjieyue/yanchu',array('cid'=>$_GET['cid']))}" class="<if condition="$_page_ eq 'Tongchengjieyue/yanchu'">cur</if>">精彩演出</a></li>
                </ul>
            </div>
            <div class="banner">
                <ul>
                    <li><a><img src="__PUBLIC__/Home/images/qiye-banner.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="brand">
                <span class="bran-icon"></span>您当前的位置：<a href="#">首页</a> » 欢迎光临
                <span class="fr">今天是2017年11月11日星期二</span>
            </div>
        </div>