<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>同城借阅</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />


<div class="container">
    <div class="con">
        <div class="read-city">
            <div class="readd-tit"><img src="__PUBLIC__/Home/images/hallo.png" alt=""></div>
            <div class="readd-con clearfix">
                <div class="readd-top clearfix fl">
                    <div class="readd-p1 fl">
                        <ul>
                            <foreach name="block1" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="readd-p2 fl">
                        <ul class="ul-special">
                            <li><a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$block2_big['id']))}"><img src="{$block2_big.company_logo}" alt=""></a></li>
                        </ul>
                        <ul>
                            <foreach name="block2" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="readd-p3 fl">
                        <ul>
                            <foreach name="block3" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="readd-p4 fl">
                        <ul>
                            <foreach name="block4" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                        <ul class="ul-special">
                            <li><a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$block4_big['id']))}"><img src="{$block4_big.company_logo}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="readd-p5 fl">
                        <ul>
                            <foreach name="block5" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="readd-p2 fl">
                        <ul class="ul-special">
                            <li><a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$block6_big['id']))}"><img src="{$block6_big.company_logo}" alt=""></a></li>
                        </ul>
                        <ul>
                            <foreach name="block6" item="v">
                                <li>
                                    <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                        <img src="{$v.company_logo}" alt="">
                                        <div class="dhide">
                                            <img src="{$v.company_logo}" alt="">
                                            <div class="dhide-con">
                                                <h3>{$v.company_name}</h3>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>
                <div class="readd-bottom">
                    <div class="readd-left">
                        <div class="readd-left-con">
                            <ul>
                                <foreach name="list" item="v">
                                    <li>
                                        <a href="{:U('Home/Tongchengjieyue/qiye',array('cid'=>$v['id']))}">
                                            <span class="readd-bimg fl"><img src="{$v.company_logo}" alt=""></span>
                                            <div class="readd-rcon">
                                                <h4>{$v.company_name}</h4>
                                                <p>{$v.company_desc}</p>
                                            </div>
                                        </a>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                    <div class="readd-right fr">
                        <a href="{:U('Home/Tongchengjieyue/qiye')}"><img src="__PUBLIC__/Home/images/tu02.jpg" alt=""></a>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="page-con mt20 pages">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!-- 头部引用 -->
<include file="Common/footer" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>