<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>同城借阅</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
<!-- 头部引用 -->
<include file="Common/header" />


<div class="container">
    <div class="con">
        <div class="read-city">
            <div class="readd-tit"><img src="__PUBLIC__/Home/images/hallo.png" alt=""></div>
            <div class="readd-con clearfix">
                <div class="readd-top clearfix fl">
                    <div class="readd-p1 fl">
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="readd-p2 fl">
                        <ul class="ul-special">
                            <li><a href="#4"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></a></li>
                        </ul>
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="readd-p3 fl">
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="readd-p4 fl">
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="ul-special">
                            <li><a href="#4"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="readd-p5 fl">
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="readd-p2 fl">
                        <ul class="ul-special">
                            <li><a href="#4"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></a></li>
                        </ul>
                        <ul>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="zhubo.html">
                                    <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                    <div class="dhide">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="">
                                        <div class="dhide-con">
                                            <h3>sdfsdf</h3>
                                            <p>sdlfjsldk</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="readd-bottom">
                    <div class="readd-left">
                        <div class="readd-left-con">
                            <ul>
                                <li>
                                    <a href="zhubo.html">
                                        <span class="readd-bimg fl"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <div class="readd-rcon">
                                            <h4>读书会</h4>
                                            <p>一起读书，一起成长</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="zhubo.html">
                                        <span class="readd-bimg fl"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <div class="readd-rcon">
                                            <h4>读书会</h4>
                                            <p>一起读书，一起成长</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="zhubo.html">
                                        <span class="readd-bimg fl"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <div class="readd-rcon">
                                            <h4>读书会</h4>
                                            <p>一起读书，一起成长</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="zhubo.html">
                                        <span class="readd-bimg fl"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <div class="readd-rcon">
                                            <h4>读书会</h4>
                                            <p>一起读书，一起成长</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="readd-right fr">
                        <a href="zhubo.html"><img src="__PUBLIC__/Home/images/tu02.jpg" alt=""></a>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="page-con mt20">
                    <div class="page-group clearfix">
                        <em>共25条</em>
                        <a href="#3" class="a1 a1f">上一页</a>
                        <span>1</span>
                        <a href="#3">2</a>
                        <a href="#3">3</a>
                        <i>...</i>
                        <a href="#3">8</a>
                        <a href="#3">9</a>
                        <a href="#3" class="a1">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!-- 头部引用 -->
<include file="Common/footer" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
</body>
</html>