<!-- 引用 -->
<include file="_header" />


        <div class="content mt20">
            <div class="left-part left-part1">
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>新闻中心</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>产品分类</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>站内搜索</strong></div>
                </div>
                <div class="side_body">
                    <div class="side_body">
                        <form action="#2"">
                            <input type="text" value="" size="25" class="inp" placeholder="输入关键词">
                            <div style="padding:10px 0 0 0;">
                                <select name="file">
                                    <option value="news">新闻中心</option>
                                    <option value="credit">荣誉资质</option>
                                    <option value="job">人才招聘</option>
                                    <option value="info">招商代理</option>
                                    <option value="mall">产品库</option>
                                </select>
                                <input type="submit" value=" 搜 索 " class="sbm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-part right-part1 ml20 fl">
                <div class="right-con">
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多" alt="更多"></a></span><strong>公司介绍</strong></div>
                    </div>
                    <div class="main_body">
                        <div class="lh18 px13 pd10">
                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" align="right" style="margin:5px 0 5px 10px;padding:5px;border:#C0C0C0 1px solid;">
                        西安中诺尔仪器有限公司于2000年起生产低温冷却液循环泵，微型高压反应釜，水热合成反应釜，旋转蒸发器，多年来，公司以科技为托，专业设计、制造、生产生化实验仪器，制药设备，积累了丰富的经验。并在行业中率先通过ISO9001:2000质量体系认证。ISO14001-2004环境管理体系认证；是中国教学仪器设备行业协会会员单位、陕西教学仪器设备行业协会理事，现已形成上海，北京，长沙，成都，河南、销售公司，西安生产基地，科研、开发，生产、销售与服务体系。 <br>
                        &nbsp;<br>
                        公司专业从事生物制药，生物化工领域内实验室仪器和中试设备的研发制造。公司主导产品低温冷却液循环泵，旋转蒸发器、玻璃多功能反应器等是现代生物制药、生物化工、精细化工领域内科研和中试生产的必要装备。 <br>
                        &nbsp;<br>
                        公司具有自主创新能力，拥有原创的自主知识产权，公司自行设计研制的“串联式连续收集旋转蒸发器”、“防爆双层玻璃反应釜，防爆单层玻璃反应釜”、“防爆循环油浴锅”已获得国家专利，并成功地应用于产品。做到了人无我有，人有我强，大大提高了产品先进性和竞争力。 <br>
                        &nbsp;<br>
                        &nbsp;&nbsp;&nbsp; 公司拥有“ZN® ”注册商标，公司的发展战略目标... [<a href="#2" class="aaaa">详细介绍</a>]
                        <div class="clear"></div>
                        </div>
                    </div>
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多" alt="更多"></a></span><strong>热门推荐</strong></div>
                    </div>
                    <div class="main_body">
                        <div class="main-ul">
                            <ul>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>


<!-- 引用 -->
<include file="_footer" />