<!-- 引用 -->
<include file="_header" />


        <div class="content mt20">
            <div class="left-part left-part1">
                <!-- 引用 -->
                <include file="_left" />
            </div>
            <div class="right-part right-part1 ml20 fl">
                <div class="right-con">
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多" alt="更多"></a></span><strong>新闻中心</strong></div>
                    </div>
                    <div class="main_body xinwen-ul">


                        <ul>
                            <foreach name="list" item="v">
                                <li><a href="{:U('Home/Tongchengjieyue/product',array('cid'=>$_GET['cid'],'aid'=>$v['id']))}">{$v.title}</a><span class="fr xw-time">{$v.time}</span></li>
                            </foreach>
                        </ul>
                        <div class="clear"></div>
                        <div class="pages">
                            {$page}
                        </div>


                    </div>
                </div>
            </div>
            <div class="clear"></div>

<!-- 引用 -->
<include file="_footer" />