<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>企业库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/qiye.css">
</head>
<body class="big-bg">
    <div class="con">
        <div class="header">
            <div class="head-ul mt10">
                <ul>
                    <li><a href="javascript:;">收藏本页</a></li>
                    <li><a href="javascript:;">设为主页</a></li>
                    <li><a href="javascript:;">随便看看</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="copy-name">
                <h2>公司公司公司公司公司公司</h2>
                <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="tongcheng-qiye.html">网站首页</a></li>
                    <li><a href="tongcheng-jianjie.html">简介</a></li>
                    <li><a href="tongcheng-xinwen.html">新闻中心</a></li>
                    <li><a href="tongcheng-chanpin.html">产品中心</a></li>
                    <li class="cur"><a href="tongcheng-yanchu.html">精彩演出</a></li>
                </ul>
            </div>
            <div class="banner">
                <ul>
                    <li><a><img src="images/qiye-banner.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="brand">
                <span class="bran-icon"></span>您当前的位置：<a href="#">首页</a> » 欢迎光临
                <span class="fr">今天是2017年11月11日星期二</span>
            </div>
        </div>
        <div class="content mt20">
            <div class="left-part left-part1">
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="images/more.gif" title="更多"></a></span><strong>新闻中心</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="images/more.gif" title="更多"></a></span><strong>产品分类</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="images/more.gif" title="更多"></a></span><strong>站内搜索</strong></div>
                </div>
                <div class="side_body">
                    <div class="side_body">
                        <form action="#2"">
                            <input type="text" value="" size="25" class="inp" placeholder="输入关键词">
                            <div style="padding:10px 0 0 0;">
                                <select name="file">
                                    <option value="news">新闻中心</option>
                                    <option value="credit">荣誉资质</option>
                                    <option value="job">人才招聘</option>
                                    <option value="info">招商代理</option>
                                    <option value="mall">产品库</option>
                                </select>
                                <input type="submit" value=" 搜 索 " class="sbm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-part right-part1 ml20 fl">
                <div class="right-con">
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="images/more.gif" title="更多" alt="更多"></a></span><strong>精彩演出</strong></div>
                    </div>
                    <div class="main_body fl">
                        <div class="main-ul main-ul1">
                            <ul>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class="pages">
                            <label title="共0条">第<em>1</em>页/共<span>11</span>页</label>&nbsp;&nbsp;<a href="#2">&nbsp;首页&nbsp;</a> 
                            <a href="#1">&nbsp;上一页&nbsp;</a> 
                            <a href="#3">&nbsp;下一页&nbsp;</a>
                            <a href="#2">&nbsp;尾页&nbsp;</a> 
                            <input type="text" class="pages_inp" value="1"> 
                            <input type="button" class="pages_btn" value="GO">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="foot mt20" id="foot">
                <div>
                    <a href="#2">网站首页</a>
                    &nbsp;|&nbsp;<a href="#2">公司介绍</a>
                    &nbsp;|&nbsp;<a href="#2">新闻中心</a>
                    &nbsp;|&nbsp;<a href="#2">荣誉资质</a>
                    &nbsp;|&nbsp;<a href="#2">人才招聘</a>
                    &nbsp;|&nbsp;<a href="#2">联系方式</a>
                    &nbsp;|&nbsp;<a href="#2">招商代理</a>
                    &nbsp;|&nbsp;<a href="#2">产品库</a>
                    &nbsp;|&nbsp;<a href="#2">管理入口</a>
                    <br>
                    ©2017 西安中诺尔仪器有限公司 版权所有&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>