<!-- 引用 -->
<include file="_header" />


        <div class="content mt20">
            <div class="left-part left-part1">
                <!-- 引用 -->
                <include file="_left" />
            </div>
            <div class="right-part right-part1 ml20 fl">
                <div class="right-con">
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多" alt="更多"></a></span><strong>精彩演出</strong></div>
                    </div>
                    <div class="main_body fl">
                        <div class="main-ul main-ul1">
                            <ul>
                                <foreach name="list" item="v">
                                    <li>
                                        <a href="{:U('Home/Index/yanchu_detail',array('id'=>$v['id'],'type'=>$v['type']))}" target="_blank">
                                            <span class="shi-img"><img src="{$v.img}" alt=""></span>
                                            <p class="m-p">{$v.title}</p>
                                            <p class="shi-pri">￥{$v.price}</p>
                                        </a>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class="pages">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

<!-- 引用 -->
<include file="_footer" />