<!-- 引用 -->
<include file="_header" />


        <div class="content mt20">
            <div class="left-part left-part1">
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>新闻中心</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>产品分类</strong></div>
                </div>
                <div class="side_body">
                    <ul>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                        <li><a href="#2">新闻新闻</a></li>
                    </ul>
                </div>
                <div class="side_head">
                    <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多"></a></span><strong>站内搜索</strong></div>
                </div>
                <div class="side_body">
                    <div class="side_body">
                        <form action="#2"">
                            <input type="text" value="" size="25" class="inp" placeholder="输入关键词">
                            <div style="padding:10px 0 0 0;">
                                <select name="file">
                                    <option value="news">新闻中心</option>
                                    <option value="credit">荣誉资质</option>
                                    <option value="job">人才招聘</option>
                                    <option value="info">招商代理</option>
                                    <option value="mall">产品库</option>
                                </select>
                                <input type="submit" value=" 搜 索 " class="sbm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-part right-part1 ml20 fl">
                <div class="right-con">
                    <div class="main_head">
                        <div><span class="fr"><a href="#2"><img src="__PUBLIC__/Home/images/more.gif" title="更多" alt="更多"></a></span><strong>精彩演出</strong></div>
                    </div>
                    <div class="main_body fl">
                        <div class="main-ul main-ul1">
                            <ul>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="qiye1.html">
                                        <span class="shi-img"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""></span>
                                        <p class="m-p">历史课京东方</p>
                                        <p class="shi-pri">￥1.22</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class="pages">
                            <label title="共0条">第<em>1</em>页/共<span>11</span>页</label>&nbsp;&nbsp;<a href="#2">&nbsp;首页&nbsp;</a> 
                            <a href="#1">&nbsp;上一页&nbsp;</a> 
                            <a href="#3">&nbsp;下一页&nbsp;</a>
                            <a href="#2">&nbsp;尾页&nbsp;</a> 
                            <input type="text" class="pages_inp" value="1"> 
                            <input type="button" class="pages_btn" value="GO">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

<!-- 引用 -->
<include file="_footer" />