<script type="text/javascript">
  try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <button class="btn btn-success">
        <i class="icon-signal"></i>
      </button>
      <button class="btn btn-info">
        <i class="icon-pencil"></i>
      </button>
      <button class="btn btn-warning">
        <i class="icon-group"></i>
      </button>
      <button class="btn btn-danger">
        <i class="icon-cogs"></i>
      </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>
      <span class="btn btn-info"></span>
      <span class="btn btn-warning"></span>
      <span class="btn btn-danger"></span>
    </div>

  </div><!-- #sidebar-shortcuts -->


  <ul class="nav nav-list">

    <li <if condition="$cur_c eq 'Config'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 网站设置 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Config-setting'">class="active"</if>>
          <a href="{:U('Admin/Config/setting')}" page="Admin/Config/setting" title="setting" data-title="网站设置">
            <i class="icon-double-angle-right"></i>
            网站设置
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Task'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 任务管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Task-index'">class="active"</if>>
          <a href="{:U('Admin/Task/index')}" page="Admin/Task/index" title="index" data-title="任务管理">
            <i class="icon-double-angle-right"></i>
            任务管理
          </a>
        </li>
      </ul>
    </li>
    
    <li <if condition="$cur_c eq 'Match'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 比赛管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Match-index'">class="active"</if>>
          <a href="{:U('Admin/Match/index')}" page="Admin/Match/index" title="index" data-title="比赛管理">
            <i class="icon-double-angle-right"></i>
            比赛管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Baoming'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 报名管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Baoming-index'">class="active"</if>>
          <a href="{:U('Admin/Baoming/index')}" page="Admin/Baoming/index" title="index" data-title="报名管理">
            <i class="icon-double-angle-right"></i>
            报名管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Introduction'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 简介管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Introduction-index'">class="active"</if>>
          <a href="{:U('Admin/Introduction/index')}" page="Admin/Introduction/index" title="index" data-title="简介管理">
            <i class="icon-double-angle-right"></i>
            简介管理
          </a>
        </li>
      </ul>
    </li>


    <li <if condition="$cur_c eq 'Activity'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 活动管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Activity-index'">class="active"</if>>
          <a href="{:U('Admin/Activity/index')}" page="Admin/Activity/index" title="index" data-title="活动管理">
            <i class="icon-double-angle-right"></i>
            活动管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Product'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 产品管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Product-index'">class="active"</if>>
          <a href="{:U('Admin/Product/index')}" page="Admin/Product/index" title="index" data-title="产品管理">
            <i class="icon-double-angle-right"></i>
            产品管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Video'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 视频管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Video-index'">class="active"</if>>
          <a href="{:U('Admin/Video/index')}" page="Admin/Video/index" title="index" data-title="视频管理">
            <i class="icon-double-angle-right"></i>
            视频管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Special'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 专辑管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Special-index'">class="active"</if>>
          <a href="{:U('Admin/Special/index')}" page="Admin/Special/index" title="index" data-title="专辑管理">
            <i class="icon-double-angle-right"></i>
            专辑管理
          </a>
        </li>
      </ul>
    </li>


    <li <if condition="$cur_c eq 'Ideas'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 智囊中心 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Ideas-index'">class="active"</if>>
          <a href="{:U('Admin/Ideas/index')}" page="Admin/Ideas/index" title="index" data-title="智囊中心">
            <i class="icon-double-angle-right"></i>
            智囊中心
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Order'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 订单管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Order-index'">class="active"</if>>
          <a href="{:U('Admin/Order/index')}" page="Admin/Order/index" title="setting" data-title="订单管理">
            <i class="icon-double-angle-right"></i>
            订单管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Tender'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 招标管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Tender-index'">class="active"</if>>
          <a href="{:U('Admin/Tender/index')}" page="Admin/Tender/index" title="index" data-title="政采招标">
            <i class="icon-double-angle-right"></i>
            政采招标
          </a>
        </li>
        <li <if condition="$cur_v eq 'Tender-index'">class="active"</if>>
          <a href="{:U('Admin/Tender/index')}" page="Admin/Tender/index" title="index" data-title="企业招标">
            <i class="icon-double-angle-right"></i>
            企业招标
          </a>
        </li>
      </ul>
    </li>


    <li <if condition="$cur_c eq 'Pinglun'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 评论中心 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Pinglun-index'">class="active"</if>>
          <a href="http://changyan.kuaizhan.com/" page="Admin/Pinglun/index" target="_blank" title="index" data-title="评论中心">
            <i class="icon-double-angle-right"></i>
            评论中心
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Money'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 资产管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Config-setting'">class="active"</if>>
          <a href="{:U('Admin/Money/index')}" page="Admin/Money/index" title="index" data-title="资产管理">
            <i class="icon-double-angle-right"></i>
            资产管理
          </a>
        </li>
      </ul>
    </li>

    <li <if condition="$cur_c eq 'Online'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 联线瞰世 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Config-setting'">class="active"</if>>
          <a href="{:U('Admin/Online/index')}" page="Admin/Online/index" title="index" data-title="联线瞰世">
            <i class="icon-double-angle-right"></i>
            联线瞰世
          </a>
        </li>
      </ul>
    </li>

    

 <!--    <?php if( name_to_status('AuthManager') == 1 && $user['gid']==427 || in_array('AuthManager', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'AuthManager'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-group"></i>
        <span class="menu-text"> 用户组管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/AuthManager/index') == 1 && $user['gid']==427 || in_array('Admin/AuthManager/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthManager-index'">class="active"</if>>
          <a href="{:U('Admin/AuthManager/index')}" page="Admin/AuthManager/index" title="index" data-title="用户组列表">
            <i class="icon-double-angle-right"></i>
            用户组列表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?> -->

    
<!-- 
    <?php if( name_to_status('User') == 1 && $user['gid']==427 || in_array('User', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'User'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-eye-open"></i>
        <span class="menu-text"> 
		          用户管理
        </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/User/homeUser') == 1 && $user['gid']==427 || in_array('Admin/User/homeUser', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-homeUser'">class="active"</if>>
          <a href="{:U('Admin/User/homeUser')}" page="Admin/User/homeUser" title="homeUser" data-title="用户列表">
            <i class="icon-double-angle-right"></i>
            用户列表
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/userAdd') == 1 && $user['gid']==427 || in_array('Admin/User/userAdd', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-userAdd'">class="active"</if>>
          <a href="{:U('Admin/User/userAdd')}" page="Admin/User/userAdd" title="userAdd" data-title="添加系统用户">
            <i class="icon-double-angle-right"></i>
            添加系统用户
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/usersAdd') == 1 && $user['gid']==427 || in_array('Admin/User/usersAdd', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-usersAdd'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/usersAdd')}" page="Admin/User/usersAdd" title="usersAdd" data-title="批量添加学生">
            <i class="icon-double-angle-right"></i>
            批量添加学生
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/students') == 1 && $user['gid']==427 || in_array('Admin/User/students', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/students')}" page="Admin/User/students" title="students" data-title="学生列表">
            <i class="icon-double-angle-right"></i>
            学生列表
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/addStudent') == 1 && $user['gid']==427 || in_array('Admin/User/addStudent', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/addStudent')}" page="Admin/User/addStudent" title="addStudent" data-title="添加学生">
            <i class="icon-double-angle-right"></i>
            添加学生
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?> -->

    

    

    <li <if condition="$cur_c eq 'Type'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 分类管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li <if condition="$cur_v eq 'Type-index'">class="active"</if>>
          <a href="{:U('Admin/Type/index')}" page="Admin/Type/index" title="index" data-title="分类列表">
            <i class="icon-double-angle-right"></i>
            分类列表
          </a>
        </li>
      </ul>
    </li>


    <li <if condition="$cur_c eq 'AuthRule' || $cur_c eq 'AuthManager' || $cur_c eq 'User'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-briefcase"></i>
        <span class="menu-text"> 系统管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if>>
          <a href="{:U('Admin/AuthRule/index')}" page="Admin/AuthRule/index" title="index" data-title="权限列表">
            <i class="icon-double-angle-right"></i>
            权限列表
          </a>
        </li>
        <li <if condition="$cur_v eq 'AuthManager-index'">class="active"</if>>
          <a href="{:U('Admin/AuthManager/index')}" page="Admin/AuthManager/index" title="index" data-title="用户组列表">
            <i class="icon-double-angle-right"></i>
            用户组列表
          </a>
        </li>
        <li <if condition="$cur_v eq 'User-homeUser'">class="active"</if>>
          <a href="{:U('Admin/User/homeUser')}" page="Admin/User/homeUser" title="homeUser" data-title="用户列表">
            <i class="icon-double-angle-right"></i>
            用户列表
          </a>
        </li>
      </ul>
    </li>

  </ul><!-- /.nav-list -->


  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>

  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
  </script>

