<?php
    $_left_type_1=M('Type')->where(array('pid'=>1299))->select();
?>

<div class="left-all fl">
    <div class="all-tit">
        <ul>
            <li <if condition="$_GET['target'] eq 1"> class="cur" </if>><a href="{:U('Home/Book/index', array('target'=>1))}">男生</a></li>
            <li <if condition="$_GET['target'] eq 2"> class="cur" </if>><a href="{:U('Home/Book/index', array('target'=>2))}">女生</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="all-ff">
        <div class="all-qie">
            <div class="all-select">
                <p>已选</p>
                <a href="javascript:;" class="all-now">全部</a>
                <a href="javascript:;">玄幻<i class="all-del">x</i></a>
            </div>
            <div class="all-con">
                <div class="select-con clearfix">
                    <h3>分类</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <foreach name="_left_type_1" item="v">
                            <li><a href="javascript:;">{$v.title}</a></li>
                        </foreach>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>状态</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">连载</a></li>
                        <li><a href="javascript:;">完本</a></li>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>属性</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">免费</a></li>
                        <li><a href="javascript:;">VIP</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="all-qie">
            <div class="all-select">
                <p>已选女</p>
                <a href="javascript:;">全部</a>
            </div>
            <div class="all-con">
                <div class="select-con clearfix">
                    <h3>分类</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                        <li><a href="javascript:;">玄幻</a></li>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>状态</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">连载</a></li>
                        <li><a href="javascript:;">完本</a></li>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>属性</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">免费</a></li>
                        <li><a href="javascript:;">VIP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>