<?php
    $_left_type_1=M('Type')->where(array('pid'=>1299))->select();
?>

<div class="left-all fl">
    <div class="all-tit">
        <ul>
            <li <if condition="$_GET['target'] eq 1"> class="cur" </if>><a href="{:U('Home/Book/index', array('target'=>1))}">男生</a></li>
            <li <if condition="$_GET['target'] eq 2"> class="cur" </if>><a href="{:U('Home/Book/index', array('target'=>2))}">女生</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="all-ff">
        <div class="all-qie">
            <div class="all-select">
                <p>已选</p>
                <if condition="!$_GET['type_1'] && !$_GET['finish'] && !$_GET['free']">
                    <a href="javascript:;" class="all-now">全部</a>
                <else/>
                    <if condition="$_GET['type_1']">
                        <a href="javascript:;">{$_GET['type_1']}<i class="all-del">x</i></a>
                    </if>
                    <if condition="$_GET['finish']">
                        <a href="javascript:;">{$_GET['finish']}<i class="all-del">x</i></a>
                    </if>
                    <if condition="$_GET['free']">
                        <a href="javascript:;">{$_GET['free']}<i class="all-del">x</i></a>
                    </if>
                </if>
            </div>
            <div class="all-con" style="display: none;">
                <div class="select-con clearfix">
                    <h3>分类</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <foreach name="_left_type_1" item="v">
                            <li><a href="javascript:;">{$v.title}</a></li>
                        </foreach>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>状态</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">连载</a></li>
                        <li><a href="javascript:;">完本</a></li>
                    </ul>
                </div>
                <div class="select-con clearfix">
                    <h3>属性</h3>
                    <ul>
                        <li class="cur"><a href="javascript:;">全部</a></li>
                        <li><a href="javascript:;">免费</a></li>
                        <li><a href="javascript:;">VIP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>







    <style>
        .mtp30 {margin-top:80px;}
        .warning {background:#FCF8E3;}
        .img30 {width:30px;height:30px;}
        .img20 {width:20px;height:20px;}
        .listsearch {border:1px solid #FFDCAF;border-top:2px solid #FF9100;height:200px;}
        .border-color {border-color:#FFDCAF;}
        .top-color {border-top:2px solid #FF9100}
        .red {color:#FF335D;font-family:'微软雅黑';font-weight:24px;}
        .searchbody {line-height:35px;margin-left:15px;}
        .row a {color:#444;text-decoration:none;}
        .row a:hover {color:#FA8D00}
        .row li {padding-right:5px;padding-left:10px;}
        .in,.in a {background:#FA8D00;color:#fff;border-radius:4px;}
        .in a:hover {color:#fff}
    </style>
    <form id="filterForm" name="form1" method="get" action="">
        <input id="type_1" type="hidden" value="" name="type_1" to="filter">
        <input id="finish" type="hidden" value="" name="finish" to="filter">
        <input id="free" type="hidden" value="" name="free" to="filter">
        <ul class="list-group">
            <li class="list-group-item border-color top-color">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class='red'>
                            <span class="glyphicon glyphicon-map-marker  text-danger"></span>分类</h4>
                    </div>
                    <div class="col-md-12">
                        <ul class="nav  nav-pills nav-justified pull-left">
                            <div class="row">
                                <li class=' in'>
                                    <a type_1="0" href="javascript:Filter('type_1','0');">不限</a>
                                </li>
                                <foreach name="_left_type_1" item="v">
                                    <li class=' '>
                                        <a type_1="{$v.id}" href="javascript:Filter('type_1','{$v.id}');">{$v.title}</a>
                                    </li>
                                </foreach>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-color">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class='red'>
                            <span class="glyphicon glyphicon-picture  text-primary"></span>状态</h4>
                    </div>
                    <div class="col-md-12">
                        <ul class="nav  nav-pills nav-justified pull-left">
                            <div class="row">
                                <li class=' in'>
                                    <a href="javascript:Filter('finish','0');">不限</a></li>
                                <li class=''>
                                    <a finish='1' href="javascript:Filter('finish','1');">连载</a></li>
                                <li class=''>
                                    <a finish='2' href="javascript:Filter('finish','2');">完本</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-color">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class='red'>
                            <span class="glyphicon glyphicon-usd text-info"></span>属性</h4>
                    </div>
                    <div class="col-md-12">
                        <ul class="nav  nav-pills nav-justified pull-left">
                            <div class="row">
                                <li class=' in'>
                                    <a free="0" href="javascript:Filter('free','0');">不限</a></li>
                                <li class=''>
                                    <a free="1" href="javascript:Filter('free','1');">免费</a></li>
                                <li class=''>
                                    <a free="2" href="javascript:Filter('free','2');">VIP</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>




