<?php
    $_nav_type=M('Type')->where(array('pid'=>1299))->select();
?>


<div class="main-nav box-center cf" id="type-hover">
    <div class="classify-list fl so-awesome">
        <dl>
            <foreach name="_nav_type" item="v">
                <dd>
                    <a href="#2" target="_blank">
                        <cite>
                            <em class="iconfont"></em>
                                <span class="info">
                                    <i>{$v.title}</i>
                                    <b>584977</b>
                                </span>
                        </cite>
                    </a>
                </dd>
            </foreach>
        </dl>
    </div>
    <ul>
        <li class="first"><b><strong></strong></b><span><em>
            <i></i>
            <i></i>
            <i></i>
        </em>作品分类</span>
        </li>
        <li class="nav-li"><a href="{:U('Home/Book/index')}" class="act">全部作品</a></li>
        <li class="nav-li"><a href="{:U('Home/Book/ranking')}">排行</a></li>
        <li class="nav-li"><a href="{:U('Home/Book/index')}">完本</a></li>
        <li class="nav-li"><a href="{:U('Home/Book/index')}">免费</a></li>
        <li class="nav-li"><a href="{:U('Home/User/book_list')}" target="_blank">作家专区</a></li>
        <li class="nav-li"><a href="{:U('Home/Tongchengjieyue/index')}" target="_blank">同城借阅</a></li>
    </ul>
</div>