<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>图书页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/shucheng.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/book.css">
<style type="text/css">
    .left-all{margin-right: 0px!important;}
</style>
</head>
<body>
<!-- 引用 -->
<include file="_header" />


<div class="main-nav-wrap">
    <include file="_nav" />
</div>
<div class="bg1">
<div class="container container1 clearfix">
    <div class="con">
        <div class="content pt20 clearfix">
            <include file="_left" />
            <div class="mid-part mid-part11 plr10">
                <div class="bg2">
                    <div class="mid-top p20 clearfix">
                        <div class="book-imgg">
                            <img src="{$row.img}" alt="">
                            <span class="book-status">完结</span>
                        </div>
                        <div class="book-imgr">
                            <div class="book-det">
                                <div class="det-name">
                                    <h2>《{$row.title}》</h2>
                                    <div class="det-pd">频道：xxx</div>
                                </div>
                                <div class="det-pf fr">
                                    <div class="det-xing">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <span class="det-fs">9.6分</span>
                                </div>
                            </div>
                            <div class="book-xx">
                                <span class="fs16">作者：</span>{$row.author}
                                <span class="fs16">主播：</span>{$row.author}
                            </div>
                            <div class="book-js">
                                <span class="fs16">简介：</span>{$row.desc}
                            </div>
                            <div class="book-bq">
                                <span class="fs16">标签：</span>
                                <foreach name="tags" item="v">
                                    <a href="javascript:;" class="bq{$key+1}">{$v.title}</a>
                                </foreach>
                            </div>
                            <div class="book-cz">
                                <ul>
                                    <li><a href="#4">购书</a></li>
                                    <li><a href="#4">借阅</a></li>
                                    <li><a href="{:U('Home/Book/directory',array('bid'=>$_GET['id']))}">阅读</a></li>
                                    <li><a href="#4">收听</a></li>
                                    <li><a href="#4">存入书架</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="mid-lw p20 clearfix">
                        <div class="lw-l fl">礼物榜</div>
                        <div class="lw-m">
                            <ul>
                                <li>
                                    <a href="#2">
                                        <span class="lw-xing1">1</span>
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" class="lw-img">
                                        <span class="lw-vip"></span>
                                        <p>礼物值</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <span class="lw-xing2">2</span>
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" class="lw-img">
                                        <span class="lw-vip"></span>
                                        <p>礼物值</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <span class="lw-xing3">3</span>
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" class="lw-img">
                                        <span class="lw-viph"></span>
                                        <p>礼物值</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" class="lw-img">
                                        <span class="lw-viph"></span>
                                        <p>礼物值</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#2">
                                        <img src="__PUBLIC__/Home/images/img1.jpg" alt="" class="lw-img">
                                        <span class="lw-viph"></span>
                                        <p>礼物值</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lw-r fr"><a href="#4">更多&gt;</a></div>
                    </div>
                    <div class="mid-pl p10 clearfix">
                        <h3 class="fs16">评论</h3>
                        <div class="pl-con">
                            <div id="changyan_box">
                                <!--PC版-->
                                <div id="SOHUCS" sid="{$row.id}"></div>
                                <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
                                <script type="text/javascript">
                                    window.changyan.api.config({
                                        appid: 'cysvouAoc',
                                        conf: 'prod_897d920e6d325c021c81d49500347fe7'
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-p fr">
                <div class="right-pcon bg2 p20">
                    <a href="#4" class="r-yx"></a>
                    <div class="r-head mb15">
                        <span class="r-himg"><img src="__PUBLIC__/Home/images/img1.jpg" alt=""><i class="r-vip"></i></span>
                        <p class="mt10">笔名<span class="r-tx">作家</span></p>
                    </div>
                    <div class="r-zp">
                        <ul>
                            <li>
                                <p class="r-t1"><i></i></p>
                                <p class="mb5 mt10">作品总数</p>
                                <p class="r-num">4</p>
                            </li>
                            <li>
                                <p class="r-t2"><i></i></p>
                                <p class="mb5 mt10">累计字数</p>
                                <p class="r-num">114万</p>
                            </li>
                            <li>
                                <p class="r-t3"><i></i></p>
                                <p class="mb5 mt10">创作天数</p>
                                <p class="r-num">44442</p>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <p class="mt10"><span class="fs16 mr10">籍贯</span>深蓝的废旧塑料的空间</p>
                    <p class="mt10"><span class="fs16 mr10">民族</span>xxx</p>
                    <p class="mt10"><span class="fs16 mr10">圈子</span><a href="#2" class="join-qz">点击加入</a></p>
                    <p class="mt10"><span class="fs16">擅长创作类型</span></p>
                    <div class="r-lx">
                        <ul>
                            <li class="lx1"><a href="javascript:;">类型</a></li>
                            <li class="lx2"><a href="javascript:;">类型</a></li>
                            <li class="lx3"><a href="javascript:;">类型</a></li>
                        </ul>
                    </div>
                    <p><span class="fs16">简介</span> 是的发生都发打反手</p>
                    <p class="mt15 fs16">代表作品</p>
                    <p class="mt5">是的发生都发打反手</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<!-- 引用 -->
<include file="Common/footer" />

<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__PUBLIC__/Home/filter/js/bootstrap.min.js"></script>
<script>
    $(function() { <?php
        if ($_GET) {
            echo 'var obj='.json_encode($_GET).';';
        } ?>
        if (typeof(obj) != 'undefined') {
            for (k in obj) {
                $("#" + k).val(obj[k]);
                $("a[" + k + "=" + obj[k] + "]").parent().addClass("in").siblings().removeClass("in");
            }
        }
    })
</script>
<script>
    function Filter(a, b) {
        var $ = function(e) {
            return document.getElementById(e);
        }
        var ipts = $('filterForm').getElementsByTagName('input'),
        result = [];
        for (var i = 0,
        l = ipts.length; i < l; i++) {
            if (ipts[i].getAttribute('to') == 'filter') {
                result.push(ipts[i]);
            }
        }
        if ($(a)) {
            $(a).value = b;
            for (var j = 0,
            len = result.length; j < len; j++) {

                if (result[j].value == '' || result[j].value == '0') {
                    result[j].parentNode.removeChild(result[j]);
                }
            }
            document.forms['filterForm'].submit();
        }
        return false;
    }
</script>
<script type="text/javascript">
    jQuery(".slider .bd li").first().before( jQuery(".slider .bd li").last() );
    jQuery(".slider .pnBtn").hover(function(){ jQuery(this).find(".arrow").show() },function(){ jQuery(this).find(".arrow").hide() });
    jQuery(".slider").slide({ mainCell:".bd ul", effect:"leftLoop", autoPlay:false, vis:3, mouseOverStop:false,
        startFun:function(i){
             jQuery(".slider .txt li").eq(i).animate({"bottom":0}).siblings().animate({"bottom":-110});
        }
     });
     
</script>
</body>
</html>