/* css document */
@charset "UTF-8";
/** baoming **/
.container1 {width: 1100px;}
.bg1 {background: #F2F2F1}
.bg2 {background: #fff}
.bg3 {background: #f9f7f4}
.fs16 {font-size: 16px}
.slideBox .hd {position: relative;height: 60px;line-height: 40px}
.slideBox .hd ul li {float: left;width: 100px;margin-right: 10px}
.slideBox .hd ul li a {float: left;width: 100px;text-align: center;margin-right: 10px;cursor: pointer;margin-bottom: 2px;border: 1px solid #FA8B32;}
.slideBox .hd ul li a:hover {color: #666}
.slideBox .hd ul li.on,.slideBox .hd ul li:hover {padding-bottom: 2px;border-bottom: 2px solid #FA8B32}
.slideBox .hd ul li.on a,.slideBox .hd ul li:hover a {background-color: #FA8B32;color: #fff}
.right-btn {margin-top: 10px}
.right-btn a {position: relative;float: left;width: 120px;height: 30px;line-height: 30px;background-color: #F5277C;text-align: center;color: #fff;border-radius: 5px}
.right-btn a:first-child{background-color: #FA8B32}
.right-btn a i {display: inline-block;width: 15px;height: 15px;margin-right: 5px;margin-top: -2px}
.right-btn a i.icon-gg {background:url(../images/2.png) no-repeat;background-size: 100%;vertical-align: middle}
.right-btn a i.icon-bm {background:url(../images/1.png) no-repeat;background-size: 100%;vertical-align: middle}
.shot ul {wid th: 100%;position: relative;margin-left: -13px;}
.shot ul li {width: 240px;margin-left: 13px;margin-bottom: 13px;float: left;border:1px solid #ddd;box-sizing: border-box}
.shot ul li img.img1 {width: 100%}
.info-top {position: relative;margin-top: 15px;padding-left: 10px;box-sizing: border-box;height: 110px}
.info-top h2 {font-size: 14px;color: #333;margin-bottom: 5px}
.info-top p {line-height: 20px}
.info-btn {box-sizing: border-box;width: 100%}
.info-btn a {background-color:#FFA55D;width: 60%;color: #fff;height: 35px;line-height: 35px;text-align: center;float: left}
.info-btn span {background-color: #FA8B32;width: 40%;color: #fff;height: 35px;line-height: 35px;text-align: center;float: left}
.btn1 i {display: inline-block;background:url(../images/3.png) no-repeat;background-size: 100%;vertical-align: middle;width: 15px;height: 15px;margin-right: 5px}
.info-btn .btn-gray {background-color: #666666}
.first {background:url(../images/first.jpg) no-repeat right bottom}
.second {background:url(../images/second.jpg) no-repeat right bottom}
.third {background:url(../images/third.jpg) no-repeat right bottom}

.bm-con {width: 820px;margin: 0 auto}
.bm-form {}
.head-tit {text-align: center}
.bm-form table {table-layout: fixed}
.bm-r {position: relative}
.bm-r p {color:#f00;text-align: center;line-height: 24px}
.upload-img {width: 100%;position: absolute;top:0;left: 0}
.upload-file {position: absolute;top: 0;left: 0;opacity: 0;width: 240px;height: 100%;z-index: 666;cursor: pointer}
.bm-ml {margin-right: 20px}
.bm-va {vertical-align: top}
.bm-form tr td {padding: 7px 0}
.input-r {vertical-align: middle;margin-top: -2px;margin-right: 5px;margin-left: 15px}
.input-r:first-child {margin-left: 0}
.input-t {width: 480px;height: 35px;line-height: 35px;border-radius: 3px;border:1px solid #ddd;padding-left: 10px;color: #333}
.input-a {width: 732px;padding: 10px;box-sizing: border-box;border-radius: 3px;height: 100px;border:1px solid #ddd;resize:none}
.msg-err {color: #f00;font-size: 12px;display: none}
.input-err {border:1px solid #f00}
.bm-now {text-align: center}
.bm-now input {background-color: #F24A4A;display: inline-block;width: 120px;height: 40px;line-height: 40px;text-align: center;color: #fff;border-radius: 5px;border:0;cursor: pointer}
/** fenlei **/
.top-add img {width: 100%;height: 120px}

/** head **/
.header {width: 100%;box-sizing: border-box;margin: 20px 0;}
.logo {width: 20%;margin-top: 15px;}
.logo img {width: 100%}
.search {width: 50%;margin-left: 5%;margin-top: 30px;}
.search input {border:4px solid #2B7785;width: 92%;height: 35px;line-height: 35px;padding-left: 10px;padding-right: 10px;border-right: none;box-sizing: border-box}
.search a {width: 35px;height: 35px;background: #2B7785 url(../images/ss.png) no-repeat center center;background-size: 60%}
.head-icon {margin: 30px 1% 0}
.head-icon a {display: inline-block;width: 35px;height: 35px}
.head-icon .gwc {background: url(../images/gwc.png) no-repeat center center;background-size: 60%}
.head-icon .yx {background: url(../images/yx.png) no-repeat center center;background-size: 60%}
.head-icon .sc {background: url(../images/sc.png) no-repeat center center;background-size: 60%}
.erweima {width: 100px;height: 100px;}
.erweima img {width: 100%;height: 100%;}
.nav {position: relative}
.nav ul {text-align: center}
.nav ul li {display: inline-block;font-size: 16px;margin: 0 25px}
.nav ul li a.cur {color:#f00;}
.nav ul li>ul {display: none;position: absolute;top:32px;left: 0;right: 0}
.nav ul li>ul li a {font-size: 12px}
.ul-con {background-color: #E5E4E2;height: 30px;line-height: 30px;width: 100%}
.lon a {color: #2B7785;margin: 0 5px}
.color1 {color: #f00}


.left-nav {width: 15%;float: left;box-sizing: border-box}
.left-nav ul li {float: l eft ;line-height: 32px;border-bottom: 1px solid #ddd; padding-left: 15px;position: relative}
.left-nav ul li:before {content: '';position: absolute;left: 5px;top:15px;width: 4px;height: 4px;border-radius: 50%;background:#ddd}
.left-nav ul li:first-child {font-size: 16px;padding-left: 0}
.left-nav ul li:first-child:before {width: 0;height: 0;padding-left: 0}
.left-nav ul li:first-child .stx {background: url(../images/stx.png) no-repeat;width: 15px;height: 15px;display: inline-block;background-size: 80%;vertical-align: middle}
.left-nav ul li:first-child:hover a {color:#333}
.left-nav ul li.cur a {color: #f00;}
.right-con h2 {text-align: center;position: relative}
.right-con h2 i.hx {background: url(../images/hx.png) no-repeat;width: 20px;height: 20px;display: inline-block;background-size: 100%;vertical-align: middle;margin-right: 5px}
.right-con h2 em {background:#fff;padding: 0 5px}
.right-con h2 p {color: #ddd;font-size: 12px;font-weight: normal;margin-top: 5px}
.right-con h2 .more {font-size: 12px;position: absolute;right: 0px;top: 10px;font-weight: normal}
.right-con h2 span.xian {position: absolute;left: 30%;top:10px;z-index: -1;background:#E5E4E2;height: 3px;overflow: hidden;width: 50%}
.right-bottom {margin-left: 15%;padding-left: 20px;box-sizing: border-box;margin-top: 20px}
.right-r {width: 40%;position: relative}
.right-r .videoo {width: 100%;max-height: 320px;margin-top: 20px}
.right-l {position: relative}
.right-r h3,.right-l h3 {position: absolute;left: 10px}
.right-l h3 {left: 30px}
.right-l .videoo  {margin-top: 20px}
.right-r p {margin-top: 10px}
.right-l p {margin-top: 5px}
.right-r p .leibie,.right-l p .leibie {color: #00f;margin-left: 15px}
.right-r p .num,.right-l p .num {color: #999}
.scdw {width: 30px;height: 30px;border-radius: 50%;background: #ab2429 url(../images/3.png) no-repeat center center;background-size: 60%;display: inline-block;vertical-align: middle;margin-right: 5px}
.right-l {width: 60%;box-sizing: border-box}
.right-l ul li {float: left;width: 50%;padding-left: 20px;box-sizing: border-box;margin-bottom: 10px;position: relative;}
.right-l ul li .videoo {width: 100%;max-height: 133px}
.yanchu {width: 100%}
.yanchu .videoo {width: 20%;max-height: 120px}
.yanchu-r {margin-top: 10px;padding: 0 20px;width: 80%;box-sizing: border-box;position: relative;height: 110px}
.yanchu-r p {line-height: 22px}
.yanchu-r p:first-child {font-size: 16px}
.yanchu-r p span {margin-right: 20px;font-size: 14px;color: #2e3ec9}
.yanchu-r .fs16 {font-size: 16px}
.y-time {width: 100%;box-sizing: border-box;margin-top: 10px;}
.yanchu ul li {margin-bottom: 25px;float: left;width: 100%;padding-right: 20px;box-sizing: border-box;}
.y-time .sc {width: 30px;height: 30px;background: #f1df27 url(../images/scb.png) no-repeat center center;background-size: 60%;display: inline-block;vertical-align: middle;margin-top: -2px}
.y-time .buy-btn {background: #5f66ad;color:#fff;height: 30px;line-height: 30px;width: 100px;display: inline-block;}
.y-time .buy-btn i {width: 30px;height: 28px;background: #5f66ad url(../images/dyj.png) no-repeat center center;background-size: 60%;display: inline-block;vertical-align: middle}

.huodong {padding-right: 20px;box-sizing: border-box}
.huodong ul li {width: 25%;float: left;padding-left: 20px;box-sizing: border-box;margin-bottom: 20px}
.huodong ul li h3 {text-align: center;margin: 10px 0}
.huodong ul li p {line-height: 22px}
.huodong .img1 {width: 100%}
.huodong .hd-bm {padding: 3px 15px;border:1px solid #6f1c27;border-radius: 12px;color: #6f1c27}

.left-part {width: 20%;padding-left: 20px;box-sizing: border-box;text-align: center;border-right: 1px solid #ddd;float: left;position: relative;z-index: 3;}
.left-part .left-header {width: 150px;height: 150px;margin: 0 auto}
.left-part .left-header img {width: 100%;height: 100%;border-radius: 50%}
.left-part .left-name {font-weight: bold;margin: 15px 0}
.left-part ul li {text-align: left}
.left-part ul li.cur a {background: #154573;color:#fff}
.left-part ul li a {padding-left: 40px;display: block;height: 50px;line-height: 50px}
.left-part ul li a i {width: 25px;height: 25px;display: inline-block;vertical-align: middle;margin-right: 5px}
.left-part ul li a i.icon1 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon2 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon3 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon4 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon5 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon6 {background: url(../images/icon.png) no-repeat}
.left-part ul li a i.icon7 {background: url(../images/icon.png) no-repeat}
.left-part ul li.cur a i {background-position: -25px 0}
.book-header {height: 100px;box-sizing: border-box;padding: 20px}
.book-logo {height: 100%}
.book-logo img {height: 60px}
.right-per-p {float: left;width: 100%;margin-left: -20%;position: relative;}
.right-per-p a:hover {color: #666;}
.per-info {margin-left: 20%;}
.per-pp {width: 80%;margin: 0 auto;}
.per-right .per-img {width: 130px;height: 130px;display: inline-block;}
.per-right .per-img img {width: 100%;height: 100%;border-radius: 50%;vertical-align: middle;}
.fir-p {margin-top: 60px;margin-left: 20px;}
.per-y {display: inline-block;width: 25px;height: 25px;background: url(../images/yjth.png) no-repeat;background-size: 100%;margin-left: 30px;vertical-align: middle;}
.per-ff {opacity: 0; filter:alpha(opacity=0);position: absolute;width: 100%;height: 170px;cursor: pointer;}
.per-pp ul li {position: relative;}
.per-pp ul li a {float: left;width: 100%;height: 50px;border-top: 1px solid #ddd;padding: 20px 0;}
.per-pp ul li:first-child a {border:none;}
.per-pp ul li a.img-h {height: 130px;}
.no-info {display: inline-block;line-height: 50px;}
.per-nn {line-height: 50px;margin-left: 20px;}
.per-xg {margin-top: 50px;padding-bottom: 30px;border-bottom: 1px solid #ddd;position: relative;}
.per-xg.mt30 {margin-top: 30px;}
.per-xg input[type='text'] {border:none;margin-top: -2px;width: 100%;}
.per-fd {width: 100px;}
.per-fs {width: 100%;margin-left: -100px;padding-left: 100px;box-sizing: border-box;}
.per-fss {width: 100%;margin-left: -100px;padding-left: 100px;margin-right: -100px;box-sizing: border-box;}
.tj-btn {margin-top: 30px;text-align: center;}
.tj-btn a {width: 220px;height: 44px;line-height: 44px;font-size: 16px;text-align: center;border-radius: 4px;display: block;background: #1053a4;color: #fff;margin:0 auto;}
.send-code {border:1px solid #1053a4;height: 30px;line-height: 30px;border-radius: 15px;padding: 0 8px;display: inline-block;color: #1053a4;margin-top: -10px;}
.right-per-p .send-code:hover {color: #1053a4;}
.right-per-p .tj-btn a:hover {color: #fff;}
.per-yzm {position: absolute;right: 0;top: -9px;}
.per-yzm img {cursor: pointer;}
.my-part {float: left;margin-left: -20%;width: 100%;padding-left: 20%;box-sizing: border-box;}
.top-tab li{float: left;width: 90px;height: 30px;line-height: 30px;text-align: center;margin-right: 10px;border:1px solid #3673ad;color:#666;margin-bottom: 20px;cursor: pointer}
.top-tab li.cur{background: #3673ad;color:#fff}
.top-tab li.cur a {color: #fff;}
.part-zj {padding-left: 100px;}
.part-zj ul li {margin-bottom: 10px;}
.zj-l {width: 90px;height: 30px;line-height: 30px;color: #fff;background: #3673ad;text-align: center;margin-right: 10px;}
.zj-r {padding-left: 100px;line-height: 30px;}
.set_Inner ul {margin-top: 20px;}
.set_Inner ul li {line-height: 40px;}
.set_message_pic { background: url("../images/sz.jpg") no-repeat;width: 373px;height: 209px;position: absolute;right: 100px;top: 40px;}
.set_Inner {position: relative;padding: 30px 50px;*zoom: 1;}
.set_Inner dt {color: #999999;}
.set_Inner dt span {color: #333333;font-weight: bold;font-size: 16px;margin-right: 10px;}
.set_Inner dd {margin-top: 10px;}
.set_Inner dd label {margin-left: 10px;}

.set_sync a {color: #3586BC;}
.set_sync .set_syncInner {padding: 30px 25px;border: 1px solid #EAEAEA;margin-top: 20px;*zoom: 1}
.set_sync .personal_verify {margin: 5px 30px 0 0;padding-left: 80px}
.set_sync .set_syncInner:before,
.set_sync .set_syncInner:after {display: table;content: "";border-spacing: 0;line-height: 0}
.personal_verify .personal_verify_title {font-size: 16px;font-weight: bold}
.personal_verify .personal_verify_status,
.personal_verify .personal_verify_status2 {color: #999999;margin: 4px 0 3px 0}
.personal_verify {float: left!important;width: 115px;height: 63px;margin: 0 40px 0 25px;padding-top: 2px;padding-left: 70px;background: url("../images/icon_default.png") no-repeat}
.verify_sina {background-position: 0 -610px}
.unverify_sina {background-position: 0 -670px}
.verify_qq {background-position: 5px -730px}
.unverify_qq {background-position: 5px -795px}
.verify_weixin {background-position: 0 -1130px}
.unverify_weixin {background-position: 0 -1210px}
.set_sync .set_sync_operate dd {float: left!important;margin: 10px 20px 0 0;}



.binfo-top {float: right;}
.binfo-top a {margin-right: 10px;vertical-align: middle;color: #2B7884;}
.book-gwc {width: 20px;height: 20px;display: inline-block;position: relative;background: url(../images/gwc.png) no-repeat;background-size: 100%}
.book-gwc span {width: 8px;height: 8px;background: #f00;border-radius: 50%;position: absolute;right: 0;bottom: 0}
.book-yx {width: 20px;height: 20px;display: inline-block;position: relative;background: url(../images/yx.png) no-repeat;background-size: 100%}
.book-yx span {width: 8px;height: 8px;background: #f00;border-radius: 50%;position: absolute;right: 0;bottom: 0}
.book-tx {width: 20px;height: 20px;display: inline-block}
.book-tx img {width: 100%;height: 100%;border-radius: 50%;border: 2px solid #2B7884}
.binfo-bot {font-size: 14px;color: #2F7B86}
.binfo-bot a {color: #2F7B86}
.book-search {display: inline-block;float: right}
.book-search a {display: inline-block;width: 34px;height: 34px;background:#2B7785 url(../images/ss.png) no-repeat center center;background-size: 60%;float: left}
.book-search input {height: 30px;line-height: 30px;float: left;border: 2px solid #2B7785;padding-left: 5px;min-width: 300px}
.binfo-bot {clear: both;float: right;margin-top: 10px;line-height: 34px}
.book-sj i {width: 20px;height: 20px;display: inline-block;position: relative;background: url(../images/yx.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -2px}
.mid-part {width: 65%;box-sizing: border-box;float: left}
.book-img {width: 200px;height: 280px;position: relative;float: left}
.book-img img {width: 100%;height: 100%}
.book-img span {position: absolute;background: #8FC320;color: #fff;top:10px;right: -15px;padding: 5px 15px;font-size: 16px;border-radius: 8px}
.book-det div,.book-det h2 {display: inline-block}
.det-pd {margin-top: 8px;margin-left: 15px}
.det-xing span {width: 15px;height: 15px;display: inline-block;position: relative;background: url(../images/xing.png) no-repeat;background-size: 100%}
.det-fs {color: #E93137;font-size: 16px;font-weight: bold;margin-right: 15px;margin-left: 15px}
.book-xx {margin-top: 25px;margin-bottom: 15px}
.book-imgr {margin-left: 220px}
.book-js {line-height: 22px}
.book-bq {margin-top: 20px}
.book-bq a {width: 70px;display: inline-block;height: 25px;line-height: 25px;text-align: center;color: #fff;border-radius: 10px;margin-right: 15px;margin-top: 10px}
.book-bq a.bq1 {background: #E1B5A8}
.book-bq a.bq2 {background: #EA7353}
.book-bq a.bq3 {background: #7E7CBB}
.book-bq a.bq4 {background: #A8D4A3}
.book-bq a.bq5 {background: #E9DB82}
.book-cz {margin-top: 25px}
.book-cz ul li a {float: left;background: #59C2D7;color: #fff;height: 40px;line-height: 40px;padding: 0 10px;border-right: 1px solid #fff}
.book-cz ul li:first-child a {border-top-left-radius:20px;border-bottom-left-radius:20px;padding-left: 20px}
.book-cz ul li:last-child a {border-top-right-radius:20px;border-bottom-right-radius:20px;padding-right: 20px}
.book-cz ul li a:hover {background: #39B7D6}

.mid-lw {padding-top: 20px;box-sizing: border-box;border-top: 10px solid #F2F2F1;border-bottom: 10px solid #F2F2F1}
.lw-l {font-size: 16px;font-weight: bold}
.lw-m {width: 100%;}
.lw-m ul li {float: left;width: 14%;box-sizing: border-box;padding-left: 30px;text-align: center;position: relative}
.lw-m ul li img {width: 100%;height: 100%;border-radius: 50%}
.lw-m ul li .lw-xing1 {position: absolute;width: 30px;height: 30px;line-height: 30px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;top: 0px;left: 25px;color: #fff}
.lw-m ul li .lw-xing2 {position: absolute;width: 30px;height: 30px;line-height: 30px;display: inline-block;background: url(../images/sc.png) no-repeat;background-size: 100%;top: 0px;left: 25px;color: #fff}
.lw-m ul li .lw-xing3 {position: absolute;width: 30px;height: 30px;line-height: 30px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;top: 0px;left: 25px;color: #fff}
.lw-m ul li .lw-vip {position: absolute;width: 20px;height: 20px;line-height: 30px;display: inline-block;background: url(../images/vip.png) no-repeat;background-size: 100%;bottom: 22px;right: 4px;color: #fff}
.lw-m ul li .lw-viph {position: absolute;width: 20px;height: 20px;line-height: 30px;display: inline-block;background: url(../images/viph.png) no-repeat;background-size: 100%;bottom: 22px;right: 4px;color: #fff}
.lw-m ul li p {margin-top: 3px}
.lw-r a {background: #59C2D8;color: #fff;display: inline-block;font-size: 12px;width: 50px;height: 20px;line-height: 20px;border-radius: 20px;text-align: center}

.pl-nr {padding: 20px;box-sizing: border-box;border-bottom: 1px solid #ddd;position: relative}
.pl-head {text-align: center}
.pl-himg {width: 80px;height: 80px;margin-bottom: 15px} 
.pl-himg img {width: 100%;height: 100%;border-radius: 50%}
.pl-z {margin-left: 120px}
.pl-time {margin-left: 20px}
.pl-p {line-height: 22px}
.pl-hf {position: absolute;bottom: 20px;right: 15px}
.pl-hf a {color: #00f}

.right-p {width: 20%}
.r-himg {width: 80px;height: 80px;display: inline-block;position: relative}
.r-himg img {width: 100%;height: 100%;border-radius: 50%}

.right-pcon {position: relative}
.r-yx {position: absolute;width: 20px;height: 20px;line-height: 30px;display: inline-block;background: url(../images/yx.png) no-repeat;background-size: 100%;right: 5px;top: 5px}
.r-head {text-align: center}
.r-head p {font-size: 16px}
.r-head .r-tx {font-size: 12px;margin-left: 10px}
.r-vip {position: absolute;width: 20px;height: 20px;line-height: 30px;display: inline-block;background: url(../images/vip.png) no-repeat;background-size: 100%;bottom: 0px;right: 0px}
.r-zp ul li {float: left;width: 33%;box-sizing: border-box;padding: 0 10px;font-size: 12px;text-align: center}
.r-zp .r-t1 {width: 50px;height: 50px;background: #EBDBAF;border-radius: 50%;text-align: center}
.r-zp .r-t1 i {width: 20px;height: 20px;margin-top: 15px;display: inline-block;background: url(../images/vip.png) no-repeat center center;background-size: 100%}
.r-zp .r-t2 {width: 50px;height: 50px;background: #EBDBAF;border-radius: 50%;text-align: center}
.r-zp .r-t2 i {width: 20px;height: 20px;margin-top: 15px;display: inline-block;background: url(../images/sc.png) no-repeat center center;background-size: 100%}
.r-zp .r-t3 {width: 50px;height: 50px;background: #EBDBAF;border-radius: 50%;text-align: center}
.r-zp .r-t3 i {width: 20px;height: 20px;margin-top: 15px;display: inline-block;background: url(../images/yx.png) no-repeat center center;background-size: 100%}
.r-zp .r-num {color: #f00}
.join-qz {display: inline-block;width: 100px;height: 25px;line-height: 25px;background: #59C2D7;color: #fff;border-radius: 5px;text-align: center}
.r-lx ul li a {width: 30%;float: left;text-align: center;height: 25px;line-height: 25px;color: #fff;border-radius: 5px;margin: 10px 3% 10px 0}
.r-lx ul li.lx1 a {background: #7E7CBB}
.r-lx ul li.lx2 a {background: #A8D4A3}
.r-lx ul li.lx3 a {background: #E9DB82}

/*同城借阅*/
.read-city {padding: 20px 0;}
.readd-tit {margin: 20px 0;}
.readd-top {width: 100%;}
.readd-topp {width: auto;}
.readd-top ul {float: left;width: 100%;font-size: 0;}
.readd-top ul li {float: left;width: 50%;}
.readd-top ul li a {float: left;width: 100%;position: relative;}
.readd-top ul li img {width: 50px;border-right:1px solid #fff;border-bottom:1px solid #fff;box-sizing: border-box;height: 50px;}
.readd-top ul.ul-special li img {width: 150px;height: 150px;}
.readd-p1 {width: 100px;}
.readd-top ul li .dhide img {border:1px solid #ff4800;z-index: 6;}
.readd-top ul li .dhide {display: none;position: absolute;left: -2px;top: -2px;font-size: 12px;background: #ff4800;z-index: 9;height: 100%;}
.readd-top ul li .dhide h3,.readd-top ul li .dhide p {color: #fff;}
.readd-top ul li .dhide-con {position: absolute;left: 100%;top:0;background: #ff4800;height: 100%;border:1px solid #ff4800;min-width: 100px;padding: 8px;box-sizing: border-box;white-space: nowrap;}
.readd-top ul li .dhide-con h3 {margin-bottom: 3px;}
.readd-p2 {width: 150px;}
.readd-p2 ul.ul-special li {width: 100%;}
.readd-p2 ul li {width: 50px;}
.readd-p3 {width: 150px;}
.readd-p3 ul li {width: 50px;}
.readd-p4 {width: 150px;}
.readd-p4 ul li {width: 50px;}
.readd-p4 ul.ul-special li {width: 100%;}
.readd-p5 {width: 300px;}
.readd-p55 {width: 150px;}
.readd-p5 ul li {width: 50px;}
.readd-p55 ul li {width: 50px;}
.readd-bottomm {width: 850px;float: left;}
.left-nav2 {padding-right: 20px;}

.readd-left {float: left;box-sizing: border-box;width: 100%;margin-top: 20px;margin-right: -230px;padding-right: 230px;}
.readd-left .readd-left-con {border:1px solid #5F311C;padding: 40px;float: left;box-sizing: border-box;width: 100%;}
.readd-left ul li {float: left;width: 50%;margin-bottom: 40px;}
.readd-left ul li .readd-bimg {width: 30%;margin-right: 20px;}
.readd-left ul li .readd-bimg img {width: 100%;border-radius: 50%;}
.readd-left ul li h4 {font-size: 18px;color: #5A93BA;margin-bottom: 10px;}
.readd-ii {margin-top: 10px;color: #5A93BA;}
.readd-ii .readd-px {width: 20px;height: 20px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;}
.readd-ii .readd-st {width: 20px;height: 20px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;}
.readd-gz i.gz {width: 20px;height: 20px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;}
.readd-gz {margin-top: 20px;}
.readd-gz a {border:1px solid #ddd;border-radius: 3px;padding: 3px 10px;}
.readd-bb .readd-left ul li {border-right:1px solid #ddd;border-bottom:1px solid #ddd;box-sizing: border-box;margin:0;padding: 20px;}
.readd-bb .readd-left ul li.readd-lline {border-left: 1px solid #ddd;}
.readd-bb .readd-left ul li.readd-tline {border-top: 1px solid #ddd;}
.readd-fs {margin-top: 30px;}
.readd-fs h3 {font-size: 16px;color: #333;padding-bottom: 5px;border-bottom: 1px solid #ddd;}
.readd-fs ul {margin-top: 15px;}
.readd-fs ul li {line-height: 28px;border-bottom: 1px solid #ddd;}
.readd-fs ul li em {color: #0666A5;}
.readd-fs ul li:nth-child(1) span,.readd-fs ul li:nth-child(2) span,.readd-fs ul li:nth-child(3) span {color: #f00;}
.readd-right {margin-top: 20px;}

.per-top {background: url(../images/img1.jpg) no-repeat center center;width: 100%;min-width: 1200px;background-size: cover;height: 300px;position: relative;}
.per-topcon {position: absolute;top:0;left: 0;background: rgba(0,0,0,.5);width: 100%;height: 100%;text-align: center;color: #fff;}
.per-header {width: 150px;height: 150px;margin: 20px auto;}
.per-header img {width: 100%;height: 100%;border-radius: 50%;}
.per-name {font-size: 20px;margin-top: 35px;}
.icon-pervip {width: 30px;height: 30px;display: inline-block;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;margin-left: 10px;margin-top: -3px;}
.per-sub {margin-top: 20px;}
.per-infoo {background: #ccc;height: 120px;text-align: center;padding-top: 15px;box-sizing: border-box;}
.per-inul li {color: #fff;display: inline;font-size: 16px;margin-left: 15px;}
.icon-fs {width: 20px;height: 20px;display: inline-block;background: url(../images/fs.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;margin-right: 3px;}
.icon-gz {width: 24px;height: 24px;display: inline-block;background: url(../images/jgz.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;margin-right: 3px;}
.icon-zg {width: 20px;height: 20px;display: inline-block;background: url(../images/gzz.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;margin-right: 3px;}
.icon-sy {width: 20px;height: 20px;display: inline-block;background: url(../images/sy.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;margin-right: 3px;}
.per-connect {margin-top: 20px;}
.per-connect li {display: inline;}
.icon-jgz {width: 15px;height: 15px;display: inline-block;background: url(../images/jhh.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -3px;margin-right: 3px;}
.icon-sx {width: 20px;height: 20px;display: inline-block;background: url(../images/yxx.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: 2px;margin-right: 3px;}
.gz-btn {color: #fff;background: #ff4510;width: 100px;height: 30px;line-height: 30px;display: inline-block;border-radius: 5px;}
.gz-btn:hover {color: #fff;}
.sx-btn {color: #333;background: #fff;width: 100px;height: 30px;line-height: 30px;display: inline-block;border-radius: 5px;margin-left: 15px;}
.sx-btn:hover {color: #333;}
.icon-lt {color: #333;background: #fff;width: 30px;height: 30px;line-height: 30px;display: inline-block;border-radius: 5px;margin-left: 15px;font-weight: bold;}
.icon-lt:hover {color: #333;}
.per-btt {margin-top: 30px;padding: 20px;box-sizing: border-box;}
.per-zuopin {width: 100%;box-sizing: border-box;margin-right: -200px;padding-right: 230px;}
.per-zuopin h3 {color: #333;margin-bottom: 20px;}
.per-zuopin h3 a {color: #3087c6;font-size: 14px;}
.per-zuopin ul {margin-left: -50px;}
.per-zuopin ul li {float: left;width: 25%;}
.per-zuopin ul li a {float: left;}
.per-zuopin ul li img {padding-left: 50px;box-sizing: border-box;width: 100%;margin-bottom: 15px;}
.per-zuopin ul li p {margin-left: 50px;}
.per-zuopin ul li p a {color: #3087c6;}
.per-guanzhu {width: 200px;float: right;}
.per-guanzhu h3 {font-size: 14px;padding-bottom: 5px;margin-bottom: 15px;border-bottom: 1px solid #ddd;color: #333;float: left;}
.per-guanzhu ul {clear: both;}
.per-guanzhu ul li {float: left;width: 50px;box-sizing: border-box;border-right:1px solid #fff;border-bottom:1px solid #fff;height: 50px;}
.per-guanzhu ul li img {width: 100%;height: 100%;}
.bred {float: left;font-size: 16px;margin: 15px 0;}
.bred .now {color: #f00;}
.select-t {border:none;outline: none;-webkit-appearance: none;background: none;width: 100%;}
.false-i {width: 480px;height: 35px;line-height: 35px;border-radius: 3px;border:1px solid #ddd;padding-left: 10px;color: #333}
.sousuo {margin-top: 10px;margin-left: 100px;}
.ss-in {float: left;margin-left: 20px;height: 30px;line-height: 30px;padding-left: 10px;}
.ss-txt {background: #325D86;color: #fff;height: 34px;line-height: 34px;padding: 0 10px;float: left;}
.ss-txt:hover {color: #fff;}

.page-con {text-align: center}
.page-group {display: inline-block;line-height: 28px;border-top: none}
.page-group a {float: left;margin-left: 5px;margin-right: 5px;width: 28px;height: 28px;line-height: 28px;text-align: center;border: 1px solid #d2d2d2;color: #999;font-size: 14px}
.page-group a.a1 {width: 63px;height: 28px;color: #999;font-size: 12px}
.page-group span {float: left;margin-left: 5px;margin-right: 5px;width: 28px;height: 28px;line-height: 28px;text-align: center;color: #999;font-size: 14px;border: 1px solid #FF6000;color: #fff;background: #FF6000}
.page-group i {float: left;margin-left: 3px;margin-right: 3px;color: #999;font-style: normal}
.page-group em {float: left;margin-left: 5px;margin-right: 5px;height: 30px;line-height: 30px;color: #999;font-style: normal}
.page-group a:hover {border: 1px solid #FF6000;color: #fff;background: #FF6000}
.page-group a.a1f {color: #999;background: #f2f2f2;border: 1px solid #f2f2f2;cursor: default}
.page-group a.a1f:hover {color: #999;background: #f2f2f2;border: 1px solid #eee}

/*商城首页*/
.nav-shop {height: 44px}
.nav-shop li {float: left;padding-left: 16px;padding-right: 16px;height: 44px;line-height: 44px;text-align: center}
.nav-shop li a {font-size: 16px;color: #666}
.nav-shop li a:hover,.nav-shop li a.active {color: #dd3635}
/**/
.nav-all {position: relative}
.nav-all > a {display: block;padding-left: 20px;width: 180px;height: 44px;line-height: 44px;background: #dd3635;font-size: 14px;color: #fff}
.nav-all-con {width: 200px;height: 475px;margin-bottom: -1px;background-color: #FF6537;z-index: 99;position: relative;float: left;}
.nav-ad {margin-right: 20px;line-height: 44px;font-size: 14px}
/**/
.nav-list {height: 30px;padding-left: 10px;padding-top: 10px;border-bottom: 1px solid #f44713;}
.nav-list-spe {border-bottom: none}
.nav-list h3 {margin-bottom: 7px}
.nav-list h3 > a {font-size: 14px;color: #fff;font-weight: 400}
.nav-list-con {margin-right: -15px;width: 168px}
.nav-list-con > a {margin-right: 15px;line-height: 22px;color: #d2d2d2;}
.nav-list-con2 {position: absolute;left: 200px;top: 0;width: 640px;min-height: 360px;background: #fff;display: none;border:2px solid #f94a14;border-left: none;}
.nav-list-con2-list {width: 400px;float: left;padding: 20px 0 0 20px;box-sizing: border-box;}
.nav-list-con2-list h4 {border-bottom: 1px solid #333;}
.nav-list-con2-list h4 a {font-size: 14px;color: #333;}
.nav-list-con2-list h4 img {width: 28px;height: 28px;margin-right: 10px;}
.nav-list-con2-list h4 .nav-more {font-size: 12px;font-weight: normal;margin-top: 16px;}
.nav-list-con2-con {margin-top: 5px;}
.nav-list-con2-con a {display: inline-block;margin-right: 12px;line-height: 28px;font-size: 12px;color: #333;white-space: nowrap}
.nav-list-con2 .all-course {position: absolute;right: 20px;bottom: 20px;font-size: 12px;color: #333}
.nav-list-con2 .all-course span {margin-left: 6px;font-family: "Simsun"}
.nav-hov-btn .nav-all-con {display: none}
.icon-jt {display: inline-block;width: 20px;height: 20px;background: url(../images/yjt.png) no-repeat;background-size: 100%;}
.icon-hot {display: inline-block;width: 14px;height: 14px;background: url(../images/vip.png) no-repeat;background-size: 100%;vertical-align: middle;margin-left: 5px;}
.icon-sort {display: inline-block;width: 14px;height: 14px;background: url(../images/yd.png) no-repeat;background-size: 100%;vertical-align: middle;margin-right: 5px;}
.nav-fl {margin-bottom: 15px;}
.icon-hx {background: url(../images/hx.png) no-repeat;width: 20px;height: 20px;display: inline-block;background-size: 100%;vertical-align: middle;margin-right: 5px}
.nav-list-r {width: 230px;float: left;padding: 20px 0 20px 10px;margin-left: 10px;box-sizing: border-box;background: #f4f4f4;}
.nav-list-r h3 {text-align: center;color: #333;font-size: 14px;}
.nav-list-r .desc {font-size: 12px;color: #999;text-align: center;}
.nav-goods a {padding: 10px;overflow: hidden;float: left;background: #fff;margin-top: 10px;margin-right: 10px;width: 100px;height: 120px;box-sizing: border-box;}
.nav-goods a img {width: 80px;height: 80px;}
.nav-goods a p {color: #333;text-align: center;}

.right-godsc {width: 800px;font-size: 12px;float: left;}
.right-godsc ul li {float: left;width: 140px;margin-left: 20px;box-sizing: border-box;border:1px solid #ddd;margin-bottom: 20px;}
.right-godsc ul li img {width: 100%;height: 160px;}
.right-g-i {padding: 0 5px;}
.right-g-p {margin-top: 10px;font-size: 16px;font-weight: bold;color: #000;}
.right-g-p .right-g-y {font-size: 12px;font-weight: normal;color: #999;margin-top: 3px;}
.right-g-n {color: #333;margin: 8px 0;}
.right-g-s {color: #999;margin-bottom: 8px;}
.right-g-m {color: #999;margin-bottom: 8px;}
.icon-lxmj {display: inline-block;width: 14px;height: 14px;background: url(../images/vip.png) no-repeat;background-size: 100%;vertical-align: middle;margin-bottom: 8px;}

.left-box{width:400px;z-index:999;float: left;position: relative;z-index: 5;}
.show-box { background:#eee;}
.show-box span { background:url(../images/whitebg.png) repeat; }
#showsum { left:25px; margin-top:10px;}
#showsum span { border:1px solid #ddd}
#showsum span.sel { border:1px solid #f60}

.showpage { width:400px; position:relative; }
.showpage a { display:block; width:15px; border:1px solid #ddd; height:60px; line-height:60px; background:#eee; text-align:center; font-size:18px; position:absolute; left:0; top:-62px; text-decoration:none; color:#999;}
.showpage a#shownext { left:auto; right:0; }
.showpage a:hover { background:#ccc; color:#777;}

.center-b {position: relative;}
.jiaoyi {position: absolute;right: 0;top: 12px;}
.jiaoyi .jy-con {float: left;text-align: center;}
.jiaoyi .jy-con p {width: auto;}
.cent-yh {background: #FC841C;display: inline-block;color: #fff;line-height: 22px;padding: 0 5px;margin-left: 5px;margin-top: -2px;}
.centerbox{width:580px;float: left;margin-left: 20px;position: relative;z-index: 1;}
.centerbox .imgname{font-size:24px;color:#000;font-weight:bold;width:580px;height:40px;font-family:Microsoft YaHei,arial;margin-bottom:10px}
.centerbox p,.centerbox samp{width:580px;height:33px;font-size:12px;line-height:33px;color:#666;font-family:"微软雅黑";padding-left:10px}
.centerbox .Aprice, .price, .youhui{background:rgba(232,232,232,0.5)}
.centerbox .Aprice samp{font-size:14px;text-decoration:line-through;font-family:"华文仿宋"}
.centerbox .price samp{color:#D00;font-size:20px;font-weight:bold}
.centerbox .youhui samp{color:#000;font-weight:100}
.centerbox .kefu{margin-top:10px;margin-left:10px;width:150px;background-image:url(../images/tell03.png);background-position:right;background-repeat:no-repeat}
.centerbox ul{margin-left:10px;margin-top:15px;}
.centerbox ul li{float:left;width:50px;height:50px;margin-left:10px}
.centerbox .kuanshi{color:#666;font-family:"微软雅黑"}
.centerbox .shopimg{width:49px;height:49px}
.centerbox .shopimg img{margin:2px}
.centerbox .cent-color li.cur{background-color:#F90}
.centerbox .chima{width:110px;height:40px;background-image:url(../images/tell04.png);background-position:right;background-repeat:no-repeat;margin-left:10px;margin-top:10px}
.centerbox .buy{margin-left:30px;margin-top:25px;}
.centerbox .buy a{display:block;width:200px;height:50px;border:1px solid #F40;float:left;font-size:16px;font-weight:bold;font-family:Microsoft YaHei,arial;margin-left:10px;text-align:center;line-height:50px; color: #FFF;background: #F40;}
.centerbox .fenx{width:200px;margin-left:50px;margin-top:20px}
.centerbox .fuwu{width:500px;height:35px;margin-left:10px;background-image:url(../images/tell08.png);background-position:right;background-repeat:no-repeat;margin-top:10px}
.centerbox .pay{width:200px;height:35px;margin-left:10px;background-image:url(../images/tell09.png);background-position:right;background-repeat:no-repeat;margin-top:10px}
.centerbox .buy a.firstbuy{border-color: #F0CAB6;color: #E5511D;background: #FFD9BC;}
.citys {margin-left: 10px;}
.citys select {width: 120px;height: 30px;line-height: 30px;}
.center-by {margin-left: 60px;}
.center-by ul li {width: auto;height: auto;padding: 3px 10px;border:1px solid #ddd;}
.center-by ul li.cur {border-color: #FC841C}
.w80 {width: 70px;}
.center-num-con {float: left;margin-top:20px;margin-left: 10px;}
.center-jian,.center-jian1,.center-jia,.center-jia1,.center-input {float: left;}
.center-jian,.center-jian1,.center-jia,.center-jia1 {border:1px solid #ccc;width: 26px;height: 26px;line-height: 24px;display: inline-block;text-align: center;cursor: pointer;}
.center-jian i {display: inline-block;width: 14px;height: 14px;background: url(../images/jian1.png) no-repeat;background-size: 100%;vertical-align: middle;}
.center-jian1 i {display: inline-block;width: 14px;height: 14px;background: url(../images/jian2.png) no-repeat;background-size: 100%;vertical-align: middle;}
.center-jia i {display: inline-block;width: 14px;height: 14px;background: url(../images/jia1.png) no-repeat;background-size: 100%;vertical-align: middle;}
.center-jia1 i {display: inline-block;width: 14px;height: 14px;background: url(../images/jia2.png) no-repeat;background-size: 100%;vertical-align: middle;}
.center-input {width: 40px;height: 26px;line-height: 26px;text-align: center;border:1px solid #ccc;border-left: none;border-right: none;}
.cent-n {font-size: 12px;color: #333;line-height: 26px;margin-left: 10px;}
.icon-gwcc {display: inline-block;width: 16px;height: 16px;background: url(../images/gwcc.png) no-repeat;background-size: 100%;vertical-align: middle;margin-right: 5px;}
.icon-xing {width: 20px;height: 20px;display: inline-block;position: relative;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;}

.tabbedPanels {width: 980px;margin-top: 20px;}

.tabbedPanels .tabs{height:50px;border-bottom:2px solid #000;margin-bottom:20px}
.tabbedPanels .tabs li{float:left}
.tabbedPanels .tabs li a{width:100px;height:40px;margin-bottom:10px;font-size:16px;font-weight:bold;margin-left:50px;text-decoration:none;color:#000;line-height:40px;text-align:center}
.tabs li a.active{border-bottom:3px solid #F30;	}
.panelContainer{width:950px;margin:0 auto;margin-top:10px}
.panel .sell{font-weight:bold;font-size:20px;color:#000;text-decoration:underline;}
.panel p{margin-bottom:20px}
.panel .idimg img{margin-left:10px;width: 50px;height: 50px;border-radius: 50%;}
.panel .judge{font-size:14px;font-weight:bold;color:#000}
.panel .judge span{font-size:14px;margin-left:15px}
.panel .judge01{position:relative;margin-bottom: 20px;float: left;width: 100%;border-top: 1px solid #ddd;padding-top: 15px;}
.panel .judge01 .idimg{width:80px;float: left;}
.panel .judge01 .write{float: left;}
.panel .judge01 .write .which{color:#666;font-size:12px}
.panel .com{ width:720px; }
.panel .com .ex01{width:218px;margin-left:10px;margin-right:10px;margin-top:30px;border:solid 1px #c4c4c4;float:left;}
.panel .com figure{	width:218px;margin-left:3px;margin-top:3px;	position:relative;}
.panel .com img{margin:0}
.panel .com figcaption{	position:absolute;bottom:3px;width:212px;height:40px;background:rgba(0,0,0,0.4);line-height:40px;text-align:center;	font-size:12px;	color:#fff;}
.panel .com a:hover figure figcaption{display:block;width:212px;height:193px;line-height:193px;text-align:center;font-size:12px;color:#fff;}

.dian-left {width: 780px;float: left;margin: 20px 0;margin-right: 20px;}
.dian-img {float: left;}
.dian-img img {width: 140px;height: 100px;}
.dian-con {margin-left: 20px;float: left;width: 620px;}
.dian-con h2 {margin-top: 15px;margin-bottom: 15px;}
.icon-dian {width: 20px;height: 20px;display: inline-block;position: relative;background: url(../images/xing.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -5px;}
.dian-left ul li {float: left;width: 100%;padding: 10px 0;border-bottom: 1px solid #ddd;}

.dian-right {float: right;width: 200px;margin-top: 25px;background: #F2F2F4;padding: 10px 10px 20px;box-sizing: border-box;border-top: 2px solid #f00;}
.dian-right h2 {margin-top: 10px;margin-bottom: 20px;}
.dr-img {float: left;}
.dr-img img {width: 50px;height: 50px;border-radius: 50%;}
.dr-con {float: left;width: 120px;margin-left: 10px;}
.dr-name {font-weight: bold;font-size: 14px;margin-bottom: 5px;}
.dr-xy {font-size: 12px;color: #666;}
.dian-right ul li {float: left;margin-bottom: 20px;}

.huod {float: left;width: 830px;margin-left: 20px;}
.huod h1 {font-size: 18px;text-align: center;margin: 20px 0;}
.huod-sub {text-align: center;color: #666;font-size: 14px;margin-bottom: 20px;}
.huo-imgg {text-align: center;}
.huod h2 {text-align: left;font-size: 16px;margin: 20px 0;}
.huod-con {font-weight: bold;font-size: 16px;text-align: center;margin-top: 20px;}
.huod-con p {margin-bottom: 10px;}
.bm-btnn a {display: block;width: 160px;height: 40px;line-height: 40px;color: #fff;background: #F24A4A;text-align: center;font-size: 18px;margin: 30px auto;}
.zyzbm {width: 1000px;}
.zyzbm p {line-height: 1.8;}
.rightt-ul11 li .shu-imgg {width: 80px !important;}
.rightt-ul11 .shu-r {margin-left: 90px !important;position: relative;}
.rightt-ul11 .shu-fl .fr {position: absolute;right: 0;top: 22px;}
.rightt-ul11 .shu-fl {margin-top: 30px;}
.right-blb11 .rightt-ul li {width: 50% !important;}
.huo-priii {font-size: 20px;color: #f00;text-align: right;margin-bottom: 20px;}

.huod .sc {width: 30px;height: 30px;background: #f1df27 url(../images/scb.png) no-repeat center center;background-size: 60%;display: inline-block;vertical-align: middle;margin-top: -2px}
.huod .buy-btn {background: #5f66ad;color:#fff;height: 30px;line-height: 30px;width: 100px;display: inline-block;}
.huod .buy-btn i {width: 30px;height: 28px;background: #5f66ad url(../images/dyj.png) no-repeat center center;background-size: 60%;display: inline-block;vertical-align: middle}
.huod .sc-btn {margin-top: -40px;}
.yanchu-jg {position: relative;float: left;}
.yanchu-jg .jg-num {font-size: 22px;color: #f00;position: absolute;right: 0px;bottom: 0px;width: 100%;background: rgba(0,0,0,.5);text-align: right;padding: 3px 3px 3px 0;box-sizing: border-box;}
.vide-i {width: 162px;height: 120px;}
.sc-plu {margin-right: 20px;}
.icon-ppl {width: 16px;height: 16px;background: url(../images/plun.png) no-repeat left top;background-size: 200%;display: inline-block;vertical-align: middle}