<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>报名</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="top-add"><a href="#4"><img src="images/img3.jpg" alt=""></a></div>
<div class="head w1000">
    <div class="header fl">
        <div class="logo fl"><a href="#"><img src="images/logo.jpg" alt=""></a></div>
        <div class="search fl">
            <input type="text" class="fl">
            <a href="javascript:;" class="fl"></a>
        </div>
        <div class="head-icon fl">
            <a href="#4" class="gwc"></a>
            <a href="#4" class="yx"></a>
            <a href="#4" class="sc"></a>
        </div>
        <div class="erweima fr"><img src="images/erweima.jpg" alt=""></div>
    </div>
</div>
<div class="clear"></div>
<div class="nav clearfix">
    <ul>
        <li>
            <a href="fenlei-remen.html" class="li-a">发现</a>
            <ul>
                <li><a href="fenlei-remen.html">热门推荐</a></li>
                <li><a href="zuojiatuijian.html">人气主播</a></li>
                <li><a href="zuojiatuijian.html">人气作家</a></li>
                <li><a href="#2">赚钱途径</a></li>
            </ul>
        </li>
        <li>
            <a href="shucheng-zhuye1.html" class="li-a">书城</a>
            <ul>
                <li><a href="tongchengjieyue.html"><span class="color1">在线借阅</span></a></li>
                <li><a href="shucheng-zhuye1.html">图书购买</a></li>
                <li><a href="shucheng-zhuye1.html">电子书</a></li>
                <li><a href="shucheng-zhuye1.html">有声读物</a></li>
            </ul>
        </li>
        <li>
            <a href="tongchengjieyue.html" class="li-a">分类清单</a>
            <ul>
                <li><a href="tongchengjieyue.html">同城借阅</a></li>
                <li><a href="fenlei-zhiyuanzhe.html"><span class="color1">志愿者活动</span></a></li>
                <li><a href="fenlei-remen.html">热门活动</a></li>
                <li><a href="fenlei-chuantong.html">传统文化</a></li>
                <li><a href="fenlei-yanchu.html">精彩演出</a></li>
                <li><a href="fenlei-remen.html">热卖产品</a></li>
                <li><a href="#2">创客空间</a></li>
                <li><a href="fenlei-kecheng.html">精品课程</a></li>
            </ul>
        </li>
        <li>
            <a href="index.html" class="li-a">瞰世商城</a>
            <ul>
                <li><a href="#2"><span class="color1">在线配音</span></a></li>
                <li><a href="#2">录音设备</a></li>
                <li><a href="#2">出版图书</a></li>
                <li><a href="#2">培训课程</a></li>
            </ul>
        </li>
        <li>
            <a href="saishihuodong.html" class="li-a">赛事活动</a>
            <ul>
                <li><a href="saishihuodong-quanbu.html">全部</a></li>
                <li><a href="saishihuodong-yinpin.html"><span class="color1">音频类</span></a></li>
                <li><a href="saishihuodong-shipin.html">视频类</a></li>
                <li><a href="saishihuodong-tupian.html">图片类</a></li>
                <li><a href="saishihuodong-shufa.html">书法类</a></li>
                <li><a href="saishihuodong-qita.html">其他</a></li>
            </ul>
        </li>
        <li>
            <a href="bisaibaoming.html" class="li-a cur">参赛报名</a>
            <ul style="display: block;">
                <li><a href="bisaibaoming-quanbu.html"><span class="color1">全部</span></a></li>
                <li><a href="bisaibaoming-yinpin.html">音频类</a></li>
                <li><a href="bisaibaoming-shipin.html">视频类</a></li>
                <li><a href="bisaibaoming-tupian.html">图片类</a></li>
                <li><a href="bisaibaoming-shufa.html">书法类</a></li>
                <li><a href="bisaibaoming-qita.html">其他</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">合作通道</a>
            <ul>
                <li><a href="#2"><span class="color1">志愿者报名</span></a></li>
                <li><a href="#2">平台建议</a></li>
                <li><a href="#2">瞰世联线</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="li-a">认证</a>
            <ul>
                <li><a href="#2"><span class="color1">个人身份认证</span></a></li>
                <li><a href="#2">作家认证</a></li>
                <li><a href="#2">主播认证</a></li>
            </ul>
        </li>
    </ul>
    <div class="ul-con mt10">
        <div class="lon w1000">
            <div class="fr"><a href="#2">注册</a><span>|</span><a href="#2">登录</a></div>
        </div>
    </div>
</div>
<div class="baoming-ban"></div>
<div class="container p20">
    <div class="con">
        <div class="slideBox">
            <div class="hd">
                <div class="bred"><span>参赛报名</span>><span class="now">全部</span></div>
                <div class="sousuo fl"><input type="text" class="ss-in" placeholder="作者/比赛项目/编号"><a href="javascript:;" class="ss-txt">搜索</a></div>
                <div class="right-btn fr">
                    <a href="baoming-quanbu.html"><i class="icon-bm"></i>报名参赛</a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="bd">
                <div class="shot">
                    <ul class="clearfix">
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="images/img1.jpg" alt="">
                                <div class="info-top first">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="images/img1.jpg" alt="">
                                <div class="info-top second">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="images/img1.jpg" alt="">
                                <div class="info-top third">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn">立即投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                        <li>
                            <a href="cansaineirong.html">
                                <img class="img1" src="images/img1.jpg" alt="">
                                <div class="info-top">
                                    <h2>阳光运动，快乐成长</h2>
                                    <p><strong>作品编号：</strong>0001</p>
                                    <p><strong>作者：</strong>作者1</p>
                                    <p><strong>参赛项目：</strong>xxx</p>
                                    <p><strong>参赛宣言：</strong>xxx</p>
                                </div>
                            </a>
                            <div class="info-btn">
                                <a href="javascript:;" class="btn btn-gray">您已投票</a>
                                <span class="btn1"><i></i>100</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="bot">
    <div class="bot1">
        <div class="w1000 clear">
            <div class="fl colorMain clear left">
                <span class="icon-yqlj mr5 mt5 fl"></span><b class="fl">友情链接：</b>       
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">足球协会</a></li>
                    <li><a href="#">篮球协会</a></li>
                    <li><a href="#">天津市体育局</a></li>
                    <li><a href="#">国家体育总局</a></li>
                    <li><a href="#">全运组委会</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bot2">
        <div class="w1000 marok">
            <div class="sinak">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <div class="wxk">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <a href="javascript:;" class="bgsinaRed"><img src="images/xing.png" alt=""></a>
            <a href="javascript:;" class="bgwxGreen"><img src="images/xing.png" alt=""></a>
            <a href="index.html" class="botlogo"><img src="images/logoo.png"></a>
        </div>
    </div>
    <div class="bot3">
        <div class="w1000">
            Tian Jin Bei Li Jian Sports Consulting Co., Ltd. ©2017 All Rights Reserved 津ICP备00000000号
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>