<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>企业库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/qiye.css">
</head>
<body class="big-bg">
    <div class="con">
        <div class="header">
            <div class="head-ul mt10">
                <ul>
                    <li><a href="javascript:;">收藏本页</a></li>
                    <li><a href="javascript:;">设为主页</a></li>
                    <li><a href="javascript:;">随便看看</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="copy-name">
                <h2>公司公司公司公司公司公司</h2>
                <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
            </div>
            <div class="nav">
                <ul>
                    <li class="cur"><a href="qiye1.html">网站首页</a></li>
                    <li><a href="qiye1.html">简介</a></li>
                    <li><a href="qiye1.html">新闻活动</a></li>
                    <li><a href="qiye1.html">资质</a></li>
                    <li><a href="qiye1.html">产品服务</a></li>
                </ul>
            </div>
            <div class="banner">
                <ul>
                    <li><a><img src="images/qiye-banner.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="brand">
                <span class="bran-icon"></span>您当前的位置：<a href="#">首页</a> » 欢迎光临
                <span class="fr">今天是2017年11月11日星期二</span>
            </div>
        </div>
        <div class="content mt20">
            <div class="left-part">
                <div class="search"><a href="javascript:;"></a><input type="text"></div>
                <div class="l-t">
                    <ul>
                        <li><a href="qiye1.html">商家包邮</a></li>
                        <li><a href="qiye1.html">货到付款</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="my-pro plr20 mt15">
                    <h2>我的产品</h2>
                    <div class="qiye-ul">
                        <ul>
                            <li><a href="qiye1.html">slakdfjlaskdjfla</a></li>
                            <li><a href="qiye1.html">slakdfjlaskdjfla</a></li>
                            <li><a href="qiye1.html">slakdfjlaskdjfla</a></li>
                            <li><a href="qiye1.html">slakdfjlaskdjfla</a></li>
                            <li><a href="qiye1.html">slakdfjlaskdjfla</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-part ml20 fl">
                <div class="right-con1">
                    <ul>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="qiye1.html">
                                <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                <div class="shu-r">
                                    <h3>《撒的》</h3>
                                    <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                    <p><span class="fs16">作者</span>行行行</p>
                                    <p><span class="fs16">主播</span>行行行</p>
                                    <p class="mt5"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>