<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>企业库</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/qiye.css">
</head>
<body class="big-bg">
    <div class="con">
        <div class="header">
            <div class="head-ul mt10">
                <ul>
                    <li><a href="javascript:;">收藏本页</a></li>
                    <li><a href="javascript:;">设为主页</a></li>
                    <li><a href="javascript:;">随便看看</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="copy-name">
                <h2>公司公司公司公司公司公司</h2>
                <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
            </div>
            <div class="nav">
                <ul>
                    <li class="cur"><a href="#4">网站首页</a></li>
                    <li><a href="#4">简介</a></li>
                    <li><a href="#4">新闻活动</a></li>
                    <li><a href="#4">资质</a></li>
                    <li><a href="#4">产品服务</a></li>
                </ul>
            </div>
            <div class="banner">
                <ul>
                    <li><a><img src="images/qiye-banner.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="brand">
                <span class="bran-icon"></span>您当前的位置：<a href="#">首页</a> » 欢迎光临
                <span class="fr">今天是2017年11月11日星期二</span>
            </div>
        </div>
        <div class="content mt20 bg1">
            <div class="con-tit"><span>简介</span><a href="#4" class="fr mr10"><img src="images/more.gif" alt=""></a></div>
            <div class="con-nr p20 clearfix">
                <p class="con-p">家里说卡积分拉克的是减肥啦看到奖励康乐卡死街坊邻居啊家里说卡积分拉克的是减肥啦看到奖励康乐卡死街坊邻居啊家里说卡积分拉克的是减肥啦看到奖励康乐卡死街坊邻居啊家里说卡积分拉克的是减肥啦看到奖励康乐卡死街坊邻居啊家里说卡积分拉克的是减肥啦看到奖励康乐卡死街坊邻居啊</p>
                <img class="con-img" src="images/img1.jpg" alt="">
            </div>
            <div class="con-tit mt20"><span>视频信息</span><a href="#4" class="fr mr10"><img src="images/more.gif" alt=""></a></div>
            <div class="shi-ul clearfix">
                <ul>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="con-tit mt20"><span>产品服务</span><a href="#4" class="fr mr10"><img src="images/more.gif" alt=""></a></div>
            <div class="shi-ul clearfix">
                <ul>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                    <li>
                        <a href="qiye1.html">
                            <span class="shi-img"><img src="images/img1.jpg" alt=""></span>
                            <p>历史课京东方</p>
                            <p class="shi-pri">￥1.22</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>