<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>书城</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/shucheng.css">
</head>
<body>
<div class="book-header w1000">
    <div class="book-logo fl"><img src="images/logo.jpg" alt=""></div>
    <div class="book-info fr">
        <div class="binfo-top">
            <a href="#3" class="book-gwc"><span></span></a>
            <a href="#3" class="book-yx"><span></span></a>
            <a href="#3" class="book-tx"><img src="images/img1.jpg" alt=""></a>
            <a href="#3" class="book-mz">张三</a>
        </div>
        <div class="binfo-bot">
            <a href="javascript:;" class="book-back mr10">返回</a>
            <a href="#4" class="book-sj mr10"><i></i>书架</a>
            <span>快速搜索</span>
            <div class="book-search ml10">
                <a href="javascript:;" class="search-btn"></a>
                <input type="text">
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="bg1">
<div class="container clearfix">
    <div class="con">
        <div class="content pt20 clearfix">
            <div class="left-nav pt10 bg4">
                <ul>
                    <li><a><i class="stx"></i>主题市场</a></li>
                    <li><a href="tongchengjieyue.html">同城借阅</a></li>
                    <li><a href="huodong.html">活动视频</a></li>
                    <li><a href="fenlei-chuantong.html">传统曲艺</a></li>
                    <li><a href="fenlei-yanchu.html">舞台/话剧</a></li>
                    <li><a href="fenlei-yanchu.html">专题/动画</a></li>
                    <li><a href="shucheng-zhuye1.html">有声文学</a></li>
                    <li><a href="shucheng-zhuye1.html">文学阅读</a></li>
                    <li><a href="#4">创客空间</a></li>
                    <li><a href="#4">瞰世学院</a></li>
                    <li><a href="index.html">瞰世商城</a></li>
                </ul>
            </div>
            <div class="right-pp fr pl20">
                <div class="read-left fl">
                    <ul>
                        <li><a href="#1" class="read-icon1">目录</a></li>
                        <li><a href="javascript:;" class="read-icon2 settingBtn">设置</a></li>
                        <li><a href="javascript:;" class="read-icon3 cellphoneBtn">手机</a></li>
                        <li><a href="#1" class="read-icon4">书架</a></li>
                        <li><a href="#1" class="read-icon5">书签</a></li>
                        <li><a href="#1" class="read-icon6">上一章</a></li>
                        <li><a href="#1" class="read-icon7">下一章</a></li>
                        <li><a href="#1" class="read-icon8">听书</a></li>
                    </ul>
                    <div class="panel-wrap setting">
                        <a class="iconfont close-panel setting-close" href="javascript:"></a>
                        <div class="panel-box">
                            <h4 class="lang">设置</h4>
                            <div class="setting-list-wrap">
                                <ul>
                                    <li class="theme-list">
                                        <i>阅读主题</i>
                                        <span title="默认" class="theme-0 act"><em class="iconfont"></em></span>
                                        <span title="牛皮纸" class="theme-1"><em class="iconfont"></em></span>
                                        <span title="淡绿色" class="theme-2"><em class="iconfont"></em></span>
                                        <span title="淡蓝色" class="theme-3"><em class="iconfont"></em></span>
                                        <span title="淡粉色" class="theme-4"><em class="iconfont"></em></span>
                                        <span title="灰色" class="theme-5"><em class="iconfont"></em></span>
                                        <span title="黑色" class="theme-6"><em class="iconfont"></em><cite class="iconfont"></cite></span>
                                    </li>
                                    <li class="font-family"><i>正文字体</i>
                                        <span class="yahei act">雅黑</span>
                                        <span class="yahei">宋体</span>
                                        <span class="yahei">楷书</span>
                                    </li>
                                    <li class="font-size"><i>字体大小</i>
                                        <cite>
                                            <span class="prev"><em class="iconfont"></em></span><b></b>
                                            <span class="lang">18</span><b></b>
                                            <span class="next"><em class="iconfont"></em></span>
                                        </cite>
                                    </li>
                                    <li class="page-width">
                                        <i>页面宽度</i>
                                        <cite>
                                            <span class="prev"><em class="iconfont"></em></span><b></b>
                                            <span class="lang">100%</span><b></b>
                                            <span class="next"><em class="iconfont"></em></span>
                                        </cite>
                                    </li>
                                </ul>
                                <div class="btn-wrap dib-wrap">
                                    <a class="red-btn" href="javascript:">保存</a>
                                    <a class="grey-btn" href="javascript:">取消</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrap cellphone">
                        <a class="iconfont close-panel" href="javascript:"></a>
                        <div class="panel-box">
                            <h4 class="lang">手机阅读</h4>
                            <!-- start 二维码 -->
                            <div class="qr-code-wrap">
                                <h5>手机扫码阅读</h5>
                                <img class="j_codeImg" src="images/img1.jpg">
                                <div class="scan-bottom clearfix">
                                    <span class="icon-scan"></span>
                                    <div class="tip">
                                        <p>使用<a class="red" href="#3" target="_blank">起点读书客户端</a></p>
                                        <p>扫码阅读</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end 二维码 -->
                        </div>
                    </div>
                </div>
                <div class="read-mid">
                    <h1>第一章：水电费考虑加适量的咖啡机</h1>
                    <div class="book-author-info">
                        <a href="#2" class="author-name">替天行道</a>
                        <a href="#2" class="author-penname">石章鱼</a>
                        <span class="author-num">1111字</span>
                        <span class="author-time">2017.11.11 11:11</span>
                    </div>
                    <div class="book-content">
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                        <p>阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读阿萨德的法师打实打实大搜搜你读</p>
                    </div>
                </div>
                <div class="read-right fr">
                    <a href="#5" class="pinglun">评论</a>
                    <a href="#" class="goTop"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="clear"></div>
<div id="bot" class="mt20">
    <div class="bot1">
        <div class="w1000 clear">
            <div class="fl colorMain clear left">
                <span class="icon-yqlj mr5 mt5 fl"></span><b class="fl">友情链接：</b>       
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">足球协会</a></li>
                    <li><a href="#">篮球协会</a></li>
                    <li><a href="#">天津市体育局</a></li>
                    <li><a href="#">国家体育总局</a></li>
                    <li><a href="#">全运组委会</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bot2">
        <div class="w1000 marok">
            <div class="sinak">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <div class="wxk">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <a href="javascript:;" class="bgsinaRed"><img src="images/xing.png" alt=""></a>
            <a href="javascript:;" class="bgwxGreen"><img src="images/xing.png" alt=""></a>
            <a href="index.html" class="botlogo"><img src="images/logoo.png"></a>
        </div>
    </div>
    <div class="bot3">
        <div class="w1000">
            Tian Jin Bei Li Jian Sports Consulting Co., Ltd. ©2017 All Rights Reserved 津ICP备00000000号
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/yuedu.js"></script>
</body>
</html>