<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<title>书城</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/shucheng.css">
</head>
<body>
<div class="book-header w1000">
    <div class="book-logo fl"><img src="images/logo.jpg" alt=""></div>
    <div class="book-info fr">
        <div class="binfo-top">
            <a href="#3" class="book-gwc"><span></span></a>
            <a href="#3" class="book-yx"><span></span></a>
            <a href="#3" class="book-tx"><img src="images/img1.jpg" alt=""></a>
            <a href="#3" class="book-mz">张三</a>
        </div>
        <div class="binfo-bot">
            <a href="javascript:;" class="book-back mr10">返回</a>
            <a href="#4" class="book-sj mr10"><i></i>书架</a>
            <span>快速搜索</span>
            <div class="book-search ml10">
                <a href="javascript:;" class="search-btn"></a>
                <input type="text">
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="bg1">
<div class="container clearfix">
    <div class="con">
        <div class="content pt20 clearfix">
            <div class="left-nav pt10 bg2">
                <ul>
                    <li><a><i class="stx"></i>主题市场</a></li>
                    <li><a href="tongchengjieyue.html">同城借阅</a></li>
                    <li><a href="huodong.html">活动视频</a></li>
                    <li><a href="fenlei-chuantong.html">传统曲艺</a></li>
                    <li><a href="fenlei-yanchu.html">舞台/话剧</a></li>
                    <li><a href="fenlei-yanchu.html">专题/动画</a></li>
                    <li><a href="shucheng-zhuye1.html">有声文学</a></li>
                    <li><a href="shucheng-zhuye1.html">文学阅读</a></li>
                    <li><a href="shucheng.html">创客空间</a></li>
                    <li><a href="shucheng.html">瞰世学院</a></li>
                    <li><a href="index.html">瞰世商城</a></li>
                </ul>
            </div>
            <div class="right-pp fr">
                <div class="rightt-con fl">
                    <div class="right-tt">
                        <h3>筛选</h3>
                        <div class="rightt-selct">
                            <span class="fl">书目频道</span>
                            <ul>
                                <li class="cur"><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                                <li><a href="javascript:;">玄幻</a></li>
                            </ul>
                        </div>
                        <div class="rightt-selct">
                            <span class="fl">阅读方式</span>
                            <ul>
                                <li><a href="javascript:;">购买实体书</a></li>
                                <li><a href="javascript:;">购买电子书</a></li>
                                <li><a href="javascript:;">同城借阅</a></li>
                                <li><a href="javascript:;">有声读物</a></li>
                            </ul>
                        </div>
                        <div class="rightt-selct">
                            <span class="fl">创作年代</span>
                            <ul>
                                <li><a href="javascript:;">2017</a></li>
                                <li><a href="javascript:;">2016</a></li>
                                <li><a href="javascript:;">2015</a></li>
                                <li><a href="javascript:;">2014</a></li>
                                <li><a href="javascript:;">2013</a></li>
                                <li><a href="javascript:;">2012</a></li>
                                <li><a href="javascript:;">2011</a></li>
                                <li><a href="javascript:;">2010</a></li>
                                <li><a href="javascript:;">2009</a></li>
                                <li><a href="javascript:;">2008</a></li>
                                <li><a href="javascript:;">2007</a></li>
                                <li><a href="javascript:;">2006</a></li>
                                <li><a href="javascript:;">2005</a></li>
                                <li><a href="javascript:;">2004</a></li>
                                <li><a href="javascript:;">2003</a></li>
                                <li><a href="javascript:;">2002</a></li>
                                <li><a href="javascript:;">2001</a></li>
                                <li><a href="javascript:;">2000</a></li>
                                <li><a href="javascript:;">90年代</a></li>
                                <li><a href="javascript:;">80年代</a></li>
                                <li><a href="javascript:;">70年代</a></li>
                                <li><a href="javascript:;">更早以前</a></li>
                            </ul>
                        </div>
                        <div class="rightt-selct">
                            <span class="fl">精品在线</span>
                            <ul>
                                <li><a href="javascript:;">收费书</a></li>
                                <li><a href="javascript:;">用券</a></li>
                                <li><a href="javascript:;">限免</a></li>
                                <li><a href="javascript:;">免费</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-bb p20 bg2 clearfix">
                        <div class="right-bl right-bll fl bg5 p10">
                            <div class="slider">
                                <div class="bd">
                                    <ul>
                                        <li>
                                            <a href="shucheng.html"><img src="images/img1.jpg" /></a>
                                        </li>
                                        <li>
                                            <a href="shucheng.html"><img src="images/img1.jpg" /></a>
                                        </li>
                                        <li>
                                            <a href="shucheng.html"><img src="images/img1.jpg" /></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="txt">
                                    <ul>
                                        <li>
                                            <div class="right-blcon">
                                                <div class="bok-n">《手动阀手动阀》<span class="fr">9.6分</span></div>
                                                <p><span>作者：</span>xxx<span class="ml20">主播：</span>xxx</p>
                                                <p><span>简介：</span>斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法斯蒂芬撒旦法</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-blcon">
                                                <div class="bok-n">《手动阀手动阀》<span class="fr">9.6分</span></div>
                                                <p><span>作者：</span>xxx<span class="ml20">主播：</span>xxx</p>
                                                <p><span>简介：</span>死啦的咖啡机阿里山的价格拉深刻的解放啦开始的减肥</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="right-blcon">
                                                <div class="bok-n">《手动阀手动阀》<span class="fr">9.6分</span></div>
                                                <p><span>作者：</span>xxx<span class="ml20">主播：</span>xxx</p>
                                                <p><span>简介：</span>阿萨德法师迪欧按公司的感觉萨洛克</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pnBtn prev">
                                    <span class="blackBg"></span>
                                    <span class="arrow"></span>
                                </div>
                                <div class="pnBtn next">
                                    <span class="blackBg"></span>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="right-br right-brr fl pl10">
                            <ul class="rightt-ul">
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="right-blb fl">
                            <ul class="rightt-ul">
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="shucheng.html">
                                        <span class="shu-imgg"><img src="images/img1.jpg" alt=""></span>
                                        <div class="shu-r">
                                            <h3>《撒的》</h3>
                                            <div class="shu-fl mt10 mb10"><span class="fs16">分类</span><span class="color1">水电费</span><span class="fr">9.6分</span></div>
                                            <p><span class="fs16">作者</span>行行行</p>
                                            <p><span class="fs16">主播</span>行行行</p>
                                            <p class="mt5 jj"><span class="fs16">简介</span>行行行行行行行行行行行行行行行</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightt-rank">
                    <div class="author-tj">
                        <h3>作家推荐</h3>
                        <ul>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">笔名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">笔名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">笔名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">笔名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">笔名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="author-tj">
                        <h3>主播推荐</h3>
                        <ul>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">艺名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">艺名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="shucheng.html">
                                    <span class="tj-head fl"><img src="images/img1.jpg" alt=""></span>
                                    <div class="tj-info">
                                        <p class="tj-penname">艺名</p>
                                        <p class="tj-dbz">代表作品</p>
                                        <p class="tj-addr mt10"><a href="#4" class="tj-szd">所在地</a><a href="#4" class="tj-rqz">人气值</a></p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="clear"></div>
<div id="bot" class="mt20">
    <div class="bot1">
        <div class="w1000 clear">
            <div class="fl colorMain clear left">
                <span class="icon-yqlj mr5 mt5 fl"></span><b class="fl">友情链接：</b>       
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">足球协会</a></li>
                    <li><a href="#">篮球协会</a></li>
                    <li><a href="#">天津市体育局</a></li>
                    <li><a href="#">国家体育总局</a></li>
                    <li><a href="#">全运组委会</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bot2">
        <div class="w1000 marok">
            <div class="sinak">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <div class="wxk">
                <span class="jt"></span>
                <img src="images/erweima.jpg" class="ma">
            </div>
            <a href="javascript:;" class="bgsinaRed"><img src="images/xing.png" alt=""></a>
            <a href="javascript:;" class="bgwxGreen"><img src="images/xing.png" alt=""></a>
            <a href="index.html" class="botlogo"><img src="images/logoo.png"></a>
        </div>
    </div>
    <div class="bot3">
        <div class="w1000">
            Tian Jin Bei Li Jian Sports Consulting Co., Ltd. ©2017 All Rights Reserved 津ICP备00000000号
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    jQuery(".slider .bd li").first().before( jQuery(".slider .bd li").last() );
    jQuery(".slider .pnBtn").hover(function(){ jQuery(this).find(".arrow").show() },function(){ jQuery(this).find(".arrow").hide() });
    jQuery(".slider").slide({ mainCell:".bd ul", effect:"leftLoop", autoPlay:false, vis:3, mouseOverStop:false,
        startFun:function(i){
             jQuery(".slider .txt li").eq(i).animate({"bottom":0}).siblings().animate({"bottom":-110});
        }
     });
</script>
</body>
</html>