<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />
    
    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>

    <!-- jquery获取地址栏参数 -->
    <script src="__PUBLIC__/js/jquery_get.js"></script>
    <script type="text/javascript">
      $(function(){
        console.log($.request.queryString);
      });
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>
        
        <!-- 右侧主要内容 start-->
        <div class="main-content">
          

          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->

          <div class="page-content">
            <!-- 权限设置  start -->
            <include file="Public/role_page_setting"/>
            <!-- 权限设置  end -->

            <div class="row">
              <div class="col-xs-12">

                <style>
                  .layui-form-item .layui-input-inline{width: auto!important;}
                  .layui-form-item{margin-bottom: 0px;}
                  #gbox_grid-table{width: 100%!important;}
                  #gview_grid-table{width: 100%!important;}
                  #gview_grid-table>div{width: 100%!important;}
                </style>

                <!-- 搜索  start -->
                <div class="row">
                    <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
                        <table class="layui-table" id="search_table">
                          <thead>
                            <tr>
                              <th>搜索</th>
                            </tr> 
                          </thead>
                          <tbody>
                            <tr>
                              <td>

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="username" value="{$_POST['username']}" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                  </div>
                                </div>  

                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td>
                                <!-- <button style="float:left;" class="layui-btn id-btn-dialog2_add" title="id-btn-dialog2_add"> 添加 </button> -->
                                <a style="float:right;" href="{:U('Admin/User/expUser')}" class="layui-btn search_btn" >导出</a>
                                <button style="float:right;" type="submit" class="layui-btn search_btn" id="search_submit" name="submit" title="search_btn">搜索</button>
                              </td>
                            </tr> 
                          </tfoot>
                        </table>
                    </form>
                </div>
                <!-- 搜索  end -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">个人列表</div>
                          <div class="panel-body">
                            <table id="grid-table"></table>
                            <div id="grid-pager"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->

        
        
        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
    
    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/grid.setcolumns.js"></script> -->
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>
    
    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- 模块jqgrid  end -->

    <!-- ace scripts -->
    <script src="__PUBLIC__/Admin/assets/js/jquery.nestable.min.js"></script>


    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

    

    <!-- inline scripts related to this page -->


    <script type="text/javascript">
      $(function(){
          var _username="{$_POST['username']}";

          pageInit(_username);
      });

      //自定义报警列格式
      function statusFormatter(cellvalue, options, rowdata){ 
          if (cellvalue == "1"){
              return '<button class="btn btn-primary btn-xs">正常</button>';
          }else{
              return '<button class="btn btn-danger btn-xs">禁止</button>';
          }
      }

      //自定义报警列格式
      function recommendFormatter(cellvalue, options, rowdata){ 
          if (cellvalue == "1"){
              return '<button class="btn btn-primary btn-xs">推荐</button>';
          }else{
              return '';
          }
      }

      //自定义报警列格式
      function imgFormatter(cellvalue, options, rowdata){ 
          if (cellvalue != ""){
              return '<img class="avatar" style="width:30px;height:30px;" src="'+cellvalue+'" alt="' + cellvalue + '" />';
          }else{
              return '';
          }
      }

      //自定义报警列格式
      function personal_authenticationFormatter(cellvalue, options, rowdata){ 
          if (cellvalue == "0"){
              return '<button class="btn btn-primary btn-xs">未提交</button>';
          }else if(cellvalue == "1"){
              return '<button class="btn btn-danger btn-xs">待审核</button>';
          }else if(cellvalue == "2"){
              return '<button class="btn btn-danger btn-xs">审核通过</button>';
          }else if(cellvalue == "-1"){
              return '<button class="btn btn-danger btn-xs">未通过</button>';
          }
      }

      function pageInit(_username){
        var grid_data=_ajax_user_list(_username);

        jQuery(grid_selector).jqGrid({
          caption: "个人列表",
          data: grid_data,
          datatype: "local",
          colNames:['id', '姓名', '用户名', '邮箱', '手机', '头像', '状态', '个人认证状态', '推荐', '注册时间', '操作'],
          colModel:[
            {name:'id', index:'id', sorttype:"int", align:"center", hidden: true},

            {name:'truename',index:'truename',align:"center",hidden: true},
            {name:'username',index:'username',align:"center"},
            {name:'email',index:'email',align:"center"},
            {name:'phone',index:'phone',align:"center"},
            {name:'img',index:'img',align:"center", formatter: imgFormatter },
            {name:'status',index:'status',align:"center", formatter: statusFormatter },
            {name:'personal_authentication',index:'personal_authentication',align:"center", formatter: personal_authenticationFormatter },
            {name:'recommend',index:'recommend',align:"center", formatter: recommendFormatter },
            {name:'time',index:'time',align:"center"},

            {name:'operates',index:'operates',align:'center',sortable:false,width:200}
          ], 
          rownumbers:true,
          rownumWidth:50,//设置行号列宽度
          shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
          autowidth:true,
          viewrecords : true,
          rowNum:10,
          rowList:[10,20,30],
          pager : pager_selector,
          altRows: true,
          width:'100%',
          height: 450,
          multiselect: false,
          multiboxonly: true,
          sortable: true,
      
          loadComplete : function() {
            var table = this;
            setTimeout(function(){
              updatePagerIcons(table);
            }, 0);
          },

          gridComplete:function(){  //在此事件中循环为每一行添加修改和删除链接
              var ids=jQuery(grid_selector).jqGrid('getDataIDs');
              for(var i=0; i<ids.length; i++){

                  var id=ids[i];   
                  var _rowData = $(grid_selector).jqGrid('getRowData',id);

                  var operates =""; 
                      operates += "<button style='margin-right:5px;' class='btn btn-warm btn-xs id-btn-dialog2_show' data-id='"+_rowData.id+"'>查看</button>";
                      operates += "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit' data-id='"+_rowData.id+"'>编辑</button>";
                      operates += "<button class='btn btn-danger btn-xs id-btn-dialog2_del' data-id='"+_rowData.id+"'>删除</button>";

                  jQuery(grid_selector).jqGrid('setRowData', ids[i], { operates: operates });
              }
          },
        }).navGrid(pager_selector, {
            search: false,
            add: false,
            edit: false,
            del: false,
            refresh: false
        });

        jQuery(grid_selector).closest(".ui-jqgrid-bdiv").css({ "overflow-x" : "hidden" });//去除jqgrid横向滚动条

        //更新分页图标  
        function updatePagerIcons(table) {
          var replacement = 
          {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
        }
      }
    </script>
   
    
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl" type="text/template">
        <tr>
          <td class="center">
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input class="layui-input" placeholder="板料计划时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="板料名称" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2">
                </div>
              </div>
            </div>
            <div class="layui-inline" style="display:none;">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-3">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="数量" autocomplete="off" class="layui-input item-4">
                </div>
              </div>
            </div> 
          </td>
          <td>
          </td>
        </tr>
    </script>

    <script id="j-tmpl_detail_show" type="text/template">
        {{ if(it.code == 0){ }}

            <table class="layui-table">
              <colgroup>
                <col width="50%">
                <col width="50%">
              </colgroup>
              <tbody>
                <tr>
                  <td>姓名</td>
                  <td>{{=it.data.truename}}</td>
                </tr>
                <tr>
                  <td>用户名</td>
                  <td>{{=it.data.username}}</td>
                </tr>
                <tr>
                  <td>身份证1</td>
                  <td>
                    <a href="{{=it.data.sfz_1}}" target="_blank"><img src="{{=it.data.sfz_1}}" style="width: 100%;"></a>
                  </td>
                </tr>
                <tr>
                  <td>身份证2</td>
                  <td>
                    <a href="{{=it.data.sfz_1}}" target="_blank"><img src="{{=it.data.sfz_2}}" style="width: 100%;"></a>
                  </td>
                </tr>
              </tbody>
            </table>

        {{ }else{ }}

                <h2>暂无数据</h2>

        {{ } }}
    </script>
    
    <script src="__PUBLIC__/Admin/doT-master/doT.js"></script>
    <!-- 模板引擎doT.js    end -->



    <!-- ============================= -->
    <style type="text/css">
        .site-demo-upload,
        .site-demo-upload img{width: 200px; height: 200px; border-radius: 100%;margin:0 auto;}
        .site-demo-upload{position: relative; background: #e2e2e2;}
        .site-demo-upload .site-demo-upbar{position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -56px;}
        .site-demo-upload .layui-upload-button{background-color: rgba(0,0,0,.2); color: rgba(255,255,255,1);}
    </style>

    <!-- 确认弹框 start-->
    <div id="dialog-confirm_edit" class="hide">
       <div class="row">
              <form class="layui-form layui-form-pane col-xs-12" id="edit_form">
                  <table class="table table-striped table-bordered table-hover">
                      <tbody id="edit_form_block">
                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline">
                                  <input type="file" id="edit_upload_img" name="img" class="layui-upload-file">
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <img data-src="holder.js/140x140" class="img-thumbnail show_img" alt="140x140" src="" data-holder-rendered="true" style="width: 140px; height: 140px;">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="truename" placeholder="" autocomplete="off" class="layui-input truename">
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="username" placeholder="" autocomplete="off" class="layui-input username">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">推荐</label>
                                <div class="layui-input-inline">
                                  <select name="recommend" id="recommend_select">
                                    <option value="">请选择</option>
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-inline">
                                  <select name="status" id="status_select">
                                    <option value="">请选择</option>
                                    <option value="0">禁止</option>
                                    <option value="1">正常</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2" style="text-align:right;">
                            <input type="hidden" name="img" id="edit_img" class="layui-input img">
                            <input type="hidden" name="id" class="layui-input id">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1_edit">保存</button>
                          </td>
                        </tr>
                      </tfoot>
                  </table>
              </form>
           
        </div>
    </div><!-- #dialog-confirm -->

    
    <!-- 详情 start-->
    <div id="dialog-confirm_show" class="hide">
       
    </div><!-- #dialog-confirm -->
    
  
    <script type="text/javascript">
        $(function(){
            //编辑
            $( "body" ).on('click', '.id-btn-dialog2_edit', function(e) {
              e.preventDefault();

              var _id  = $(this).attr('data-id');
              var _json = _ajax_get_user_info(_id);

              if(_json.code==0){
                  var _user=_json.data;

                  $('#edit_form .truename').val(_user.truename);
                  $('#edit_form .username').val(_user.username);
                  $('#edit_form .id').val(_user.id);
                  $('#edit_form .img').val(_user.img);
                  $('#edit_form .show_img').attr('src', _user.img);

                  if(_user.status==1){
                      $('#status_select option[value=1]').attr('selected',true);
                      $('#status_select option[value=0]').removeAttr('selected');
                  }else{
                      $('#status_select option[value=0]').attr('selected',true);
                      $('#status_select option[value=1]').removeAttr('selected');
                  }

                  if(_user.recommend==1){
                      $('#recommend_select option[value=1]').attr('selected',true);
                      $('#recommend_select option[value=0]').removeAttr('selected');
                  }else{
                      $('#recommend_select option[value=0]').attr('selected',true);
                      $('#recommend_select option[value=1]').removeAttr('selected');
                  }

                  var form = layui.form();
                  form.render();
                   
              }

              $( "#dialog-confirm_edit" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true,
              });

              $("div[aria-describedby='dialog-confirm_edit'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 编辑：</h4></div>");
            });

            //查看
            $( "body" ).on('click', '.id-btn-dialog2_show', function(e) {
              e.preventDefault();

              var _id  = $(this).attr('data-id');
              var _json = _ajax_get_user_info(_id);

              if(_json.code==0){
                  var _user=_json.data;

                  console.log(_user);

                  var tmpl = document.getElementById('j-tmpl_detail_show').innerHTML;
                  var doTtmpl = doT.template(tmpl);
                  var doT_Str=doTtmpl(_json);
                  $('#dialog-confirm_show').html(doT_Str);
              }

              
              $( "#dialog-confirm_show" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                height:500,
                title_html: true,
                buttons: [
                  {
                    html: "<i class='icon-remove bigger-110'></i>&nbsp; 取消",
                    "class" : "btn btn-xs auto_close",
                    click: function() {
                      $( this ).dialog( "close" );
                    }
                  }
                ]
              });

              $("div[aria-describedby='dialog-confirm_show'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 查看：</h4></div>");
            });

            //删除
            $( "body" ).on('click', '.id-btn-dialog2_del', function(e) {
              e.preventDefault();

              if(confirm("确定要删除？")){
                  var ids=$(this).attr('data-id');
                  _ajax_del(ids);
              }
            });

        });
    </script>
    <!-- 确认弹框 end-->

    <script type="text/javascript">
       //获取列表
       function _ajax_user_list(_username){
          var grid_data;
          $.ajax({  
              async:false,
              type:'get',  
              contentType:"application/x-www-form-urlencoded",
              url : "{:U('Admin/User/ajax_get_user_list')}",
              data: {
                username:_username,
                gid:44
              },
              dataType : 'json',
              success  : function(json) { 
                  if(json.code==0){
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              }
          });  
          return grid_data;  
       } 

       //异步获取一条信息
       function _ajax_get_user_info(id){
          
           var _json;
           $.ajax({  
               async:false,
               type:'get',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_get_user_info_by_id')}",
               data: {
                  id:id
               },
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       // layer.msg(json.msg);
                       _json=json;
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步编辑信息
       function _ajax_edit_user(data){
           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_edit_user')}",
               data: data,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       layer.msg(json.msg);
                       _json=json;
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步删除
       function _ajax_del(ids){
           var _RowID='{"ids":"'+ids+'"}';

           var _json;
           $.ajax({  
               type:'post',  
               url : "{:U('Admin/User/ajax_del')}",
               data: _RowID,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       layer.msg(json.msg);
                       var selectRow = $("#grid-table").jqGrid('getGridParam','selrow');
                       $("#grid-table").delRowData(selectRow);
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   layer.msg('error');
               }  
           }); 
       }
    </script>

    <script>
        //layui表单
        layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

          //创建一个编辑器
          var editIndex = layedit.build('LAY_demo_editor');

          //自定义验证规则
          form.verify({
            title: function(value){
              if(value.length < 5){
                return '标题至少得5个字符啊';
              }
            }
            ,truename: function(value){  
              if(value.length < 2){  
                return '请输入真实姓名';  
              }  
            }
            ,username: function(value){  
              if(value.length < 4){  
                return '请输入至少4位的用户名';  
              }  
            }
            ,password: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
              layedit.sync(editIndex);
            }
          });


          //监听提交
          form.on('submit(demo1)', function(data){
            var _keyword=data.field.keyword;
            get_bl_list(_keyword);
            return false;
          });


          //监听提交
          form.on('submit(demo1_search)', function(data){
            layer.alert(JSON.stringify(data.field), {
              title: '最终的提交信息'
            })
            pageInit(_username, _gid);
            return false;
          });

          //监听提交
          form.on('submit(demo1_detail)', function(data){
            alert('demo1_detail');
            console.log(data.field);
            return false;
          });

          //监听提交
          form.on('submit(demo1_add)', function(data){
            var _json=_ajax_add_user(data.field);

            if(_json.code==0){
                $("div[aria-describedby='dialog-confirm_add'] .ui-dialog-titlebar-close").trigger("click");
            }
            return false;
          });

          //监听提交
          form.on('submit(demo1_edit)', function(data){
            var _json=_ajax_edit_user(data.field);

            var _data=_json.data;
            var selectID=$("#grid-table").getGridParam("selrow");

            $("#grid-table").setRowData(selectID, _data);

            if(_json.code==0){
                $("div[aria-describedby='dialog-confirm_edit'] .ui-dialog-titlebar-close").trigger("click");
            }
            return false;
          });
        });
    </script>


    <script>
        layui.use('upload', function(){

          //上传图片
          layui.upload({
             url: "{:U('Admin/User/upload_img')}" //上传接口
             ,elem: '#edit_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
             ,success: function(res){ //上传成功后的回调
               if(res.code==0){
                  $('#edit_form .img').val(res.data.src);
                  $('#edit_form .show_img').attr('src', res.data.src);
               }
             }
          });


        });
    </script>
  </body>
</html>

